In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as web
import seaborn as sns
from datetime import datetime
import yfinance as yf
yf.pdr_override()

In [15]:
tickers = ["PETR4.SA", 'VALE3.SA', 'ITUB4.SA', 'BBAS3.SA', 'BBDC3.SA']
# Baixando os dados dos tickers
carteira = yf.download(tickers, start="2002-01-01",end="2023-12-31")['Adj Close']
# Baixando os dados do índice Ibovespa
ibov = yf.download('^BVSP', start="2002-01-01", end="2023-12-31")['Adj Close']

[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  1 of 1 completed

In [16]:
carteira.ffill(inplace=True)
carteira.bfill(inplace=True)
carteira

             BBAS3.SA   BBDC3.SA   ITUB4.SA   PETR4.SA   VALE3.SA
Date
2002-01-01   0.263994   1.026872   1.617728   1.571675   1.896705
2002-01-02   0.268731   1.026872   1.691356   1.574747   1.860230
2002-01-03   0.272968   1.034690   1.672879   1.585502   1.889410
2002-01-04   0.266736   1.030781   1.645395   1.575669   1.929533
2002-01-07   0.260753   1.034690   1.627104   1.610082   1.929533
...               ...        ...        ...        ...        ...
2023-12-21  26.554211  14.914568  31.443792  33.934216  73.674408
2023-12-22  26.627575  14.951639  31.942450  34.260597  73.119240
2023-12-26  26.872135  15.011247  32.268490  34.810783  73.377686
2023-12-27  26.833008  15.120528  32.489048  34.838757  74.085999
2023-12-28  27.092239  15.180136  32.575352  34.726852  73.894554

[5505 rows x 5 columns]

In [17]:
# Caminho do arquivo JSON com os dados da taxa Selic
caminho_do_arquivo = r'C:\Users\cptfr\Desktop\TCC_B3_OPCOES\dadosselicdiario.json'

# Lendo o arquivo JSON e transformando em DataFrame para manipulação de dados
selic = pd.read_json(caminho_do_arquivo)

# Converte a coluna 'data' do formato string para datetime, facilitando manipulações de data
selic['data'] = pd.to_datetime(selic['data'], format='%d/%m/%Y')

# Renomeia a coluna 'data' para 'Date' para padronização em inglês
selic.rename(columns={'data':'Date'}, inplace=True)

# Define a coluna 'Date' como índice do DataFrame, otimizando buscas e filtragens por data
selic.set_index('Date', inplace=True)

# Cria um novo DataFrame chamado 'selic_valores' contendo apenas a coluna 'valor', agora renomeada para 'SELIC'
selic_valores = pd.DataFrame(selic['valor']).rename(columns={'valor':'SELIC'})
selic_valores.index = pd.to_datetime(selic_valores.index)
selic_valores

               SELIC
Date
2002-01-02  0.069220
2002-01-03  0.069220
2002-01-04  0.069220
2002-01-07  0.069220
2002-01-08  0.069220
...              ...
2023-12-22  0.043739
2023-12-26  0.043739
2023-12-27  0.043739
2023-12-28  0.043739
2023-12-29  0.043739

[5526 rows x 1 columns]

In [18]:
caminho_do_arquivo = r'C:\Users\cptfr\Desktop\TCC_B3_OPCOES\carteiras+estrategias\retornos_straddle_op.json'

# Lendo o arquivo JSON e transformando em DataFrame para manipulação de dados
retornos_straddle = pd.read_json(caminho_do_arquivo)
retornos_straddle.index.name = 'Date'
retornos_straddle.index = pd.to_datetime(retornos_straddle.index, format='%Y%m%d')
retornos_straddle

            OP_PETR  OP_VALE  OP_ITUB  OP_BBAS  OP_BBDC
Date
2002-01-01      NaN      NaN      NaN      NaN      NaN
2002-01-02      0.0      0.0      0.0      0.0      0.0
2002-01-03      0.0      0.0      0.0      0.0      0.0
2002-01-04      0.0      0.0      0.0      0.0      0.0
2002-01-07      0.0      0.0      0.0      0.0      0.0
...             ...      ...      ...      ...      ...
2023-12-21      0.0      0.0      0.0      0.0      0.0
2023-12-22      0.0      0.0      0.0      0.0      0.0
2023-12-26      0.0      0.0      0.0      0.0      0.0
2023-12-27      0.0      0.0      0.0      0.0      0.0
2023-12-28      0.0      0.0      0.0      0.0      0.0

[5505 rows x 5 columns]

In [19]:
carteira = carteira.pct_change()
df_combinado_outer = retornos_straddle.join(carteira, how='outer')
df_combinado_outer

,OP_PETR,OP_VALE,OP_ITUB,OP_BBAS,OP_BBDC,BBAS3.SA,BBDC3.SA,ITUB4.SA,PETR4.SA,VALE3.SA
Date,,,,,,,,,,
2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-02,0.0,0.0,0.0,0.0,0.0,0.017942,0.000000,0.045513,0.001955,-0.019231
2002-01-03,0.0,0.0,0.0,0.0,0.0,0.015770,0.007613,-0.010924,0.006829,0.015686
2002-01-04,0.0,0.0,0.0,0.0,0.0,-0.022831,-0.003778,-0.016429,-0.006202,0.021236
2002-01-07,0.0,0.0,0.0,0.0,0.0,-0.022429,0.003792,-0.011117,0.021841,0.000000
...,...,...,...,...,...,...,...,...,...,...
2023-12-21,0.0,0.0,0.0,0.0,0.0,0.001476,-0.000646,0.006755,0.000275,0.033293
2023-12-22,0.0,0.0,0.0,0.0,0.0,0.002763,0.002486,0.015859,0.009618,-0.007535
2023-12-26,0.0,0.0,0.0,0.0,0.0,0.009184,0.003987,0.010207,0.016059,0.003535
2023-12-27,0.0,0.0,0.0,0.0,0.0,-0.001456,0.007280,0.006835,0.000804,0.009653
2023-12-28,0.0,0.0,0.0,0.0,0.0,0.009661,0.003942,0.002656,-0.003212,-0.002584

In [20]:
df_combinado_outer = df_combinado_outer.join(selic_valores, how='left')
df_combinado_outer

,OP_PETR,OP_VALE,OP_ITUB,OP_BBAS,OP_BBDC,BBAS3.SA,BBDC3.SA,ITUB4.SA,PETR4.SA,VALE3.SA,SELIC
Date,,,,,,,,,,,
2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-02,0.0,0.0,0.0,0.0,0.0,0.017942,0.000000,0.045513,0.001955,-0.019231,0.069220
2002-01-03,0.0,0.0,0.0,0.0,0.0,0.015770,0.007613,-0.010924,0.006829,0.015686,0.069220
2002-01-04,0.0,0.0,0.0,0.0,0.0,-0.022831,-0.003778,-0.016429,-0.006202,0.021236,0.069220
2002-01-07,0.0,0.0,0.0,0.0,0.0,-0.022429,0.003792,-0.011117,0.021841,0.000000,0.069220
...,...,...,...,...,...,...,...,...,...,...,...
2023-12-21,0.0,0.0,0.0,0.0,0.0,0.001476,-0.000646,0.006755,0.000275,0.033293,0.043739
2023-12-22,0.0,0.0,0.0,0.0,0.0,0.002763,0.002486,0.015859,0.009618,-0.007535,0.043739
2023-12-26,0.0,0.0,0.0,0.0,0.0,0.009184,0.003987,0.010207,0.016059,0.003535,0.043739
2023-12-27,0.0,0.0,0.0,0.0,0.0,-0.001456,0.007280,0.006835,0.000804,0.009653,0.043739
2023-12-28,0.0,0.0,0.0,0.0,0.0,0.009661,0.003942,0.002656,-0.003212,-0.002584,0.043739

In [21]:
def preencher_nans(df):
    # Preenche NaNs com o valor anterior (forward fill)
    df.ffill(inplace=True)
    # Para os casos onde o primeiro valor é NaN, preenche com o valor seguinte (backward fill)
    df.bfill(inplace=True)
    return df

In [22]:
carteiras_normalizadas = {}  # Dicionário para armazenar as carteiras de cada ano
valor_selic = 20000 
valor_acoes = 5000
valor_opcoes = 1000

In [23]:
acoes_lista = ['BBAS3.SA','BBDC3.SA','ITUB4.SA','PETR4.SA','VALE3.SA']
opcoes_lista = ['OP_PETR','OP_VALE','OP_ITUB','OP_BBAS','OP_BBDC']
for ano in range(2002, 2024):
    # Filtrar dados do ano atual e preencher NaNs
    carteira_ano = preencher_nans(df_combinado_outer[f'{ano}-01-01':f'{ano}-12-31'].copy())
    # Se for o primeiro ano, normalizar com base no primeiro valor
    carteira_normalizada = pd.DataFrame(index=carteira_ano.index,columns=['SELIC','BBAS3.SA','BBDC3.SA',
                                                                          'ITUB4.SA','PETR4.SA','VALE3.SA','OP_PETR','OP_VALE','OP_ITUB','OP_BBAS','OP_BBDC','SomaAcoes','Saldo'])
    if ano == 2002:
        carteira_normalizada['SELIC'].iloc[0] = valor_selic
        for coluna in carteira_ano.columns:
            if coluna == 'SELIC':
                for i in range(1,len(carteira_ano)):
                    carteira_normalizada[coluna].iloc[i] = (carteira_normalizada[coluna].iloc[i-1] * (carteira_ano[coluna].iloc[i]/100)) + carteira_normalizada[coluna].iloc[i-1]
            elif coluna in acoes_lista:
                carteira_normalizada[coluna].iloc[0] = valor_acoes
                for i in range(1,len(carteira_ano)):
                    carteira_normalizada[coluna].iloc[i] = (carteira_normalizada[coluna].iloc[i-1] * (carteira_ano[coluna].iloc[i])) + carteira_normalizada[coluna].iloc[i-1]
            elif coluna in opcoes_lista:
                carteira_normalizada[coluna].iloc[0] = valor_opcoes
                for i in range(1,len(carteira_ano)):
                    carteira_normalizada[coluna].iloc[i] = (carteira_normalizada[coluna].iloc[i-1] * (carteira_ano[coluna].iloc[i])) + carteira_normalizada[coluna].iloc[i-1]

        carteira_normalizada['SomaAcoes'] = carteira_normalizada.loc[:,['BBAS3.SA','BBDC3.SA','ITUB4.SA','PETR4.SA','VALE3.SA','OP_PETR','OP_VALE','OP_ITUB','OP_BBAS','OP_BBDC']].sum(axis=1)
        carteira_normalizada['Saldo'] = carteira_normalizada.loc[:,['SomaAcoes','SELIC']].sum(axis=1)
        saldo_final = carteira_normalizada.iloc[-1]['Saldo']
        print(carteira_normalizada)
    else:
        carteira_normalizada['SELIC'].iloc[0] = saldo_final * 0.4
        for coluna in carteira_ano.columns:
            if coluna == 'SELIC':
                for i in range(1,len(carteira_ano)):
                    carteira_normalizada[coluna].iloc[i] = (carteira_normalizada[coluna].iloc[i-1] * (carteira_ano[coluna].iloc[i]/100)) + carteira_normalizada[coluna].iloc[i-1]
            elif coluna in acoes_lista:
                carteira_normalizada[coluna].iloc[0] = (saldo_final * 0.6)/6
                for i in range(1,len(carteira_ano)):
                    carteira_normalizada[coluna].iloc[i] = (carteira_normalizada[coluna].iloc[i-1] * (carteira_ano[coluna].iloc[i])) + carteira_normalizada[coluna].iloc[i-1]
            elif coluna in opcoes_lista: 
                carteira_normalizada[coluna].iloc[0] = (((saldo_final * 0.6)/6)/5)
                for i in range(1,len(carteira_ano)):
                    carteira_normalizada[coluna].iloc[i] = (carteira_normalizada[coluna].iloc[i-1] * (carteira_ano[coluna].iloc[i])) + carteira_normalizada[coluna].iloc[i-1]
        carteira_normalizada['SomaAcoes'] = carteira_normalizada.loc[:,['BBAS3.SA','BBDC3.SA','ITUB4.SA','PETR4.SA','VALE3.SA','OP_PETR','OP_VALE','OP_ITUB','OP_BBAS','OP_BBDC']].sum(axis=1)
        carteira_normalizada['Saldo'] = carteira_normalizada.loc[:,['SomaAcoes','SELIC']].sum(axis=1)
        saldo_final = carteira_normalizada.iloc[-1]['Saldo']
    carteiras_normalizadas[ano] = carteira_normalizada
print(carteiras_normalizadas)
carteira_total = pd.concat(carteiras_normalizadas.values())

                   SELIC     BBAS3.SA     BBDC3.SA     ITUB4.SA     PETR4.SA  \
Date
2002-01-01         20000         5000         5000         5000         5000
2002-01-02     20013.844   5089.70871       5000.0  5227.567083  5009.774225
2002-01-03  20027.697583  5169.971902  5038.066981  5170.460047  5043.988372
2002-01-04  20041.560755  5051.933977  5019.034071  5085.514649  5012.705771
2002-01-07  20055.433523  4938.621634  5038.066981  5028.979442  5122.185962
...                  ...          ...          ...          ...          ...
2002-12-25  23870.217917  4645.893283  4276.648715  4829.817762  4766.371646
2002-12-26  23891.288158  4627.006763  4225.889064  4774.414055  4682.304895
2002-12-27  23912.376998  4579.789618   4568.52933  4794.305759  4560.116658
2002-12-30  23933.484453  4627.006763  4854.060418  4872.431208  4535.678631
2002-12-31   23954.61054  4627.006763  4854.060418  4872.431208  4535.678631

               VALE3.SA OP_PETR OP_VALE OP_ITUB OP_BBAS OP_BBDC     SomaAcoes  \
Date
2002-01-01         5000    1000    1000    1000    1000    1000  30000.000000
2002-01-02  4903.846577  1000.0  1000.0  1000.0  1000.0  1000.0  30230.896594
2002-01-03   4980.76831  1000.0  1000.0  1000.0  1000.0  1000.0  30403.255611
2002-01-04  5086.538835  1000.0  1000.0  1000.0  1000.0  1000.0  30255.727303
2002-01-07  5086.538835  1000.0  1000.0  1000.0  1000.0  1000.0  30214.392854
...                 ...     ...     ...     ...     ...     ...           ...
2002-12-25  9625.961569  1000.0  1000.0  1000.0  1000.0  1000.0  33144.692974
2002-12-26  9807.693154  1000.0  1000.0  1000.0  1000.0  1000.0  33117.307932
2002-12-27  9807.693154  1000.0  1000.0  1000.0  1000.0  1000.0  33310.434519
2002-12-30   9894.23356  1000.0  1000.0  1000.0  1000.0  1000.0  33783.410580
2002-12-31   9894.23356  1000.0  1000.0  1000.0  1000.0  1000.0  33783.410580

                   Saldo
Date
2002-01-01  50000.000000
2002-01-02  50244.740594
2002-01-03  50430.953194
2002-01-04  50297.288058
2002-01-07  50269.826377
...                  ...
2002-12-25  57014.910891
2002-12-26  57008.596090
2002-12-27  57222.811517
2002-12-30  57716.895034
2002-12-31  57738.021120

[261 rows x 13 columns]
{2002:                    SELIC     BBAS3.SA     BBDC3.SA     ITUB4.SA     PETR4.SA  \
Date
2002-01-01         20000         5000         5000         5000         5000
2002-01-02     20013.844   5089.70871       5000.0  5227.567083  5009.774225
2002-01-03  20027.697583  5169.971902  5038.066981  5170.460047  5043.988372
2002-01-04  20041.560755  5051.933977  5019.034071  5085.514649  5012.705771
2002-01-07  20055.433523  4938.621634  5038.066981  5028.979442  5122.185962
...                  ...          ...          ...          ...          ...
2002-12-25  23870.217917  4645.893283  4276.648715  4829.817762  4766.371646
2002-12-26  23891.288158  4627.006763  4225.889064  4774.414055  4682.304895
2002-12-27  23912.376998  4579.789618   4568.52933  4794.305759  4560.116658
2002-12-30  23933.484453  4627.006763  4854.060418  4872.431208  4535.678631
2002-12-31   23954.61054  4627.006763  4854.060418  4872.431208  4535.678631

               VALE3.SA OP_PETR OP_VALE OP_ITUB OP_BBAS OP_BBDC     SomaAcoes  \
Date
2002-01-01         5000    1000    1000    1000    1000    1000  30000.000000
2002-01-02  4903.846577  1000.0  1000.0  1000.0  1000.0  1000.0  30230.896594
2002-01-03   4980.76831  1000.0  1000.0  1000.0  1000.0  1000.0  30403.255611
2002-01-04  5086.538835  1000.0  1000.0  1000.0  1000.0  1000.0  30255.727303
2002-01-07  5086.538835  1000.0  1000.0  1000.0  1000.0  1000.0  30214.392854
...                 ...     ...     ...     ...     ...     ...           ...
2002-12-25  9625.961569  1000.0  1000.0  1000.0  1000.0  1000.0  33144.692974
2002-12-26  9807.693154  1000.0  1000.0  1000.0  1000.0  1000.0  33117.307932
2002-12-27  9807.693154  1000.0  1000.0  1000.0  1000.0  1000.0  33310.434519
2002-12-30   9894.23356  1000.0  1000.0  1000.0  1000.0  1000.0  33783.410580
2002-12-31   9894.23356  1000.0  1000.0  1000.0  1000.0  1000.0  33783.410580

                   Saldo
Date
2002-01-01  50000.000000
2002-01-02  50244.740594
2002-01-03  50430.953194
2002-01-04  50297.288058
2002-01-07  50269.826377
...                  ...
2002-12-25  57014.910891
2002-12-26  57008.596090
2002-12-27  57222.811517
2002-12-30  57716.895034
2002-12-31  57738.021120

[261 rows x 13 columns], 2003:                    SELIC      BBAS3.SA     BBDC3.SA     ITUB4.SA     PETR4.SA  \
Date
2003-01-01  23095.208448   5773.802112  5773.802112  5773.802112  5773.802112
2003-01-02  23115.594589   5797.369622  5539.832884   5655.97012  5860.905707
2003-01-03  23135.998724   5791.476335  5494.548874  5731.721035  5836.018621
2003-01-06   23156.42087   5832.718421  5539.832884  5935.404414  6109.775606
2003-01-07  23176.861043   5862.176047  5728.519828   5790.63725  5970.408212
...                  ...           ...          ...          ...          ...
2003-12-25  28594.124238  14051.542231    7411.5981  9661.945682  9444.643251
2003-12-26  28611.302444  13845.346949  7517.261711  9527.288157  9322.698411
2003-12-29  28628.490971  13809.988641  7555.004831  9695.952145   9511.83853
2003-12-30  28645.680089  14139.929548  7615.380289  9662.288855  9506.862174
2003-12-31  28662.879528  14139.929548  7615.380289  9662.288855  9506.862174

               VALE3.SA      OP_PETR      OP_VALE      OP_ITUB      OP_BBAS  \
Date
2003-01-01  5773.802112  1154.760422  1154.760422  1154.760422  1154.760422
2003-01-02  5723.301264  1154.760422  1154.760422  1154.760422  1154.760422
2003-01-03  5535.891523  1154.760422  1154.760422  1154.760422  1154.760422
2003-01-06  5498.856884  1154.760422  1154.760422  1154.760422  1154.760422
2003-01-07  5347.920629  1154.760422  1154.760422  1154.760422  1154.760422
...                 ...          ...          ...          ...          ...
2003-12-25   9364.89313  1951.545114  1154.760422  1154.760422  1154.760422
2003-12-26  9527.612867  1951.545114  1154.760422  1154.760422  1154.760422
2003-12-29  9566.892853  1951.545114  1154.760422  1154.760422  1154.760422
2003-12-30  9510.781207  1951.545114  1154.760422  1154.760422  1154.760422
2003-12-31  9510.781207  1951.545114  1154.760422  1154.760422  1154.760422

                OP_BBDC     SomaAcoes         Saldo
Date
2003-01-01  1154.760422  34642.812672  57738.021120
2003-01-02  1154.760422  34351.181709  57466.776298
2003-01-03  1154.760422  34163.458501  57299.457225
2003-01-06  1154.760422  34690.390321  57846.811191
2003-01-07  1154.760422  34473.464077  57650.325120
...                 ...           ...           ...
2003-12-25  1154.760422  56505.209198  85099.333437
2003-12-26  1154.760422  56310.794899  84922.097344
2003-12-29  1154.760422  56710.263803  85338.754773
2003-12-30  1154.760422  57005.828878  85651.508967
2003-12-31  1154.760422  57005.828878  85668.708406

[261 rows x 13 columns], 2004:                    SELIC      BBAS3.SA     BBDC3.SA      ITUB4.SA  \
Date
2004-01-01  34267.483362   8566.870841  8566.870841   8566.870841
2004-01-02  34288.069896   8459.784006  8532.913688   8350.454535
2004-01-05  34308.668797   9155.844592  8855.545475   8954.914957
2004-01-06  34329.280073   9494.940243  8626.306732   8954.914957
2004-01-07  34349.892059   9262.926307  8473.480127   9059.387122
...                  ...           ...          ...           ...
2004-12-27   39920.98388  11690.204572  9339.500146  11939.885835
2004-12-28  39946.863057  11779.442605  9252.903969  12059.288789
2004-12-29   39972.75901  11793.719598  9594.230831  11999.585763
2004-12-30  39998.685342  11600.965685   9679.12915  11910.043613
2004-12-31  40024.628489  11600.965685   9679.12915  11910.043613

                PETR4.SA      VALE3.SA      OP_PETR      OP_VALE      OP_ITUB  \
Date
2004-01-01   8566.870841   8566.870841  1713.374168  1713.374168  1713.374168
2004-01-02   8880.837478     8819.5794  1713.374168  1713.374168  1713.374168
2004-01-05   9396.646275   9097.560996  1713.374168  1713.374168  1713.374168
2004-01-06   9890.024781   9087.449799  1713.374168  1713.374168  1713.374168
2004-01-07   9785.744814   8642.684664  1713.374168  1713.374168  1713.374168
...                  ...           ...          ...          ...          ...
2004-12-27  10849.875017   11368.91782  1713.374168  1713.374168  1713.374168
2004-12-28   10865.57274  11675.207198  1713.374168  1713.374168  1713.374168
2004-12-29   10975.46202  11538.739409  1713.374168  1713.374168  1713.374168
2004-12-30  10893.604512   11447.76705  1713.374168  1713.374168  1713.374168
2004-12-31  10893.604512   11447.76705  1713.374168  1713.374168  1713.374168

                OP_BBAS      OP_BBDC     SomaAcoes          Saldo
Date
2004-01-01  1713.374168  1713.374168  51401.225044   85668.708406
2004-01-02  1713.374168  1713.374168  51610.439947   85898.509843
2004-01-05  1713.374168  1713.374168  54027.383135   88336.051932
2004-01-06  1713.374168  1713.374168  54620.507353   88949.787425
2004-01-07  1713.374168  1713.374168  53791.093873   88140.985932
...                 ...          ...           ...            ...
2004-12-27  1713.374168  1713.374168  63755.254229  103676.238109
2004-12-28  1713.374168  1713.374168  64199.286141  104146.149198
2004-12-29  1713.374168  1713.374168  64468.608462  104441.367472
2004-12-30  1713.374168  1713.374168  64098.380850  104097.066192
2004-12-31  1713.374168  1713.374168  64098.380850  104123.009339

[261 rows x 13 columns], 2005:                    SELIC      BBAS3.SA      BBDC3.SA      ITUB4.SA  \
Date
2005-01-03  41649.203736  10412.300934  10412.300934  10412.300934
2005-01-04  41676.203248  10159.878673  10042.223893  10284.454988
2005-01-05  41703.220264  10002.119853   9670.286588  10182.378525
2005-01-06  41730.254794   9875.905705   9391.333608  10054.778148
2005-01-07  41757.306849   9781.249809    9595.90406  10042.017845
...                  ...           ...           ...           ...
2005-12-23  49355.526062  13441.331848  24640.659366  14546.249741
2005-12-26  49388.019766  13403.470395  23952.556978  14204.279194
2005-12-27  49420.534863  13412.941416   23989.75377  14316.566943
2005-12-28  49453.071366  13315.129016  23617.833477  14265.528381
2005-12-29  49485.646104  13315.129016   23986.04685  14367.606829

                PETR4.SA      VALE3.SA      OP_PETR      OP_VALE      OP_ITUB  \
Date
2005-01-03  10412.300934  10412.300934  2082.460187  2082.460187  2082.460187
2005-01-04  10288.502638   9988.017977  2082.460187  2082.460187  2082.460187
2005-01-05  10248.712871    9918.46399  2082.460187  2082.460187  2082.460187
2005-01-06   10279.66266   9876.730386  2082.460187  2082.460187  2082.460187
2005-01-07  10324.981809  10141.037354  2082.460187  2082.460187  2082.460187
...                  ...           ...          ...          ...          ...
2005-12-23  16685.368292  13298.809573  1457.722131  1589.958353  2082.460187
2005-12-26  16635.292519  13194.479805  1457.722131  1589.958353  2082.460187
2005-12-27  16526.029114  13254.298416  1457.722131  1589.958353  2082.460187
2005-12-28  16799.185911  13312.721583  1457.722131  1589.958353  2082.460187
2005-12-29  16940.316809  13284.902413  1457.722131  1589.958353  2082.460187

                OP_BBAS      OP_BBDC     SomaAcoes          Saldo
Date
2005-01-03  2082.460187  2082.460187  62473.805603  104123.009339
2005-01-04  2082.460187  2082.460187  61175.379104  102851.582352
2005-01-05  2082.460187  2082.460187  60434.262761  102137.483025
2005-01-06  2082.460187  2082.460187  59890.711440  101620.966234
2005-01-07  2082.460187  2082.460187  60297.491811  102054.798660
...                 ...          ...           ...            ...
2005-12-23  2082.460187  2082.460187  91907.479863  141263.005925
2005-12-26  2082.460187  2082.460187  90685.139934  140073.159700
2005-12-27  2082.460187  2082.460187  90794.650704  140215.185566
2005-12-28  2082.460187  2082.460187  90605.459412  140058.530778
2005-12-29  2082.460187  2082.460187  91189.062961  140674.709065

[249 rows x 13 columns], 2006:                    SELIC      BBAS3.SA      BBDC3.SA      ITUB4.SA  \
Date
2006-01-02  56269.883626  14067.470907  14067.470907  14067.470907
2006-01-03  56306.816364  14375.521382  14577.001701  14454.065471
2006-01-04  56343.754199  16326.472267  14687.764992  14865.625202
2006-01-05  56380.697108   16812.50448  14687.764992  14765.852518
2006-01-06  56417.645634  17473.104139  14864.980583  15289.635816
...                  ...           ...           ...           ...
2006-12-21  64918.422897  21587.241846   17188.90104  18856.401853
2006-12-22  64950.348479  21220.999493  16945.197684  18656.860368
2006-12-26  64982.289761  21357.909907  17279.727931  18856.401853
2006-12-27  65014.224008  21768.650967  17711.709932  19205.581661
2006-12-28  65046.196703  21905.545013  18376.303863  19305.360813

                PETR4.SA      VALE3.SA      OP_PETR      OP_VALE      OP_ITUB  \
Date
2006-01-02  14067.470907  14067.470907  2813.494181  2813.494181  2813.494181
2006-01-03  14510.655599  14625.472311  2813.494181  2813.494181  2813.494181
2006-01-04  14580.826326  14853.083738  2813.494181  2813.494181  2813.494181
2006-01-05  14551.276929  14831.055009  2813.494181  2813.494181  2813.494181
2006-01-06  15086.796797  15008.732262  2813.494181  2813.494181  2813.494181
...                  ...           ...          ...          ...          ...
2006-12-21  18391.718782  18384.632058  4161.551783  2813.494181  2813.494181
2006-12-22  18323.245414  18414.000284  4161.551783  2813.494181  2813.494181
2006-12-26  18479.204756  18446.306867  4161.551783  2813.494181  2813.494181
2006-12-27  18905.242977  18883.894452  4161.551783  2813.494181  2813.494181
2006-12-28  18943.279163  18707.690218  4161.551783  2813.494181  2813.494181

                OP_BBAS      OP_BBDC      SomaAcoes          Saldo
Date
2006-01-02  2813.494181  2813.494181   84404.825439  140674.709065
2006-01-03  2813.494181  2813.494181   86610.187371  142917.003735
2006-01-04  2813.494181  2813.494181   89381.243431  145724.997629
2006-01-05  2813.494181  2813.494181   89715.924835  146096.621943
2006-01-06  2813.494181  2813.494181   91790.720503  148208.366138
...                 ...          ...            ...            ...
2006-12-21  2813.494181  2813.494181  109824.424087  174742.846984
2006-12-22  2813.494181  2813.494181  108975.831751  173926.180229
2006-12-26  2813.494181  2813.494181  109835.079822  174817.369583
2006-12-27  2813.494181  2813.494181  111890.608498  176904.832505
2006-12-28  2813.494181  2813.494181  112653.707578  177699.904281

[258 rows x 13 columns], 2007:                    SELIC      BBAS3.SA      BBDC3.SA      ITUB4.SA  \
Date
2007-01-02  71079.961712  17769.990428  17769.990428  17769.990428
2007-01-03  71114.892538   17450.97748   17579.38537   17876.68949
2007-01-04   71149.86542   18086.29235  17645.034219  17706.430717
2007-01-05  71184.855501  17302.276973  16933.384653  17025.414468
2007-01-08  71219.862789  17707.803595  17473.473005  17393.168188
...                  ...           ...           ...           ...
2007-12-20  79174.961643  25223.474523  22416.905159  21134.207401
2007-12-21  79208.266591  25223.474523  22425.346916  21116.058586
2007-12-26  79241.585548  25385.699134  22641.395431  21565.537318
2007-12-27  79274.918521  25369.474346  22027.171911  21225.031549
2007-12-28  79308.265516  24655.743976  21815.374305  20657.498382

                PETR4.SA      VALE3.SA      OP_PETR      OP_VALE      OP_ITUB  \
Date
2007-01-02  17769.990428  17769.990428  3553.998086  3553.998086  3553.998086
2007-01-03  17229.688725  16900.508337  3553.998086  3553.998086  3553.998086
2007-01-04  16844.768102  16628.797774  3553.998086  3553.998086  3553.998086
2007-01-05  16332.716701  15922.342021  3553.998086  3553.998086  3553.998086
2007-01-08  16523.410974  16520.114733  3553.998086  3553.998086  3553.998086
...                  ...           ...          ...          ...          ...
2007-12-20  30494.784154  32138.140449  1741.459062  3553.998086  3553.998086
2007-12-21  30854.013274  32502.233551  1741.459062  3553.998086  3553.998086
2007-12-26  31677.704173  33089.136893  1741.459062  3553.998086  3553.998086
2007-12-27  31329.361626  32388.112273  1741.459062  3553.998086  3553.998086
2007-12-28  32076.843993  32230.530092  1741.459062  3553.998086  3553.998086

                OP_BBAS      OP_BBDC      SomaAcoes          Saldo
Date
2007-01-02  3553.998086  3553.998086  106619.942569  177699.904281
2007-01-03  3553.998086  3553.998086  104807.239830  175922.132368
2007-01-04  3553.998086  3553.998086  104681.313590  175831.179010
2007-01-05  3553.998086  3553.998086  101286.125244  172470.980745
2007-01-08  3553.998086  3553.998086  103387.960922  174607.823711
...                 ...          ...            ...            ...
2007-12-20  3553.998086  3553.998086  147364.963090  226539.924734
2007-12-21  3553.998086  3553.998086  148078.578254  227286.844846
2007-12-26  3553.998086  3553.998086  150316.924354  229558.509903
2007-12-27  3553.998086  3553.998086  148296.603109  227571.521630
2007-12-28  3553.998086  3553.998086  147393.442153  226701.707668

[245 rows x 13 columns], 2008:                     SELIC      BBAS3.SA      BBDC3.SA      ITUB4.SA  \
Date
2008-01-02   90680.683067  22670.170767  22670.170767  22670.170767
2008-01-03   90718.827897  22327.832539  22391.561003  22243.017896
2008-01-04   90756.988772  22069.178067  22862.975018  22399.300092
2008-01-07   90795.133026  22594.104767   23089.24952  22399.300092
2008-01-08   90833.293313  23058.145199   23612.50944  22607.670048
...                   ...           ...           ...           ...
2008-12-22   101505.12011  11449.194084  14316.311173  17880.372092
2008-12-23  101556.708057  10650.417416  13803.748109  16936.212533
2008-12-26  101608.322223  10650.417416   13689.83263  16864.590512
2008-12-29   101659.96262  10650.417416   13867.80421  16864.590512
2008-12-30  101711.629263  11167.720297  14230.878606  16994.813965

                PETR4.SA      VALE3.SA      OP_PETR      OP_VALE      OP_ITUB  \
Date
2008-01-02  22670.170767  22670.170767  4534.034153  4534.034153  4534.034153
2008-01-03  22305.362642  22787.635435  4534.034153  4534.034153  4534.034153
2008-01-04   21210.94008  21965.406646  4534.034153  4534.034153  4534.034153
2008-01-07  20588.161103  21573.860596  4534.034153  4534.034153  4534.034153
2008-01-08  21719.071186  22004.556985  4534.034153  4534.034153  4534.034153
...                  ...           ...          ...          ...          ...
2008-12-22  11612.606294  10659.264293  5894.244399  5894.244399  4534.034153
2008-12-23  11539.176178  10254.784436  5894.244399  5894.244399  4534.034153
2008-12-26   11958.78176  10746.507991  5894.244399  5894.244399  4534.034153
2008-12-29    11834.0307  10722.715961  5894.244399  5894.244399  4534.034153
2008-12-30  12002.187859  10980.475033  5894.244399  5894.244399  4534.034153

                OP_BBAS      OP_BBDC      SomaAcoes          Saldo
Date
2008-01-02  4534.034153  4534.034153  136021.024601  226701.707668
2008-01-03  4534.034153  4534.034153  134725.580282  225444.408179
2008-01-04  4534.034153  4534.034153  133177.970669  223934.959441
2008-01-07  4534.034153  4534.034153  132914.846846  223709.979872
2008-01-08  4534.034153  4534.034153  135672.123626  226505.416938
...                 ...          ...            ...            ...
2008-12-22  4534.034153  4534.034153   91308.339194  192813.459304
2008-12-23  4534.034153  4534.034153   88574.929930  190131.637988
2008-12-26  4534.034153  4534.034153   89300.721568  190909.043791
2008-12-29  4534.034153  4534.034153   89330.150058  190990.112678
2008-12-30  4534.034153  4534.034153   90766.667019  192478.296282

[249 rows x 13 columns], 2009:                    SELIC      BBAS3.SA      BBDC3.SA      ITUB4.SA  \