In [175]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as web
import seaborn as sns
from datetime import datetime
import yfinance as yf
yf.pdr_override()

In [176]:
# Lista de tickers
tickers = ["PETR4.SA", 'VALE3.SA', 'ITUB4.SA', 'BBAS3.SA', 'BBDC3.SA']

# Baixando os dados dos tickers
carteira_compra = yf.download(tickers, start="2002-01-01", end="2023-12-31")['Close']
carteira = yf.download(tickers, start="2002-01-01", end="2023-12-31")['Adj Close']

# Baixando os dados do índice Ibovespa
ibov = yf.download('^BVSP', start="2002-01-01", end="2023-12-31")['Adj Close']

[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  1 of 1 completed

In [177]:
resultados_vendacoberta = pd.read_json(r'C:\Users\cptfr\Desktop\TCC_B3_OPCOES\estrategias\resultados_vendacoberta.json')
resultados_vendacoberta['Data_Vencimento'] = pd.to_datetime(resultados_vendacoberta['Data_Vencimento'], format='%Y%m%d')
print(resultados_vendacoberta)

    Data_Entrada Data_Vencimento  Tipo     Ativo  ResultadosTotais
0       20041001      2004-11-16  CALL  PETR4.SA              0.56
1       20050919      2005-10-17  CALL  PETR4.SA              1.55
2       20070102      2007-02-12  CALL  PETR4.SA              0.03
3       20080519      2008-06-16  CALL  PETR4.SA              0.15
4       20090918      2009-10-19  CALL  BBDC3.SA              1.00
5       20130102      2013-02-18  CALL  BBAS3.SA              0.38
6       20131031      2013-12-16  CALL  BBAS3.SA              0.10
7       20140722      2014-09-15  CALL  BBAS3.SA              0.35
8       20140828      2014-10-20  CALL  BBAS3.SA              0.50
9       20161021      2016-12-19  CALL  PETR4.SA              1.00
10      20170921      2017-11-21  CALL  BBAS3.SA              0.55
11      20180122      2018-03-19  CALL  PETR4.SA              0.05
12      20180511      2018-06-18  CALL  VALE3.SA              0.23
13      20180201      2018-03-19  CALL  BBAS3.SA              0.84
14      20180117      2018-03-19  CALL  BBDC3.SA              0.41
15      20190205      2019-03-18  CALL  BBAS3.SA              0.33
16      20210105      2021-02-22  CALL  VALE3.SA              0.54
17      20210607      2021-07-16  CALL  ITUB4.SA              0.10
18      20210602      2021-07-16  CALL  BBAS3.SA              0.03
19      20220812      2022-09-16  CALL  ITUB4.SA              0.02
20      20220808      2022-09-16  CALL  BBAS3.SA              0.09
21      20230612      2023-07-21  CALL  PETR4.SA              0.02
22      20230612      2023-07-21  CALL  BBAS3.SA              0.07

In [178]:
acoes_num = (10000/ carteira_compra.iloc[0]).astype(int)
acoes_num
#acoes_num['PETR4.SA']

BBAS3.SA    5665
BBDC3.SA    5200
ITUB4.SA    3431
PETR4.SA    1564
VALE3.SA    2307
Name: 2002-01-01 00:00:00, dtype: int32

In [179]:
carteira

             BBAS3.SA   BBDC3.SA   ITUB4.SA   PETR4.SA   VALE3.SA
Date
2002-01-01   0.263994   1.026872   1.617728   1.571674   1.896705
2002-01-02   0.268730   1.026872   1.691356   1.574747   1.860231
2002-01-03   0.272968   1.034690   1.672880   1.585501   1.889411
2002-01-04   0.266736   1.030781   1.645396   1.575669   1.929533
2002-01-07   0.260753   1.034690   1.627102   1.610083   1.929533
...               ...        ...        ...        ...        ...
2023-12-21  26.554209  14.914568  31.443792  33.934216  73.674408
2023-12-22  26.627577  14.951638  31.942442  34.260597  73.119240
2023-12-26  26.872135  15.011246  32.268486  34.810783  73.377686
2023-12-27  26.833006  15.120528  32.489048  34.838757  74.085999
2023-12-28  27.092237  15.180136  32.575352  34.726852  73.894554

[5505 rows x 5 columns]

In [180]:
def preencher_nans(df):
    # Preenche NaNs com o valor anterior (forward fill)
    df.ffill(inplace=True)
    # Para os casos onde o primeiro valor é NaN, preenche com o valor seguinte (backward fill)
    df.bfill(inplace=True)
    return df

In [181]:
inicio_2002 = '2002-01-01'
fim_2002 = '2002-12-31'

carteira_geral1 = carteira.loc[inicio_2002:fim_2002]
carteira_normalizada_2002 = (carteira_geral1 / carteira_geral1.iloc[0])*10000
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2002['saldo'] = carteira_normalizada_2002.sum(axis=1)
valores_ult_2002 = carteira_normalizada_2002['saldo'][-1] / (len(carteira_normalizada_2002.columns) -1)
print(carteira_normalizada_2002)
print(valores_ult_2002)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2002-01-01  10000.000000  10000.000000  10000.000000  10000.000000
2002-01-02  10179.407239  10000.000000  10455.133429  10019.554529
2002-01-03  10339.943765  10076.137435  10340.925989  10087.976798
2002-01-04  10103.866814  10038.066976  10171.030771  10025.417626
2002-01-07   9877.234251  10076.137435  10057.951516  10244.384207
...                  ...           ...           ...           ...
2002-12-25   9291.787774   8553.292954   9659.638471   9532.748318
2002-12-26   9254.009095   8451.784113   9548.836217   9364.616990
2002-12-27   9159.581024   9137.055858   9588.604148   9120.235816
2002-12-30   9254.009095   9708.115646   9744.874206   9071.361250
2002-12-31   9254.009095   9708.115646   9744.874206   9071.361250

                VALE3.SA         saldo
Date
2002-01-01  10000.000000  50000.000000
2002-01-02   9807.695656  50461.790852
2002-01-03   9961.541645  50806.525632
2002-01-04  10173.079566  50511.461754
2002-01-07  10173.079566  50428.786975
...                  ...           ...
2002-12-25  19251.926862  56289.394379
2002-12-26  19615.391311  56234.637726
2002-12-27  19615.391311  56620.868158
2002-12-30  19788.467107  57566.827304
2002-12-31  19788.467107  57566.827304

[261 rows x 6 columns]
11513.365460740224

In [182]:
inicio_2003 = '2003-01-01'
fim_2003 = '2003-12-31'

carteira_geral2 = carteira.loc[inicio_2003:fim_2003]
carteira_normalizada_2003 = (carteira_geral2 / carteira_geral2.iloc[0])*valores_ult_2002
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2003['saldo'] = carteira_normalizada_2003.sum(axis=1)
print(len(carteira_normalizada_2003.columns))
valores_ult_2003 = carteira_normalizada_2003['saldo'][-1] / (len(carteira_normalizada_2003.columns) -1)
print(carteira_normalizada_2003)
print(valores_ult_2003)

6
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2003-01-01  11513.365461  11513.365461  11513.365461  11513.365461
2003-01-02  11560.367764  11046.808745  11278.395283  11687.058080
2003-01-03  11548.609814  10956.518859  11429.438150  11637.431480
2003-01-06  11630.853662  11046.808745  11835.604406  12183.319268
2003-01-07  11689.590740  11423.075575  11546.928898  11905.413773
...                  ...           ...           ...           ...
2003-12-25  28019.777214  14779.255589  19266.584709  18833.288503
2003-12-26  27608.575533  14989.964574  18998.040646  18590.118066
2003-12-29  27538.085421  15065.209128  19334.392411  18967.276761
2003-12-30  28196.013729  15185.611705  19267.242901  18957.345858
2003-12-31  28196.013729  15185.611705  19267.242901  18957.345858

                VALE3.SA          saldo
Date
2003-01-01  11513.365461   57566.827304
2003-01-02  11412.666156   56985.296027
2003-01-03  11038.954336   56610.952639
2003-01-06  10965.107594   57661.693675
2003-01-07  10664.125733   57229.134718
...                  ...            ...
2003-12-25  18674.250516   99573.156530
2003-12-26  18998.728004   99185.426823
2003-12-29  19077.059437   99982.023159
2003-12-30  18965.161569  100571.375762
2003-12-31  18965.161569  100571.375762

[261 rows x 6 columns]
20114.275152415896

In [183]:
#PRIMEIRA ENTRADA
inicio_2004 = '2004-01-01'
fim_pre_2004 = '2004-11-16'

carteira_entrada_1 = carteira.loc[inicio_2004:fim_pre_2004]
carteira_normalizada_20041 = (carteira_entrada_1 / carteira_entrada_1.iloc[0])*valores_ult_2003
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20041['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[0]
carteira_normalizada_20041['saldo'] = carteira_normalizada_20041.sum(axis=1)
print(carteira_normalizada_20041)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2004-01-01  20114.275152  20114.275152  20114.275152  20114.275152
2004-01-02  19862.846437  20034.535761  19606.171564  20851.450182
2004-01-05  21497.125069  20792.056332  21025.371804  22062.523153
2004-01-06  22293.328691  20253.827294  21025.371804  23220.939889
2004-01-07  21748.561800  19894.983620  21270.678173  22976.095343
...                  ...           ...           ...           ...
2004-11-10  25980.934480  21081.117552  24389.461250  25063.865206
2004-11-11  25821.690950  20782.095747  24221.258595  25156.021788
2004-11-12  26064.747392  21226.133244  24319.361511  25221.835953
2004-11-15  26064.747392  21226.133244  24319.361511  25221.835953
2004-11-16  26819.017505  20931.603002  23898.848512  24912.931100

                VALE3.SA          saldo
Date
2004-01-01  20114.275152  100571.375762
2004-01-02  20707.619389  101062.623333
2004-01-05  21360.293241  106737.369598
2004-01-06  21336.563877  108130.031555
2004-01-07  20292.274855  106182.593791
...                  ...            ...
2004-11-10  23336.122677  119851.501166
2004-11-11  23200.843896  119181.910976
2004-11-12  23930.650590  120762.728689
2004-11-15  23930.650590  120762.728689
2004-11-16  22965.875724  119528.275844

[228 rows x 6 columns]

In [184]:
inicio_2004_2 = '2004-11-16'
fim_2004 = '2004-12-31'

carteira_geral3 = carteira.loc[inicio_2004_2:fim_2004]
carteira_normalizada_2004 = carteira_geral3 / carteira_geral3.iloc[0]
for coluna in carteira_normalizada_2004.columns:
    if coluna != 'saldo':
        carteira_normalizada_2004[coluna] *= carteira_normalizada_20041[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2004['saldo'] = carteira_normalizada_2004.sum(axis=1)
print(len(carteira_normalizada_2004.columns))
valores_ult_2004 = carteira_normalizada_2004['saldo'][-1] / (len(carteira_normalizada_2004.columns) -1)
print(carteira_normalizada_2004)
print(valores_ult_2004)

6
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2004-11-16  26819.017505  20931.603002  23898.848512  24912.931100
2004-11-17  26567.606826  20916.660301  24039.038901  25114.857699
2004-11-18  26408.353276  20707.340295  23681.596218  24803.783475
2004-11-19  25897.129584  20483.090353  23758.690843  24694.637967
2004-11-22  26860.934983  20527.923929  23688.605646  25019.349558
2004-11-23  26081.503962  21079.640424  23217.645121  24585.488225
2004-11-24  26282.656954  21081.117552  23584.171341  24449.051047
2004-11-25  26827.419837  21377.137688  23555.444681  25758.826781
2004-11-26  26827.419837  22345.989712  24039.038901  25600.560502
2004-11-29  26735.214613  22275.724000  24381.024850  25172.157503
2004-11-30  26693.323187  22277.213894  24809.265307  25349.523717
2004-12-01  26483.783895  22724.251238  25300.566990  26113.552857
2004-12-02  26902.822401  23473.282881  25861.224933  25622.395955
2004-12-03  27070.454236  23570.472445  26245.996390  25461.402626
2004-12-06  27908.549284  24353.922998  26771.632639  25690.608192
2004-12-07  27740.939493  23770.827559  26316.775986  25349.523717
2004-12-08  27347.031834  23645.227896  26351.817675  25360.436150
2004-12-09  26483.783895  23770.827559  26421.910143  24670.073347
2004-12-10  26726.852359  24355.427481  27333.014066  25076.662065
2004-12-13  27657.126581  25488.718520  27823.579541  25240.371857
2004-12-14  28076.169096  22327.045999  27959.572635  25455.937940
2004-12-15  27548.172802  22127.695697  27823.579541  25595.104285
2004-12-16  26986.647336  22083.850520  27823.579541  26086.265421
2004-12-17  27489.496750  21418.015843  27438.124592  25846.134718
2004-12-20  26651.415729  21130.960599  27017.635225  25813.405887
2004-12-21  27229.709789  21250.578804  27333.014066  26361.862592
2004-12-22  27154.267147  21290.433911  27928.722787  26004.398880
2004-12-23  27254.844645  21669.191461  28454.337223  26372.781377
2004-12-24  27254.844645  21669.191461  28454.337223  26372.781377
2004-12-27  27447.599312  21928.349042  28033.855127  26402.797980
2004-12-28  27657.126581  21725.017788  28314.183190  26440.993614
2004-12-29  27690.643730  22526.387183  28174.034610  26708.407518
2004-12-30  27238.066032  22725.735661  27963.764477  26509.212203
2004-12-31  27238.066032  22725.735661  27963.764477  26509.212203

                VALE3.SA          saldo
Date
2004-11-16  22965.875724  119528.275844
2004-11-17  23670.772481  120308.936208
2004-11-18  23247.120498  118848.193762
2004-11-19  23745.527113  118579.075861
2004-11-22  23247.120498  119343.934614
2004-11-23  23143.867670  118108.145403
2004-11-24  23531.927159  118928.924054
2004-11-25  23603.121456  121121.950443
2004-11-26  23887.931219  122700.940171
2004-11-29  23959.134824  122523.255790
2004-11-30  23709.925311  122839.251416
2004-12-01  23749.081243  124371.236223
2004-12-02  23496.322254  125356.048425
2004-12-03  23531.927159  125880.252856
2004-12-06  23211.518696  127936.231810
2004-12-07  23211.518696  126389.585450
2004-12-08  23353.918148  126058.431704
2004-12-09  23599.565774  124946.160718
2004-12-10  24297.329450  127789.285421
2004-12-13  24671.142944  130880.939443
2004-12-14  24671.142944  128489.868613
2004-12-15  24493.140138  127587.692462
2004-12-16  25614.544937  128594.887756
2004-12-17  25258.545531  127450.317434
2004-12-20  25418.754417  126032.171856
2004-12-21  26561.528985  128736.694236
2004-12-22  26629.164498  129006.987223
2004-12-23  26700.364999  130451.519705
2004-12-24  26700.364999  130451.519705
2004-12-27  26693.250534  130505.851995
2004-12-28  27412.376222  131549.697395
2004-12-29  27091.973964  132191.447005
2004-12-30  26878.375562  131315.153934
2004-12-31  26878.375562  131315.153934
26263.030786860945

In [185]:
#ENTRADA 2
inicio_2005_1 = '2005-01-01'
fim_2005_1 = '2005-10-17'

carteira_entradaw = carteira.loc[inicio_2005_1:fim_2005_1]
carteira_entrada_2 = (carteira_entradaw / carteira_entradaw.iloc[0])*valores_ult_2004
#                                                      acessando primeira linha/primeira operação
carteira_entrada_2['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[1]
carteira_entrada_2['saldo'] = carteira_entrada_2.sum(axis=1)
print(carteira_entrada_2)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2005-01-03  26263.030787  26263.030787  26263.030787  26263.030787
2005-01-04  25626.347977  25329.571215  25940.520824  25950.773345
2005-01-05  25228.429784  24391.460244  25683.059460  25850.409131
2005-01-06  24910.075059  23687.867361  25361.213974  25928.469706
2005-01-07  24671.329472  24203.842341  25329.023582  26042.780725
...                  ...           ...           ...           ...
2005-10-10  33282.404149  48571.865365  34366.393087  36171.834698
2005-10-11  34221.516431  50649.835340  34919.938941  36860.833275
2005-10-13  32987.962992  48703.190174  33272.136798  36057.002323
2005-10-14  32701.456869  47750.961946  33021.094814  35804.382780
2005-10-17  32470.652025  49533.426429  34823.399487  39330.951515

                VALE3.SA          saldo
Date
2005-01-03  26263.030787  131315.153934
2005-01-04  25192.864448  128040.077809
2005-01-05  25017.429373  126170.787993
2005-01-06  24912.168940  124799.795040
2005-01-07  25578.831091  125825.807211
...                  ...            ...
2005-10-10  32140.196757  184532.694056
2005-10-11  32526.160343  189178.284330
2005-10-13  31105.111623  182125.403909
2005-10-14  31575.289059  180853.185468
2005-10-17  31227.920303  187386.349758

[198 rows x 6 columns]

In [186]:
inicio_2005_2 = '2005-10-17'
fim_2005 = '2005-12-31'

carteira_geral4 = carteira.loc[inicio_2005_2:fim_2005]
carteira_normalizada_2005 = carteira_geral4 / carteira_geral4.iloc[0]
for coluna in carteira_normalizada_2005.columns:
    if coluna != 'saldo':
        carteira_normalizada_2005[coluna] *= carteira_entrada_2[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2005['saldo'] = carteira_normalizada_2005.sum(axis=1)
print(len(carteira_normalizada_2005.columns))
valores_ult_2005 = carteira_normalizada_2005['saldo'][-1] / (len(carteira_normalizada_2005.columns) -1)
print(carteira_normalizada_2005)
print(valores_ult_2005)

6
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2005-10-17  32470.652025  49533.426429  34823.399487  39330.951515
2005-10-18  32788.985818  49533.426429  33536.024219  37201.650065
2005-10-19  32152.303008  47844.783771  32551.199569  37935.891309
2005-10-20  30982.410619  46320.326088  31604.981351  36051.326182
2005-10-21  31436.049119  47985.510071  32184.274845  37421.935349
2005-10-24  31993.141820  48309.155674  33536.024219  39490.046954
2005-10-25  32311.475614  48313.837111  32377.407180  39306.477421
2005-10-26  31897.639780  48224.743924  33471.660130  39159.628250
2005-10-27  32184.145902  46812.833811  32512.573102  38009.313588
2005-10-28  31833.963506  47704.104671  32956.687317  38119.463146
2005-10-31  32948.169840  49711.668586  34701.115732  39416.606230
2005-11-01  33704.209269  52066.383980  34533.754409  40040.714053
2005-11-03  33425.649598  52535.458775  34018.778257  41117.606435
2005-11-04  32948.169840  52019.488086  34050.980336  39893.860272
2005-11-07  34444.371018  53004.503533  34533.754409  39587.929495
2005-11-08  34508.022553  53942.661705  35273.978159  40261.003947
2005-11-09  33823.584917  54411.749373  35396.241879  40187.572446
2005-11-10  35264.069593  54360.154878  35525.036838  38902.631827
2005-11-11  35176.533033  54575.917183  34688.226887  37752.330998
2005-11-14  33855.431617  55115.303637  34688.226887  38046.027034
2005-11-16  32629.805601  55068.442071  35370.530970  39159.628250
2005-11-17  34301.110345  55279.518649  36979.733360  39783.740684
2005-11-18  33425.649598  55209.176953  35788.930937  40016.244571
2005-11-21  33258.545765  55349.890381  35724.553492  40432.327211
2005-11-22  32637.793916  56991.581362  35917.659115  41851.843068
2005-11-23  32550.234521  57976.635428  36117.195803  42280.171976
2005-11-24  32709.418544  57788.978906  35840.419537  41913.046744
2005-11-25  32510.441370  57807.764726  36336.075777  41937.511616
2005-11-28  31849.896371  58145.484676  36548.487955  40395.616071
2005-11-29  32064.762642  58164.249041  36046.407327  41178.787058
2005-11-30  31197.288309  57882.809313  36046.407327  41913.046744
2005-12-01  31961.329373  59571.451971  36883.200583  42830.839076
2005-12-02  33982.757523  60321.970785  37333.795951  43540.629280
2005-12-05  34118.067938  62179.488436  37687.801778  43430.477417
2005-12-06  34659.233483  63980.661501  38267.132001  43932.219384
2005-12-07  34062.340020  63605.464313  37726.384837  43601.809903
2005-12-08  33266.496022  60978.616282  36271.671620  43981.149128
2005-12-09  33027.737114  59618.352156  36368.227770  44176.951096
2005-12-12  33568.921689  60040.483856  37011.922082  44409.468815
2005-12-13  34221.516431  59674.679578  37205.027704  44715.399592
2005-12-14  35009.421588  59749.689837  37011.922082  45094.757260
2005-12-15  34460.275338  59308.815226  36883.200583  44421.710472
2005-12-16  33863.381874  60321.970785  36754.455710  44421.710472
2005-12-19  32948.169840  60031.146729  36303.893733  44409.468815
2005-12-20  33226.706677  60031.146729  35627.983986  44421.710472
2005-12-21  33664.431341  61916.787327  36239.506271  45045.836738
2005-12-22  33624.641995  62104.426685  36690.081604  45155.956326
2005-12-23  33903.194055  62151.348325  36690.081604  44850.020938
2005-12-26  33807.665373  60415.805482  35827.540709  44715.399592
2005-12-27  33831.546592  60509.588688  36110.761398  44421.710472
2005-12-28  33584.829815  59571.451971  35982.016525  45155.956326
2005-12-29  33584.829815  60500.174323  36239.506271  45535.318605

                VALE3.SA          saldo
Date
2005-10-17  31227.920303  187386.349758
2005-10-18  30206.877436  183266.963967
2005-10-19  30245.472266  180729.649922
2005-10-20  29385.826793  174344.871033
2005-10-21  30596.339356  179624.108741
2005-10-24  31740.206194  185068.574861
2005-10-25  31210.388875  183519.586200
2005-10-26  31894.585512  184648.257596
2005-10-27  31385.813246  180904.679650
2005-10-28  31526.165587  182140.384228
2005-10-31  32691.065245  189468.625634
2005-11-01  33613.876458  193958.938170
2005-11-03  34031.413740  195128.906805
2005-11-04  33154.230722  192066.729256
2005-11-07  33540.188192  195110.746646
2005-11-08  33189.318043  197174.984407
2005-11-09  32771.777703  196590.926318
2005-11-10  31719.145851  195771.038988
2005-11-11  32034.934795  194227.942896
2005-11-14  31898.102195  193603.091369
2005-11-16  32350.720681  194579.127574
2005-11-17  33333.180950  199677.283988
2005-11-18  33438.442913  197878.444973
2005-11-21  33613.876458  198379.193307
2005-11-22  33982.302499  201381.179960
2005-11-23  34908.599815  203832.837544
2005-11-24  34512.125935  202763.989666
2005-11-25  34698.085065  203289.878554
2005-11-28  33789.310004  200728.795076
2005-11-29  33891.058341  201345.264408
2005-11-30  33578.786079  200618.337771
2005-12-01  34663.000802  205909.821805
2005-12-02  34684.058087  209863.211625
2005-12-05  34070.017743  211485.853311
2005-12-06  33578.786079  214418.032449
2005-12-07  32368.270457  211364.269529
2005-12-08  32491.076080  206989.009131
2005-12-09  33259.495742  206450.763878
2005-12-12  33262.994077  208293.790519
2005-12-13  33613.876458  209430.499763
2005-12-14  33336.691517  210202.482285
2005-12-15  33210.369212  208284.370832
2005-12-16  33684.063331  209045.582173
2005-12-19  33648.963779  207341.642896
2005-12-20  33245.462649  206553.010512
2005-12-21  33754.237973  210620.799650
2005-12-22  33859.487703  211434.594314
2005-12-23  33543.704875  211138.349796
2005-12-26  33280.546911  208046.958068
2005-12-27  33431.421779  208305.028929
2005-12-28  33578.786079  207873.040717
2005-12-29  33508.626728  209368.455742
41873.69114842692

In [187]:
inicio_2006 = '2006-01-01'
fim_2006 = '2006-12-31'

carteira_geral4 = carteira.loc[inicio_2006:fim_2006]
carteira_normalizada_2006 = (carteira_geral4 / carteira_geral4.iloc[0])*valores_ult_2005
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2006['saldo'] = carteira_normalizada_2006.sum(axis=1)
print(len(carteira_normalizada_2006.columns))
valores_ult_2006 = carteira_normalizada_2006['saldo'][-1] / (len(carteira_normalizada_2006.columns) -1)
print(carteira_normalizada_2006)
print(valores_ult_2006)

6
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2006-01-02  41873.691148  41873.691148  41873.691148  41873.691148
2006-01-03  42790.590295  43390.380965  43024.429117  43192.901748
2006-01-04  48597.905677  43720.091814  44249.467630  43401.778360
2006-01-05  50044.644455  43720.091814  43952.488830  43313.824724
2006-01-06  52010.957467  44247.664162  45511.629456  44907.854698
...                  ...           ...           ...           ...
2006-12-21  64257.219472  51165.034831  56128.531052  54745.403951
2006-12-22  63167.104553  50439.700519  55534.588857  54541.600174
2006-12-26  63574.621781  51435.411361  56128.531052  55005.850294
2006-12-27  64797.236802  52721.281865  57167.937595  56273.964953
2006-12-28  65204.724798  54699.565062  57464.951058  56387.180651

                VALE3.SA          saldo
Date
2006-01-02  41873.691148  209368.455742
2006-01-03  43534.655965  215932.958090
2006-01-04  44212.156175  224181.399656
2006-01-05  44146.584757  225177.634580
2006-01-06  44675.472165  231353.577948
...                  ...            ...
2006-12-21  54724.283400  281020.472705
2006-12-22  54811.717036  278494.711140
2006-12-26  54907.855180  281052.269668
2006-12-27  56210.411418  287170.832634
2006-12-28  55685.889597  289442.311165

[258 rows x 6 columns]
57888.462232993275

In [2]:
#ENTRADA 3 etapa 1
inicio_2007_1 = '2007-01-01'
fim_2007_1 = '2007-02-12'

carteira_entrada_2007 = carteira.loc[inicio_2007_1:fim_2007_1]
carteira_entrada_3 = (carteira_entrada_2007 / carteira_entrada_2007.iloc[0])*valores_ult_2006
#                                                      acessando primeira linha/primeira operação
carteira_entrada_3['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[2]
carteira_entrada_3['saldo'] = carteira_entrada_3.sum(axis=1)
print(carteira_entrada_3)

NameError: name 'carteira' is not defined

In [189]:
#ENTRADA 3 etapa 2
inicio_2007_2 = '2007-02-12'
fim_2007 = '2007-12-31'

carteira_geral_5 = carteira.loc[inicio_2007_2:fim_2007]
carteira_normalizada_2007 = carteira_geral_5 / carteira_geral_5.iloc[0]
for coluna in carteira_normalizada_2007.columns:
    if coluna != 'saldo':
        carteira_normalizada_2007[coluna] *= carteira_entrada_3[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2007['saldo'] = carteira_normalizada_2007.sum(axis=1)
print(len(carteira_normalizada_2007.columns))
valores_ult_2007 = carteira_normalizada_2007['saldo'][-1] / (len(carteira_normalizada_2007.columns) -1)
print(carteira_normalizada_2007)
print(valores_ult_2007)

6
                BBAS3.SA      BBDC3.SA      ITUB4.SA       PETR4.SA  \
Date
2007-02-12  58126.274979  55991.048543  56572.157205   50952.418431
2007-02-13  59006.965905  56060.042306  56498.165804   51885.125714
2007-02-14  61120.604755  57281.296921  57792.328652   52000.286347
2007-02-15  60169.475906  56929.404115  57385.598443   51009.986400
2007-02-16  59015.797494  56577.549178  56794.008652   51044.532943
...                  ...           ...           ...            ...
2007-12-20  82169.355423  73026.436086  68847.924455   99433.003475
2007-12-21  82169.355423  73053.993196  68788.809591  100604.293065
2007-12-26  82697.844102  73757.778810  70252.986173  103290.098515
2007-12-27  82644.980915  71756.877632  69143.698252  102154.232201
2007-12-28  80319.918797  71066.851638  67295.018035  104591.597250

                 VALE3.SA          saldo
Date
2007-02-12   61650.325211  283292.224369
2007-02-13   64704.057875  288154.357604
2007-02-14   66474.377873  294668.894549
2007-02-15   66961.196490  292455.661354
2007-02-16   66651.390201  290083.278468
...                   ...            ...
2007-12-20  104694.931339  428171.650778
2007-12-21  105880.989539  430497.440815
2007-12-26  107792.940228  437791.647828
2007-12-27  105509.260564  431209.049562
2007-12-28  104995.881611  428269.267332

[217 rows x 6 columns]
85653.85346636942

In [190]:
#Entrada 4 etapa 1
inicio_2008_1 = '2008-01-01'
fim_2008_1 = '2008-06-16'

carteira_entrada_2008 = carteira.loc[inicio_2008_1:fim_2008_1]
carteira_entrada_4 = (carteira_entrada_2008 / carteira_entrada_2008.iloc[0])*valores_ult_2007
#                                                      acessando primeira linha/primeira operação
carteira_entrada_4['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[3]
carteira_entrada_4['saldo'] = carteira_entrada_4.sum(axis=1)
print(carteira_entrada_4)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2008-01-02  85653.853466  85653.853466  85653.853466  85653.853466
2008-01-03  84360.373164  84601.273426  84039.988857  84275.533090
2008-01-04  83383.182008  86382.359726  84630.402601  80140.510309
2008-01-07  85366.428671  87237.178848  84630.402601  77787.494591
2008-01-08  87119.704344  89214.315613  85417.622627  82060.342559
...                  ...           ...           ...           ...
2008-06-10  87090.986605  82759.392749  87336.607676  91159.531296
2008-06-11  85366.428671  81957.198556  86106.549266  89970.515048
2008-06-12  85107.804084  83962.655531  88074.703981  89534.509314
2008-06-13  82779.532209  84470.676287  89083.366171  90961.376763
2008-06-16  84504.117633  84604.401111  89304.711343  90997.774280

                VALE3.SA          saldo
Date
2008-01-02  85653.853466  428269.267332
2008-01-03  86097.659290  423374.827827
2008-01-04  82991.031419  417527.486063
2008-01-07  81511.706610  416533.211321
2008-01-08  83138.983884  426950.969027
...                  ...            ...
2008-06-10  87014.163923  435360.682250
2008-06-11  84317.311069  427718.002610
2008-06-12  86641.694511  433321.367422
2008-06-13  84570.611413  431865.562844
2008-06-16  84630.202394  434041.206761

[112 rows x 6 columns]

In [191]:
#ENTRADA 4 etapa 2
inicio_2008_2 = '2008-06-16'
fim_2008 = '2008-12-31'

carteira_geral6 = carteira.loc[inicio_2008_2:fim_2008]
carteira_normalizada_2008 = carteira_geral6 / carteira_geral6.iloc[0]
for coluna in carteira_normalizada_2008.columns:
    if coluna != 'saldo':
        carteira_normalizada_2008[coluna] *= carteira_entrada_4[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2008['saldo'] = carteira_normalizada_2008.sum(axis=1)
print(len(carteira_normalizada_2008.columns))
valores_ult_2008 = carteira_normalizada_2008['saldo'][-1] / (len(carteira_normalizada_2008.columns) -1)
print(carteira_normalizada_2008)
print(valores_ult_2008)

6
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2008-06-16  84504.117633  84604.401111  89304.711343  90997.774280
2008-06-17  85510.154814  85968.169521  91641.924420  91891.894673
2008-06-18  81917.294477  83695.238462  88443.680665  90203.066223
2008-06-19  81917.294477  83668.473949  87951.626672  87222.790822
2008-06-20  78784.275327  81261.997255  84384.426652  85692.905357
...                  ...           ...           ...           ...
2008-12-22  43258.041018  54090.771202  67556.716092  43988.880708
2008-12-23  40240.034853  52154.172168  63989.408871  43710.721899
2008-12-26  40240.034853  51723.834475  63718.812357  45300.203258
2008-12-29  40240.034853  52396.270464  63718.812357  44827.642681
2008-12-30  42194.595849  53768.053567  64210.907188  45464.623365

                VALE3.SA          saldo
Date
2008-06-16  84630.202394  434041.206761
2008-06-17  87133.345884  442145.489311
2008-06-18  86671.464216  430930.744043
2008-06-19  86492.678382  427252.864303
2008-06-20  82603.851210  412727.455801
...                  ...            ...
2008-12-22  40273.507383  249167.916403
2008-12-23  38745.266913  238839.604705
2008-12-26  40603.114351  241585.999293
2008-12-29  40513.215388  241695.975742
2008-12-30  41487.109539  247125.289508

[138 rows x 6 columns]
49425.05790162466

In [192]:
#ENTRADA 5 etapa 1 
inicio_2009_1 = '2009-01-01'
fim_2009_1 = '2009-10-19'

carteira_entrada_2009 = carteira.loc[inicio_2009_1:fim_2009_1]
carteira_entrada_5 = (carteira_entrada_2009 / carteira_entrada_2009.iloc[0])*valores_ult_2008
#                                                      acessando primeira linha/primeira operação
carteira_entrada_5['BBDC3.SA'].iloc[-1] += acoes_num['BBDC3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[4]
carteira_entrada_5['saldo'] = carteira_entrada_5.sum(axis=1)
print(carteira_entrada_5)

                 BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2009-01-02   49425.057902  49425.057902  49425.057902  49425.057902
2009-01-05   50347.692163  49050.229525  49544.797338  50552.935663
2009-01-06   53115.505658  49893.517120  51581.383367  51257.843628
2009-01-07   51929.291621  49167.385116  48620.674086  49243.785132
2009-01-08   50743.067079  49542.188666  48911.601251  51358.550723
...                   ...           ...           ...           ...
2009-10-13  108288.534459  69769.504149  67959.436415  74139.509964
2009-10-14  111737.225609  72199.990566  69841.936799  74822.532334
2009-10-15  110530.181080  72438.238499  69559.546472  75753.936582
2009-10-16  107736.699756  70794.116382  68900.626238  75339.948254
2009-10-19  108254.048073  76565.938376  69691.370291  77326.954640

                VALE3.SA          saldo
Date
2009-01-02  49425.057902  247125.289508
2009-01-05  52115.083667  251610.738355
2009-01-06  53557.330911  259405.580685
2009-01-07  50235.308810  249196.444765
2009-01-08  52471.596298  253027.004016
...                  ...            ...
2009-10-13  71208.190562  391365.175549
2009-10-14  74497.268407  403098.953714
2009-10-15  75303.095373  403584.998006
2009-10-16  75223.345869  397994.736500
2009-10-19  77484.207332  409322.518710

[199 rows x 6 columns]

In [193]:
#ENTRADA 5 etapa 2
inicio_2009_2 = '2009-10-19'
fim_2009 = '2009-12-31'

carteira_geral7 = carteira.loc[inicio_2009_2:fim_2009]
carteira_normalizada_2009 = carteira_geral7 / carteira_geral7.iloc[0]
for coluna in carteira_normalizada_2009.columns:
    if coluna != 'saldo':
        carteira_normalizada_2009[coluna] *= carteira_entrada_5[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2009['saldo'] = carteira_normalizada_2009.sum(axis=1)
print(len(carteira_normalizada_2009.columns))
valores_ult_2009 = carteira_normalizada_2009['saldo'][-1] / (len(carteira_normalizada_2009.columns) -1)
print(carteira_normalizada_2009)
print(valores_ult_2009)

6
                 BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2009-10-19  108254.048073  76565.938376  69691.370291  77326.954640
2009-10-20  104943.333981  74392.976943  68335.923708  75546.963265
2009-10-21  105012.327763  74137.361728  67771.171462  75960.896002
2009-10-22  107081.447912  75926.843263  69088.948009  76581.857647
2009-10-23  104839.853813  75032.110106  68430.006469  75546.963265
2009-10-26  103701.771552  74290.727813  68335.923708  75960.896002
2009-10-27  100356.623597  72117.743550  66566.326899  74408.557904
2009-10-28   93459.178270  69919.181785  62123.528268  70869.234267
2009-10-29  100529.045024  73626.047588  66133.377166  74636.252874
2009-10-30   97287.251182  71529.750172  63064.860135  72525.062498
2009-11-03  100287.545779  72859.118233  66378.104560  73580.664635
2009-11-04  103287.976935  72304.662509  68524.202865  73891.121136
2009-11-05  103287.976935  72892.945070  69088.948009  75339.948254
2009-11-06  102253.332824  72611.592541  68787.687153  74615.538170
2009-11-09  106564.215145  74171.751712  70312.549466  76747.443250
2009-11-10  107736.699756  74555.383811  71216.182888  77430.465620
2009-11-11  107322.905139  74555.383811  71253.852924  77823.690601
2009-11-12  107150.462703  72637.185264  69183.052077  76271.359452
2009-11-13  111237.745505  73430.057405  71498.622931  76850.912536
2009-11-16  110890.139959  75936.508074  72006.884327  77368.349303
2009-11-17  110890.139959  76089.988310  72439.826958  79479.511883
2009-11-18  107413.947938  76217.913874  71536.243251  79065.572198
2009-11-19  106544.897306  74683.271325  69823.101781  79686.506047
2009-11-23  107344.365902  75169.281925  71329.121974  80410.923081
2009-11-24  107066.384410  75834.198063  71705.666084  81031.856930
2009-11-25  107170.599895  76089.988310  73023.414222  81652.818576
2009-11-26  104945.834060  74376.371733  70632.659544  79583.022863
2009-11-27  106996.802374  75118.126920  71065.580869  80514.392367
2009-11-30  107413.947938  74453.104241  71442.082366  80307.432948
2009-12-01  106822.962835  76729.448707  74077.635459  82356.513956
2009-12-02  105675.846675  77994.907256  74924.749623  81570.008402
2009-12-03  106023.483735  77790.211134  74077.635459  81342.334279
2009-12-04  105363.021642  78148.357051  73983.510085  79479.511883
2009-12-07  108109.148526  80184.922894  75395.412006  79479.511883
2009-12-08  107413.947938  79691.888182  75018.818180  77803.010642
2009-12-09  106614.416315  79588.063764  75000.054184  77803.010642
2009-12-10  106683.966837  80418.453636  75376.562783  78154.861807
2009-12-11  106996.802374  81352.599434  75301.315040  78237.637236
2009-12-14  107761.563989  80444.343152  74887.122201  78444.631400
2009-12-15  107761.563989  80859.602773  75508.372398  78651.611666
2009-12-16  106544.897306  78887.433488  74548.276535  78361.876817
2009-12-17  102373.515202  76733.588594  72515.152826  76312.761064
2009-12-18  102894.886755  76214.611096  72439.826958  75712.521072
2009-12-21  101504.380534  76292.439456  71818.605170  73256.768939
2009-12-22  101955.529275  76837.382572  71893.895526  75629.314811
2009-12-23  102166.859498  76058.946765  71291.494551  76378.511661
2009-12-24  102166.859498  76058.946765  71291.494551  76378.511661
2009-12-28  102166.859498  76006.969870  71347.999605  76482.564656
2009-12-29  101955.529275  76577.848162  71347.999605  76482.564656
2009-12-30  101955.529275  76577.848162  72835.142167  76357.678826

                VALE3.SA          saldo
Date
2009-10-19  77484.207332  409322.518710
2009-10-20  76087.803152  399307.001050
2009-10-21  76653.001087  399534.758042
2009-10-22  77999.567056  406678.663887
2009-10-23  76653.001087  400501.934741
2009-10-26  77135.102801  399424.421876
2009-10-27  74225.912321  387675.164271
2009-10-28  71000.854404  367371.976993
2009-10-29  77301.337077  392226.059729
2009-10-30  74475.270708  378882.194696
2009-11-03  77301.337077  390406.770284
2009-11-04  78032.790205  396040.753651
2009-11-05  78365.258759  398975.077027
2009-11-06  77866.569874  396134.720561
2009-11-09  80543.044917  408339.004489
2009-11-10  79661.944683  410600.676758
2009-11-11  79512.339412  410468.171887
2009-11-12  76636.379054  401878.438549
2009-11-13  77966.316017  410983.654395
2009-11-16  81074.956951  417276.838614
2009-11-17  82138.899549  421038.366660
2009-11-18  80725.880309  414959.557570
2009-11-19  80908.722674  411646.499134
2009-11-23  81773.193902  416026.886785
2009-11-24  82238.645693  417876.751181
2009-11-25  83618.434811  421555.255814
2009-11-26  81124.857912  410662.746113
2009-11-27  82454.766986  416149.669517
2009-11-30  81490.577504  415107.144997
2009-12-01  82953.476788  422940.037745
2009-12-02  82288.539682  422454.051638
2009-12-03  81374.202355  420607.866961
2009-12-04  79878.072949  416852.473610
2009-12-07  80011.049214  423180.044523
2009-12-08  79296.218119  419223.883061
2009-12-09  80127.417391  419132.962296
2009-12-10  81457.340410  422091.185472
2009-12-11  82122.305405  424010.659489
2009-12-14  83585.183773  425122.844513
2009-12-15  83485.444601  426266.595426
2009-12-16  83053.222932  421395.707078
2009-12-17  80476.535867  408411.553552
2009-12-18  80293.651668  407555.497549
2009-12-21  80027.671247  402899.865347
2009-12-22  81540.450576  407856.572760
2009-12-23  82637.630268  408533.442743
2009-12-24  82637.630268  408533.442743
2009-12-28  82787.235539  408791.629168
2009-12-29  82554.499185  408918.440884
2009-12-30  82554.499185  410280.697615
82056.13952303876

In [3]:
inicio_2010 = '2010-01-01'
fim_2010 = '2010-12-31'

carteira_geral8 = carteira.loc[inicio_2010:fim_2010]
carteira_normalizada_2010 = (carteira_geral8 / carteira_geral8.iloc[0])*valores_ult_2009
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2010['saldo'] = carteira_normalizada_2010.sum(axis=1)
print(len(carteira_normalizada_2010.columns))
valores_ult_2010 = carteira_normalizada_2010['saldo'][-1] / (len(carteira_normalizada_2010.columns) -1)
print(carteira_normalizada_2010)
print(valores_ult_2010)

NameError: name 'carteira' is not defined

In [195]:
inicio_2011 = '2011-01-01'
fim_2011 = '2011-12-31'

carteira_geral9 = carteira.loc[inicio_2011:fim_2011]
carteira_normalizada_2011 = (carteira_geral9 / carteira_geral9.iloc[0])*valores_ult_2010
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2011['saldo'] = carteira_normalizada_2011.sum(axis=1)
print(len(carteira_normalizada_2011.columns))
valores_ult_2011 = carteira_normalizada_2011['saldo'][-1] / (len(carteira_normalizada_2011.columns) -1)
print(carteira_normalizada_2011)
print(valores_ult_2011)

6
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2011-01-03  83130.907284  83130.907284  83130.907284  83130.907284
2011-01-04  83475.111901  83396.868895  83801.321537  82823.035741
2011-01-05  84666.465875  84035.898626  85058.372631  83808.266609
2011-01-06  83925.166543  82022.861733  83047.106477  83469.586946
2011-01-07  81939.616158  81383.839522  81014.886222  82299.587230
...                  ...           ...           ...           ...
2011-12-23  72982.000171  84297.363629  74455.698967  71056.106288
2011-12-26  72860.068037  83766.079556  74047.940118  70896.210553
2011-12-27  73348.020033  83932.115698  74259.999986  70992.158975
2011-12-28  71579.113742  82836.537333  72571.818461  68529.800595
2011-12-29  72280.609330  83965.328942  73567.415093  68721.677473

                VALE3.SA          saldo
Date
2011-01-03  83130.907284  415654.536419
2011-01-04  84852.799158  418349.137232
2011-01-05  86384.957949  423953.961690
2011-01-06  85275.942844  417740.664544
2011-01-07  84633.899538  411271.828669
...                  ...            ...
2011-12-23  63031.874330  365823.043386
2011-12-26  62539.332116  364109.630381
2011-12-27  62954.910092  365487.204785
2011-12-28  61138.615498  356655.885629
2011-12-29  60723.001381  359258.032220

[249 rows x 6 columns]
71851.60644392124

In [196]:
inicio_2012 = '2012-01-01'
fim_2012 = '2012-12-31'

carteira_geral10 = carteira.loc[inicio_2012:fim_2012]
carteira_normalizada_2012 = (carteira_geral10 / carteira_geral10.iloc[0])*valores_ult_2011
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2012['saldo'] = carteira_normalizada_2012.sum(axis=1)
print(len(carteira_normalizada_2012.columns))
valores_ult_2012 = carteira_normalizada_2012['saldo'][-1] / (len(carteira_normalizada_2012.columns) -1)
print(carteira_normalizada_2012)
print(valores_ult_2012)

6
                BBAS3.SA       BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2012-01-02  71851.606444   71851.606444  71851.606444  71851.606444
2012-01-03  71526.221934   72148.533383  73646.272218  74709.642404
2012-01-04  71171.273023   72148.533383  73730.754008  75243.046725
2012-01-05  70431.743070   71608.860859  73181.801087  74376.253736
2012-01-06  68656.876602   72688.199477  73730.754008  74442.937663
...                  ...            ...           ...           ...
2012-12-20  84904.645041  101277.553465  73335.486611  71265.887240
2012-12-21  85583.833815  101944.060637  73746.473142  70047.088792
2012-12-26  84904.645041  100334.295109  73663.588362  67914.183766
2012-12-27  85108.405737   99834.350435  72440.933281  65713.578038
2012-12-28  86942.285866   99804.948355  72855.707005  66085.991256

                VALE3.SA          saldo
Date
2012-01-02  71851.606444  359258.032220
2012-01-03  75048.920401  367079.590341
2012-01-04  75558.378662  367851.985802
2012-01-05  73538.097261  363136.756013
2012-01-06  72905.667501  362424.435252
...                  ...            ...
2012-12-20  78536.431144  409320.003502
2012-12-21  77867.241246  409188.697632
2012-12-26  78387.699361  405204.411640
2012-12-27  78369.130232  401466.397724
2012-12-28  78592.193531  404281.126013

[245 rows x 6 columns]
80856.22520257332

In [197]:
#ENTRADA 6 etapa 1
inicio_2013_1 = '2013-01-01'
fim_2013_1 = '2013-02-18'

carteira_entrada_2013 = carteira.loc[inicio_2013_1:fim_2013_1]
carteira_entrada_6 = (carteira_entrada_2013 / carteira_entrada_2013.iloc[0])*valores_ult_2012
#                                                      acessando primeira linha/primeira operação
carteira_entrada_6['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[5]
carteira_entrada_6['saldo'] = carteira_entrada_6.sum(axis=1)
print(carteira_entrada_6)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2013-01-02  80856.225203  80856.225203  80856.225203  80856.225203
2013-01-03  82454.521136  85296.210947  83271.564145  83771.788749
2013-01-04  81451.741581  85088.721888  82779.120204  83894.998152
2013-01-07  81953.137609  83083.074927  81372.101359  82457.740845
2013-01-08  82893.322350  82806.579030  81700.389155  80075.988718
2013-01-09  83676.854426  84650.770040  83013.597491  80815.126187
2013-01-10  82423.201854  84120.489994  81958.347645  81431.110596
2013-01-11  81420.366047  83221.441272  82169.384551  81636.430386
2013-01-14  84303.596335  84489.339280  83248.107435  80979.397043
2013-01-15  83676.854426  83498.078236  82145.976828  81390.055403
2013-01-16  84178.237953  84143.569524  82872.930714  81472.159530
2013-01-17  84021.541538  84742.926942  84279.900572  80938.341850
2013-01-18  82109.840274  85296.210947  84561.356594  80404.499129
2013-01-21  81263.657132  84351.043469  83951.678092  79624.275164
2013-01-22  81263.657132  84351.043469  83951.678092  80404.499129
2013-01-23  79916.027962  83659.388082  83717.135489  80281.295986
2013-01-24  79602.628881  83797.744350  83810.872518  80527.702271
2013-01-28  77440.242104  81607.662670  81606.570481  79542.145997
2013-01-29  78411.752377  78956.620144  81489.303262  78474.448034
2013-01-30  77722.296901  78772.205577  79941.633969  74737.567767
2013-01-31  76468.713080  81584.658711  80504.439874  74244.805281
2013-02-01  76155.282749  80962.287258  80117.342931  75805.265730
2013-02-04  74745.002513  80155.400476  78240.520402  73916.294870
2013-02-05  75403.126206  79947.921493  80211.218757  74244.805281
2013-02-06  74995.731777  79223.800597  78545.514779  72273.711513
2013-02-07  74118.216853  78969.699049  78052.842231  71863.065674
2013-02-08  74650.969664  81071.578734  79460.457087  72848.603168
2013-02-13  74776.340546  81487.337757  79249.289549  73095.003192
2013-02-14  74588.281097  80563.446170  78873.900549  72561.166731
2013-02-15  76468.713080  83034.830094  82533.743263  72396.908395
2013-02-18  77618.539773  84305.196770  83401.821140  73505.661552

                VALE3.SA          saldo
Date
2013-01-02  80856.225203  404281.126013
2013-01-03  79481.121661  414275.206640
2013-01-04  78252.699176  411467.281002
2013-01-07  76712.578599  405578.633340
2013-01-08  76107.525175  403583.804427
2013-01-09  76455.888446  408612.236589
2013-01-10  77262.617303  407195.767392
2013-01-11  75667.502349  404115.124605
2013-01-14  75649.159588  408669.599682
2013-01-15  75465.799791  406176.764685
2013-01-16  74989.118568  407656.016289
2013-01-17  75135.772500  409118.483402
2013-01-18  74457.388720  406829.295663
2013-01-21  74402.394343  403593.048200
2013-01-22  75300.796317  405271.674139
2013-01-23  74897.452232  402471.299751
2013-01-24  73338.968551  401077.916571
2013-01-28  71120.484536  391317.105787
2013-01-29  71945.529030  389277.652847
2013-01-30  71047.127055  382220.831270
2013-01-31  73815.690460  386618.307406
2013-02-01  74897.452232  387937.630900
2013-02-04  74164.053731  381221.271991
2013-02-05  72788.950190  382596.021927
2013-02-06  73614.015027  378652.773694
2013-02-07  71560.514143  374564.337949
2013-02-08  72128.895608  380160.504260
2013-02-13  71707.188418  380315.159461
2013-02-14  70735.456087  377322.250634
2013-02-15  70222.062218  384656.257050
2013-02-18  69745.380995  388576.600229

In [198]:
#ENTRADA 6 etapa 2
inicio_2013_2 = '2013-02-18'
fim_2013 = '2013-12-16'

carteira_geral11 = carteira.loc[inicio_2013_2:fim_2013]
carteira_normalizada_2013 = carteira_geral11 / carteira_geral11.iloc[0]
for coluna in carteira_normalizada_2013.columns:
    if coluna != 'saldo':
        carteira_normalizada_2013[coluna] *= carteira_entrada_6[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2013['saldo'] = carteira_normalizada_2013.sum(axis=1)
print(len(carteira_normalizada_2013.columns))
valores_ult_2013 = carteira_normalizada_2013['saldo'][-1] / (len(carteira_normalizada_2013.columns) -1)
print(carteira_normalizada_2013)
print(valores_ult_2013)

6
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2013-02-18  77618.539773  84305.196770  83401.821140  73505.661552
2013-02-19  79069.055371  82826.922873  81783.006087  74326.928189
2013-02-20  78327.649447  81187.006614  80351.967179  72355.840681
2013-02-21  81518.794048  81025.369292  79765.410641  71123.890643
2013-02-22  82904.832858  81903.061514  82346.056928  70425.789586
...                  ...           ...           ...           ...
2013-12-10  94654.817895  80860.537815  83457.364473  72411.163149
2013-12-11  92076.858478  79523.995711  81233.924766  70234.636906
2013-12-12  94046.113301  79421.173154  81922.146096  70569.501544
2013-12-13  94796.608974  79729.620674  82239.762844  72076.311032
2013-12-16  94954.593176  79935.225484  82504.424417  72578.595468

                VALE3.SA          saldo
Date
2013-02-18  69745.380995  388576.600229
2013-02-19  69030.325254  387036.237773
2013-02-20  66811.800553  379034.264475
2013-02-21  67288.508901  380721.973526
2013-02-22  65491.704951  383071.445838
...                  ...            ...
2013-12-10  66899.649154  398283.532486
2013-12-11  65539.762306  388609.178167
2013-12-12  65256.449720  391215.383816
2013-12-13  64519.843779  393362.147303
2013-12-16  64954.258671  394927.097216

[210 rows x 6 columns]
78985.41944323496

In [199]:
#Entrada 7 - Dupla entrada no mesmo ano
inicio_2013_22 = '2013-12-16'
fim_2013_22 = '2013-12-31'
carteira_geral12 = carteira.loc[inicio_2013_22:fim_2013_22]
carteira_normalizada_2013_22 = carteira_geral12 / carteira_geral12.iloc[0]
for coluna in carteira_normalizada_2013.columns:
    if coluna == 'BBAS3.SA':
        carteira_normalizada_2013_22[coluna] *= carteira_normalizada_2013[coluna].iloc[-1] + acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[6]
    elif coluna != 'saldo':
        carteira_normalizada_2013_22[coluna] *= carteira_normalizada_2013[coluna].iloc[-1]
carteira_normalizada_2013_22['saldo'] = carteira_normalizada_2013_22.sum(axis=1)
valores_ult_2013_22 = carteira_normalizada_2013_22['saldo'][-1] / (len(carteira_normalizada_2013_22.columns) -1)
print(valores_ult_2013_22)
print(carteira_normalizada_2013_22)

80860.88470981133
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2013-12-16  95521.093176  79935.225484  82504.424417  72578.595468
2013-12-17  95600.569478  80449.262700  82610.285781  70318.349936
2013-12-18  96156.845393  80218.003891  83113.302795  70485.775994
2013-12-19  96951.504946  81400.284449  84966.097097  72201.880576
2013-12-20  97348.834723  80860.537815  82954.445433  70778.771597
2013-12-23  97428.336893  80603.514169  83843.212242  71406.606797
2013-12-26  97150.189235  80584.167870  84429.352389  70820.609331
2013-12-27  96474.705334  81285.365416  84189.559990  70862.490887
2013-12-30  96951.504946  82973.440860  85441.754754  71490.313566

                VALE3.SA          saldo
Date
2013-12-16  64954.258671  395493.597216
2013-12-17  64727.601821  393706.069716
2013-12-18  64916.467837  394890.395909
2013-12-19  66314.152300  401833.919368
2013-12-20  65067.576924  397010.166493
2013-12-23  65275.341747  398557.011847
2013-12-26  65558.647551  398542.966376
2013-12-27  67050.771803  399862.893430
2013-12-30  67447.409423  404304.423549

In [200]:
#ENTRADA 8 etapa 1
inicio_2014_1 = '2014-01-01'
fim_2014_1 = '2014-09-15'

carteira_entrada_2014 = carteira.loc[inicio_2014_1:fim_2014_1]
carteira_entrada_8 = (carteira_entrada_2014 / carteira_entrada_2014.iloc[0])*valores_ult_2013_22
#                                                      acessando primeira linha/primeira operação
carteira_entrada_8['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[7]
carteira_entrada_8['saldo'] = carteira_entrada_8.sum(axis=1)
print(carteira_entrada_8)

                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2014-01-02   80860.884710   80860.884710   80860.884710   80860.884710
2014-01-03   81703.186335   79046.891351   80706.939608   79654.024585
2014-01-06   80490.290638   79582.511017   80835.189213   80233.309647
2014-01-07   79108.885267   78077.631717   80219.503101   78012.648316
2014-01-08   77525.357115   77848.074779   81476.555106   78157.474997
...                   ...            ...            ...            ...
2014-09-09  118263.622577  100028.142218  113106.659037  110567.863724
2014-09-10  116399.208411   98834.909036  111885.510006  107839.680836
2014-09-11  117240.040490   98860.783522  111710.937785  109178.046013
2014-09-12  115608.395701   95773.806989  107698.464119  103670.249364
2014-09-15  120727.791192   99068.323408  110431.679212  105935.135614

                VALE3.SA          saldo
Date
2014-01-02  80860.884710  404304.423549
2014-01-03  79118.705373  400229.747251
2014-01-06  79188.384540  400329.685055
2014-01-07  77237.134342  392655.802742
2014-01-08  77771.399670  392778.861667
...                  ...            ...
2014-09-09  68333.800560  510300.088117
2014-09-10  67832.210634  502791.518923
2014-09-11  67736.673865  504726.481676
2014-09-12  68357.677455  491108.593628
2014-09-15  69528.024761  505690.954188

[175 rows x 6 columns]

In [201]:
#ENTRADA 8 etapa 2
#ERROOOOO
inicio_2014_2 = '2014-09-15'
fim_2014 = '2014-10-20'

carteira_geral13 = carteira.loc[inicio_2014_2:fim_2014]
carteira_normalizada_2014 = carteira_geral13 / carteira_geral13.iloc[0]
for coluna in carteira_normalizada_2014.columns:
    if coluna != 'saldo':
        carteira_normalizada_2014[coluna] *= carteira_entrada_8[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2014['saldo'] = carteira_normalizada_2014.sum(axis=1)
print(len(carteira_normalizada_2014.columns))
valores_ult_2014 = carteira_normalizada_2014['saldo'][-1] / (len(carteira_normalizada_2014.columns) -1)
print(carteira_normalizada_2014)
print(valores_ult_2014)

6
                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2014-09-15  120727.791192   99068.323408  110431.679212  105935.135614
2014-09-16  126042.902162  100780.411251  113281.121247  110928.168650
2014-09-17  126042.902162  100572.871365  113775.425603  113862.233878
2014-09-18  124068.727963   98497.591194  112437.861040  109589.839575
2014-09-19  121752.843609   97667.540450  109762.928363  107633.791276
2014-09-22  115982.238030   97278.374727  108280.023153  105986.602589
2014-09-23  114425.626572   96448.333873  107756.636524  103618.746288
2014-09-24  113894.134429   97460.010454  108599.810294  104133.488240
2014-09-25  110932.906580   95047.541023  105197.922930  102126.001847
2014-09-26  113248.712886   98860.783522  109617.501279  107788.221082
2014-09-29  103567.779975   91960.475471  101941.384071   95743.136660
2014-09-30   96050.747501   90793.156339   98423.136181   93117.916603
2014-10-01   97569.349043   87784.020862   95877.788960   87970.417660
2014-10-02   96620.227261   89519.886329   99077.624851   89051.361318
2014-10-03   98746.240429   91103.214975  101404.756795   94456.238458
2014-10-06  110515.310390   98137.128743  106844.438520  104957.118685
2014-10-07  114805.302044   97618.007030  107018.892872  109178.046013
2014-10-08  115526.665372   95256.060104  105622.684427  107324.938884
2014-10-09  119968.473696   96813.375791  106960.846194  109126.542936
2014-10-10  114273.798752   92997.947412  102539.240494  103206.931065
2014-10-13  127105.886447   99097.422314  110538.728068  113913.722514
2014-10-14  126346.580101   99123.375927  111556.827666  111185.561287
2014-10-15  121487.119837   94451.488211  106553.615784  103721.716339
2014-10-16  118298.100085   91181.095595  103731.810160   96000.493195
2014-10-17  121449.210270   95074.315577  106757.160267   98265.386665
2014-10-20  113590.434191   93257.483542  104139.174155   92242.819183

                VALE3.SA          saldo
Date
2014-09-15  69528.024761  505690.954188
2014-09-16  69623.569869  520656.173179
2014-09-17  69408.586078  523662.019086
2014-09-18  69480.258461  514074.278234
2014-09-19  67641.132927  504458.236624
2014-09-22  65157.160267  492684.398766
2014-09-23  65802.011562  488051.354818
2014-09-24  66016.987013  490104.430430
2014-09-25  65324.331890  478628.704271
2014-09-26  64416.730505  493931.949273
2014-09-29  63389.682097  456602.458274
2014-09-30  64130.103520  442515.060144
2014-10-01  64082.328880  433283.905406
2014-10-02  65945.322970  440214.422729
2014-10-03  64966.070051  450676.520708
2014-10-06  65300.459165  485754.455503
2014-10-07  65443.741383  494063.989342
2014-10-08  65372.098189  489102.446977
2014-10-09  64249.525523  497118.764141
2014-10-10  63055.305492  476073.223215
2014-10-13  65658.729344  516314.488687
2014-10-14  67617.256032  515829.601014
2014-10-15  67593.349948  493807.290120
2014-10-16  65395.983424  474607.482459
2014-10-17  65968.103179  487514.175958
2014-10-20  65645.956915  468875.867986
93775.17359721863

In [202]:
#Entrada 9 - Dupla entrada no mesmo ano
inicio_2014_22 = '2014-10-20'
fim_2014_22 = '2014-12-31'
carteira_geral13 = carteira.loc[inicio_2014_22:fim_2014_22]
carteira_normalizada_2014_22 = carteira_geral13 / carteira_geral13.iloc[0]
for coluna in carteira_normalizada_2014.columns:
    if coluna == 'BBAS3.SA':
        carteira_normalizada_2014_22[coluna] *= carteira_normalizada_2014[coluna].iloc[-1] + acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[8]
    elif coluna != 'saldo':
        carteira_normalizada_2014_22[coluna] *= carteira_normalizada_2014[coluna].iloc[-1]
carteira_normalizada_2014_22['saldo'] = carteira_normalizada_2014_22.sum(axis=1)
valores_ult_2014_22 = carteira_normalizada_2014_22['saldo'][-1] / (len(carteira_normalizada_2014_22.columns) -1)
print(valores_ult_2014_22)
print(carteira_normalizada_2014_22)

78572.75712238622
                 BBAS3.SA       BBDC3.SA       ITUB4.SA      PETR4.SA  \
Date
2014-10-20  116422.934191   93257.483542  104139.174155  92242.819183
2014-10-21  109341.037351   88066.394985   98903.146925  86992.407951
2014-10-22  106811.824396   88066.394985   98263.226895  85499.641850
2014-10-23   97083.955675   84380.744561   93812.523205  79837.400954
2014-10-24  100196.894693   85367.031309   96430.564323  85551.101604
2014-10-27   95021.692715   82667.776432   94307.016152  74741.412308
2014-10-28  101753.352774   86327.433679   98612.253468  77366.617924
2014-10-29   99068.446014   83809.745294   95761.467724  72167.659226
2014-10-30  106033.629639   90298.554064  103499.191261  73711.906743
2014-10-31  107901.406763   94685.031164  106844.438520  78653.480024
2014-11-03  106500.528208   92297.160298  106509.807712  76440.075190
2014-11-04  111870.296018   94215.739596  108546.863425  76285.652604
2014-11-05  102998.491812   91930.446825  107353.680839  74123.685863
2014-11-06   98640.436612   90294.360340  103454.196639  72373.548786
2014-11-07  101130.794683   90891.679182  105200.264599  73454.542987
2014-11-10   97278.538648   90787.795494  104909.229699  71961.755225
2014-11-11   95877.717232   91852.546422  104851.018004  72064.703615
2014-11-12   98445.876495   90891.679182  105636.718726  72630.934203
2014-11-13   96928.376149   88476.588673  102231.947494  70005.714146
2014-11-14   95255.193425   89723.074237  102726.660464  67946.717457
2014-11-17   98036.106032   87515.691759  101969.994867  64858.251304
2014-11-18  101632.331239   91644.749374  104938.374836  64086.131156
2014-11-19  107652.084116   95124.660048  109157.984069  65784.786818
2014-11-21  116603.483694  101331.282621  116345.910406  73608.951132
2014-11-24  112538.245755   99928.887452  113930.549397  73145.690596
2014-11-25  114179.956023  102759.552276  115385.558883  72836.838204
2014-11-26  112733.697249  100058.813771  114425.238792  72939.786594
2014-11-27  113906.337645   98500.657361  112737.437532  69182.105362
2014-11-28  116095.376092   99331.687301  112620.974853  66093.624769
2014-12-01  107612.966390   94137.829303  107395.296543  63416.952178
2014-12-02  105384.890213   93692.997828  106492.810966  62644.846470
2014-12-03  105541.223981   94706.345965  107395.296543  65424.460231
2014-12-04  104134.037221   92523.759869  105794.184189  63159.573981
2014-12-05  106440.257427   93277.294932  107802.896277  62696.313445
2014-12-08  100889.631561   90289.306111  103785.424954  59247.495435
2014-12-09   98348.807852   90419.232429  104192.938250  58784.216847
2014-12-10   93540.830239   89405.943638  102620.908170  56004.570595
2014-12-11   97527.918435   91146.695189  103785.424954  54717.701274
2014-12-12   93348.355714   86158.082398   98254.009519  52452.807804
2014-12-15   88847.703090   84495.251031   96158.034895  46636.165984
2014-12-16   86356.276510   84443.215224   95692.152745  48231.884086
2014-12-17   93147.430253   89249.984580  100524.823535  48746.636869
2014-12-18   93629.613648   88366.622107   99767.914342  49261.371600
2014-12-19   97849.031194   90029.473255  101310.854291  50599.729557
2014-12-22   98733.059798   91536.474145  102009.543931  53379.361369
2014-12-23   98371.435108   92673.547032  102475.378933  56159.004011
2014-12-26   98652.687328   91273.021235  101019.732953  53121.990393
2014-12-29   97648.082877   91986.429084  101310.854291  52916.075561
2014-12-30   95518.298128   90691.606894  100728.595899  51629.213461

                VALE3.SA          saldo
Date
2014-10-20  65645.956915  471708.367986
2014-10-21  66215.933337  449518.920549
2014-10-22  66315.060397  444956.148522
2014-10-23  67529.333516  422643.957912
2014-10-24  68024.956304  435570.548233
2014-10-27  65571.611620  412309.509227
2014-10-28  64778.603484  428838.261329
2014-10-29  61358.765801  412166.084058
2014-10-30  58731.961273  432275.242980
2014-10-31  61953.519818  450037.876290
2014-11-03  61705.706339  443453.277748
2014-11-04  59747.976104  450666.527747
2014-11-05  59475.372520  435881.677860
2014-11-06  58608.031599  423370.573975
2014-11-07  59524.948560  430202.230011
2014-11-10  57740.686509  422678.005573
2014-11-11  55931.642692  420577.627966
2014-11-12  55807.746378  423412.954983
2014-11-13  55659.039109  413301.665571
2014-11-14  56997.241902  412648.887485
2014-11-17  56823.769548  409203.813512
2014-11-18  54593.448239  416895.034843
2014-11-19  54915.619522  432635.134572
2014-11-21  58459.349350  466348.977203
2014-11-24  58731.961273  458275.334474
2014-11-25  59376.257971  464538.163357
2014-11-26  57096.373132  457253.909539
2014-11-27  56947.699222  451274.237122
2014-11-28  57715.904744  451857.567757
2014-12-01  54841.257548  427404.301962
2014-12-02  53205.694426  421421.239902
2014-12-03  54395.202460  427462.529180
2014-12-04  53701.325553  419312.880814
2014-12-05  54221.725936  424438.488016
2014-12-08  52487.044094  406698.902155
2014-12-09  51297.527720  403042.723099
2014-12-10  49389.348504  390961.601146
2014-12-11  48001.590521  395179.330373
2014-12-12  46861.658526  377074.913962
2014-12-15  46316.455529  362453.610531
2014-12-16  47952.026991  362675.555557
2014-12-17  48844.162187  380513.037423
2014-12-18  49463.689629  380489.211326
2014-12-19  53453.507904  393242.596202
2014-12-22  52957.876777  398616.316019
2014-12-23  55064.293432  404743.658515
2014-12-26  53726.090638  397793.522547
2014-12-29  54791.694018  398653.135831
2014-12-30  54296.071230  392863.785612

In [203]:
inicio_2015 = '2015-01-01'
fim_2015 = '2015-12-31'

carteira_geral14 = carteira.loc[inicio_2015:fim_2015]
carteira_normalizada_2015 = (carteira_geral14 / carteira_geral14.iloc[0])*valores_ult_2014_22
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2015['saldo'] = carteira_normalizada_2015.sum(axis=1)
print(len(carteira_normalizada_2015.columns))
valores_ult_2015 = carteira_normalizada_2015['saldo'][-1] / (len(carteira_normalizada_2015.columns) -1)
print(carteira_normalizada_2015)
print(valores_ult_2015)

6
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2015-01-02  78572.757122  78572.757122  78572.757122  78572.757122
2015-01-05  76942.318967  77604.251117  78967.612134  71857.154971
2015-01-06  78017.707314  79673.773164  80245.063218  69506.673612
2015-01-07  81451.982123  83191.813556  83148.248912  72780.536284
2015-01-08  81729.524292  83375.762087  84448.898010  77481.487228
...                  ...           ...           ...           ...
2015-12-22  63602.221541  61354.559567  71411.294620  56998.827072
2015-12-23  62966.196859  62084.263649  71142.819280  58174.070695
2015-12-28  63517.409043  62551.278735  70874.350207  56243.322566
2015-12-29  62754.200142  62463.712869  70928.077860  56159.384162
2015-12-30  62499.787309  59836.762688  70686.435015  56243.322566

                VALE3.SA          saldo
Date
2015-01-02  78572.757122  392863.785612
2015-01-05  77391.232176  382762.569364
2015-01-06  80492.764671  387935.981979
2015-01-07  83446.632953  404019.213827
2015-01-08  84332.804621  411368.476237
...                  ...            ...
2015-12-22  48837.069606  302203.972405
2015-12-23  51444.318095  305811.668579
2015-12-28  49187.305360  302373.665911
2015-12-29  49498.613605  301803.988638
2015-12-30  50704.934608  299971.242186

[246 rows x 6 columns]
59994.24843723477

In [204]:
#ENTRADA 10 etapa 1
inicio_2016_1 = '2016-01-01'
fim_2016_1 = '2016-12-19'

carteira_entrada_2016 = carteira.loc[inicio_2016_1:fim_2016_1]
carteira_entrada_10 = (carteira_entrada_2016 / carteira_entrada_2016.iloc[0])*valores_ult_2015
#                                                      acessando primeira linha/primeira operação
carteira_entrada_10['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[9]
carteira_entrada_10['saldo'] = carteira_entrada_10.sum(axis=1)
print(carteira_entrada_10)

                 BBAS3.SA      BBDC3.SA      ITUB4.SA       PETR4.SA  \
Date
2016-01-04   59994.248437  59994.248437  59994.248437   59994.248437
2016-01-05   60204.921195  60461.722993  60495.521957   58335.031875
2016-01-06   60204.921195  59391.626774  60256.811794   55889.836778
2016-01-07   58772.474851  57489.186815  59110.878263   54667.254542
2016-01-08   58772.474851  57370.293071  59134.753734   54754.575282
...                   ...           ...           ...            ...
2016-12-13  119558.427240  94182.164916  89537.852864  134921.574553
2016-12-14  116651.374514  92964.256744  89345.941300  128721.305882
2016-12-15  121127.337422  93031.930952  88989.441022  129681.913648
2016-12-16  121911.782710  94249.821619  87398.901319  128895.947363
2016-12-19  119189.318608  92321.570585  85040.475880  126966.823760

                 VALE3.SA          saldo
Date
2016-01-04   59994.248437  299971.242186
2016-01-05   59190.565671  298687.763691
2016-01-06   54841.087994  290584.284536
2016-01-07   51579.003325  281618.797796
2016-01-08   49829.750591  279861.847530
...                   ...            ...
2016-12-13  134722.106008  572922.125582
2016-12-14  132582.162463  560265.040903
2016-12-15  134246.584804  567077.207847
2016-12-16  131963.935080  564420.388091
2016-12-19  123879.651910  547397.840742

[241 rows x 6 columns]

In [205]:
#ENTRADA 10 etapa 2
inicio_2016_2 = '2016-12-19'
fim_2016 = '2016-12-30'

carteira_geral15 = carteira.loc[inicio_2016_2:fim_2016]
carteira_normalizada_2016 = carteira_geral15 / carteira_geral15.iloc[0]
for coluna in carteira_normalizada_2016.columns:
    if coluna != 'saldo':
        carteira_normalizada_2016[coluna] *= carteira_entrada_10[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2016['saldo'] = carteira_normalizada_2016.sum(axis=1)
print(len(carteira_normalizada_2016.columns))
valores_ult_2016 = carteira_normalizada_2016['saldo'][-1] / (len(carteira_normalizada_2016.columns) -1)
print(carteira_normalizada_2016)
print(valores_ult_2016)

6
                 BBAS3.SA      BBDC3.SA      ITUB4.SA       PETR4.SA  \
Date
2016-12-19  119189.318608  92321.570585  85040.475880  126966.823760
2016-12-20  121127.337422  93031.930952  87206.878369  126878.420173
2016-12-21  121127.337422  91340.469625  87179.483117  126789.991782
2016-12-22  119973.734490  91192.666424  87892.533797  123872.276545
2016-12-23  123388.393679  93378.511820  90373.544496  125905.819489
2016-12-26  125326.402690  95291.200937  91097.176794  127497.344499
2016-12-27  126203.156994  95530.292547  91041.556468  127408.928510
2016-12-28  127772.057374  97750.325146  93184.651552  130680.344909
2016-12-29  129617.806381  99526.361728  94214.471319  131476.101213

                 VALE3.SA          saldo
Date
2016-12-19  123879.651910  547397.840742
2016-12-20  126400.032044  554644.598960
2016-12-21  125924.525936  552361.807881
2016-12-22  120693.468118  543624.679374
2016-12-23  119789.971791  552836.241275
2016-12-26  123594.337678  562806.462597
2016-12-27  122976.148035  563160.082554
2016-12-28  126875.621182  576263.000163
2016-12-29  122120.152501  576954.893142
115390.97862845086

In [206]:
#ENTRADA 11 etapa 1
inicio_2017_1 = '2017-01-01'
fim_2017_1 = '2017-11-21'

carteira_entrada_2017 = carteira.loc[inicio_2017_1:fim_2017_1]
carteira_entrada_11 = (carteira_entrada_2017 / carteira_entrada_2017.iloc[0])*valores_ult_2016
#                                                      acessando primeira linha/primeira operação
carteira_entrada_11['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[10]
carteira_entrada_11['saldo'] = carteira_entrada_11.sum(axis=1)
print(carteira_entrada_11)

                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2017-01-02  115390.978628  115390.978628  115390.978628  115390.978628
2017-01-03  120670.344414  120067.196276  120277.828090  122002.751802
2017-01-04  120041.862262  120027.170813  120793.965668  122002.751802
2017-01-05  119748.564658  120708.157744  122445.914285  123970.570354
2017-01-06  121047.424805  121629.687345  122858.915205  123262.142426
...                   ...            ...            ...            ...
2017-11-15  133880.717040  133827.388249  145543.748926  120822.093794
2017-11-16  140224.701862  136770.567982  149207.330437  124442.789394
2017-11-17  142587.308772  140159.763321  151270.215038  126095.765810
2017-11-20  142587.308772  140159.763321  151270.215038  126095.765810
2017-11-21  148153.186784  142567.939792  154293.459966  125151.228362

                 VALE3.SA          saldo
Date
2017-01-02  115390.978628  576954.893142
2017-01-03  120502.050201  603520.170784
2017-01-04  118337.922203  601203.672749
2017-01-05  122850.423841  609723.630880
2017-01-06  119581.128964  608379.298745
...                   ...            ...
2017-11-15  153023.792093  687097.740102
2017-11-16  155117.420134  705762.809808
2017-11-17  156640.032131  716753.085072
2017-11-20  156640.032131  716753.085072
2017-11-21  162016.812390  732182.627294

[226 rows x 6 columns]

In [207]:
#ENTRADA 11 etapa 2
inicio_2017_2 = '2017-11-21'
fim_2017 = '2017-12-30'

carteira_geral17 = carteira.loc[inicio_2017_2:fim_2017]
carteira_normalizada_2017 = carteira_geral17 / carteira_geral17.iloc[0]
for coluna in carteira_normalizada_2017.columns:
    if coluna != 'saldo':
        carteira_normalizada_2017[coluna] *= carteira_entrada_11[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2017['saldo'] = carteira_normalizada_2017.sum(axis=1)
print(len(carteira_normalizada_2017.columns))
valores_ult_2017 = carteira_normalizada_2017['saldo'][-1] / (len(carteira_normalizada_2017.columns) -1)
print(carteira_normalizada_2017)
print(valores_ult_2017)

6
                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2017-11-21  148153.186784  142567.939792  154293.459966  125151.228362
2017-11-22  148318.424104  140917.887251  152799.699196  126804.127492
2017-11-23  148499.626910  139936.806819  152337.305012  127433.822804
2017-11-24  147684.159733  138242.193759  150914.564267  126725.450081
2017-11-27  145690.901596  139134.153151  151839.380167  124915.052597
2017-11-28  147865.417090  138465.191302  152088.370122  124678.932036
2017-11-29  141160.722352  136904.382924  148958.285417  120664.672726
2017-11-30  135588.567879  135477.399749  146788.643637  121058.203314
2017-12-01  139439.232055  136280.063677  146699.699970  122868.556634
2017-12-04  142836.880126  137160.213455  148870.126426  121845.319694
2017-12-05  140752.975126  135420.054885  147980.607161  120507.229577
2017-12-06  145011.431988  137294.100219  149546.255228  122160.150788
2017-12-07  139393.890440  136089.365585  149048.055058  120113.676907
2017-12-08  140209.366709  136089.365585  150328.907184  120822.093794
2017-12-11  139076.817352  136178.496884  150720.350174  121058.203314
2017-12-12  142562.075570  138944.983845  151930.140977  121924.030227
2017-12-13  139146.052644  136847.807584  148549.937485  119483.981595
2017-12-14  138599.489340  135509.340089  146201.623696  118145.913560
2017-12-15  139373.760836  135152.291616  146717.568548  117673.606193
2017-12-18  141241.177125  135420.054885  146681.845159  119798.823731
2017-12-19  140421.318531  134170.636608  145860.592671  119169.128419
2017-12-20  140512.410899  135420.054885  146396.154412  119956.255839
2017-12-21  142061.035720  140194.268739  152573.368470  124836.353104
2017-12-22  142562.075570  140997.476463  151859.258615  123970.570354
2017-12-25  142562.075570  140997.476463  151859.258615  123970.570354
2017-12-26  144110.609471  142663.483784  152466.308433  125702.191059
2017-12-27  145887.006127  143577.697785  151645.042179  126331.875330
2017-12-28  144930.458974  146548.888159  152037.820495  126725.450081
2017-12-29  144930.458974  146548.888159  152037.820495  126725.450081

                 VALE3.SA          saldo
Date
2017-11-21  162016.812390  732182.627294
2017-11-22  165299.964609  734140.102653
2017-11-23  167488.723010  735696.284556
2017-11-24  170296.077251  733862.445091
2017-11-27  168487.942615  730067.430126
2017-11-28  172484.835652  735582.746203
2017-11-29  169867.844454  717555.907874
2017-11-30  167203.244224  706116.058802
2017-12-01  168821.030434  714108.582771
2017-12-04  175244.624713  725957.164413
2017-12-05  171390.471069  716051.337818
2017-12-06  170153.308623  724165.246847
2017-12-07  168154.898648  712799.886638
2017-12-08  168821.030434  716270.763705
2017-12-11  170153.308623  717187.176348
2017-12-12  172151.777068  727513.007688
2017-12-13  171818.703866  715846.483174
2017-12-14  172437.299707  710893.666392
2017-12-15  175530.118117  714447.345310
2017-12-18  180050.403547  723192.304447
2017-12-19  180097.968727  719719.644955
2017-12-20  186283.620166  728568.496201
2017-12-21  189043.394609  748708.420641
2017-12-22  191351.299840  750740.680842
2017-12-25  191351.299840  750740.680842
2017-12-26  191639.848291  756582.441037
2017-12-27  191687.939699  759129.561120
2017-12-28  193611.508334  763854.126042
2017-12-29  193611.508334  763854.126042
152770.8252083833

In [4]:
#ENTRADA 12, 14 E 15 etapa 1
inicio_2018_1 = '2018-01-01'
fim_2018_1 = '2018-03-19'

carteira_entrada_2018 = carteira.loc[inicio_2018_1:fim_2018_1]
carteira_entrada_12 = (carteira_entrada_2018 / carteira_entrada_2018.iloc[0])*valores_ult_2017
#                                                      acessando primeira linha/primeira operação
carteira_entrada_12['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[11]
carteira_entrada_12['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[13]
carteira_entrada_12['BBDC3.SA'].iloc[-1] += acoes_num['BBDC3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[14]
carteira_entrada_12['saldo'] = carteira_entrada_12.sum(axis=1)
print(carteira_entrada_12)

NameError: name 'carteira' is not defined

In [209]:
#ENTRADA 12, 14 E 15 etapa 2
inicio_2018_2 = '2018-03-19'
fim_2018 = '2018-06-18'

carteira_geral18 = carteira.loc[inicio_2018_2:fim_2018]
carteira_normalizada_2018 = carteira_geral18 / carteira_geral18.iloc[0]
for coluna in carteira_normalizada_2018.columns:
    if coluna != 'saldo':
        carteira_normalizada_2018[coluna] *= carteira_entrada_12[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2018['saldo'] = carteira_normalizada_2018.sum(axis=1)
print(len(carteira_normalizada_2018.columns))
valores_ult_2018 = carteira_normalizada_2018['saldo'][-1] / (len(carteira_normalizada_2018.columns) -1)
print(carteira_normalizada_2018)
print(valores_ult_2018)

6
                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2018-03-19  199825.158367  174319.788000  181893.702694  193280.164713
2018-03-20  200597.468649  174031.931418  182474.249241  195404.215234
2018-03-21  203927.823130  175615.432993  181748.505676  203623.006806
2018-03-22  200259.477362  178254.397946  181167.865202  200575.584466
2018-03-23  198859.775259  180413.580421  182038.805785  200852.606375
...                   ...            ...            ...            ...
2018-06-12  132830.139608  129055.625650  144866.544288  143052.515000
2018-06-13  130418.645578  126782.186719  143449.809978  140369.096806
2018-06-14  124512.886282  120279.204758  138364.197536  139721.373833
2018-06-15  123036.455944  123345.642006  139708.272955  138518.480095
2018-06-18  120674.140842  120014.868401  136874.871427  134169.510747

                 VALE3.SA          saldo
Date
2018-03-19  152210.265538  901529.079312
2018-03-20  154061.972338  906569.836879
2018-03-21  157395.033447  922309.802050
2018-03-22  155284.088808  915541.413784
2018-03-23  154061.972338  916226.740177
...                   ...            ...
2018-06-12  191466.427429  741271.251975
2018-06-13  190910.887564  731930.626644
2018-06-14  191503.424835  714381.087244
2018-06-15  181948.644462  706557.495463
2018-06-18  182244.913098  693978.304515

[63 rows x 6 columns]
138795.6609030746

In [210]:
#ENTRADA 13 - Dupla Entrada mesmo ano
inicio_2018_22 = '2018-06-18'
fim_2018_22 = '2018-12-31'
carteira_geral13 = carteira.loc[inicio_2018_22:fim_2018_22]
carteira_normalizada_2018_22 = carteira_geral13 / carteira_geral13.iloc[0]
for coluna in carteira_normalizada_2018.columns:
    if coluna == 'VALE3.SA':
        carteira_normalizada_2018_22[coluna] *= carteira_normalizada_2018[coluna].iloc[-1] + acoes_num['VALE3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[12]
    elif coluna != 'saldo':
        carteira_normalizada_2018_22[coluna] *= carteira_normalizada_2018[coluna].iloc[-1]
carteira_normalizada_2018_22['saldo'] = carteira_normalizada_2018_22.sum(axis=1)
valores_ult_2018_22 = carteira_normalizada_2018_22['saldo'][-1] / (len(carteira_normalizada_2018_22.columns) -1)
print(valores_ult_2018_22)
print(carteira_normalizada_2018_22)

207045.08665689244
                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2018-06-18  120674.140842  120014.868401  136874.871427  134169.510747
2018-06-19  129139.101711  125301.842894  143050.246462  142682.357979
2018-06-20  132879.365969  126094.894983  145702.034310  149992.285567
2018-06-21  128007.142061  122182.525470  141815.139252  139721.373833
2018-06-22  128450.065470  124773.180935  142904.955518  139813.913088
...                   ...            ...            ...            ...
2018-12-20  228022.917305  179047.407017  191994.080127  200141.023025
2018-12-21  228074.600715  177764.645989  191107.292794  200699.781888
2018-12-26  229574.766715  177130.922722  186950.385760  208855.231221
2018-12-27  233402.640425  181602.938086  190109.645304  208758.883659
2018-12-28  240489.642652  184602.428191  196760.811954  218488.756813

                 VALE3.SA         saldo
Date
2018-06-18  182775.523098  6.945089e+05
2018-06-19  179395.607934  7.195692e+05
2018-06-20  181289.833468  7.359584e+05
2018-06-21  175347.130762  7.070733e+05
2018-06-22  178318.476533  7.142606e+05
...                   ...           ...
2018-12-20  190336.540579  9.895420e+05
2018-12-21  194348.783324  9.919951e+05
2018-12-26  192743.886226  9.952552e+05
2018-12-27  189151.900318  1.003026e+06
2018-12-28  194883.793675  1.035225e+06

[132 rows x 6 columns]

In [211]:
#ENTRADA 16 etapa 1
inicio_2019_1 = '2019-01-01'
fim_2019_1 = '2019-03-18'

carteira_entrada_2019 = carteira.loc[inicio_2019_1:fim_2019_1]
carteira_entrada_16 = (carteira_entrada_2019 / carteira_entrada_2019.iloc[0])*valores_ult_2018_22
#                                                      acessando primeira linha/primeira operação
carteira_entrada_16['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[15]
carteira_entrada_16['saldo'] = carteira_entrada_16.sum(axis=1)
print(carteira_entrada_16)

                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2019-01-02  207045.086657  207045.086657  207045.086657  207045.086657
2019-01-03  207897.133439  211372.493135  210458.670860  212122.289991
2019-01-04  207897.133439  206739.632339  206933.370981  212724.648867
2019-01-07  206533.896089  208476.955137  207324.931041  216080.793782
2019-01-08  204190.716656  210793.317048  209955.043050  214789.942112
2019-01-09  203636.930781  215194.461751  213144.654249  219264.717145
2019-01-10  206619.039828  215831.486959  211689.818236  217371.552884
2019-01-11  207471.086609  214962.859803  210402.664068  215048.135588
2019-01-14  212285.122020  215194.461751  211969.581372  213843.371553
2019-01-15  209814.250417  216005.239785  208667.956588  213671.242569
2019-01-16  207811.942824  217163.432155  208052.382900  213585.178077
2019-01-17  208578.736488  218032.127798  208052.382900  216511.023674
2019-01-18  206832.016366  220638.077752  210738.420454  218576.340061
2019-01-21  205724.413364  216816.086307  209003.699434  219695.039605
2019-01-22  205340.977468  216642.242164  208667.956588  216252.853340
2019-01-23  209601.164500  220753.935798  210066.988928  218834.440969
2019-01-24  208536.094304  223996.888131  209787.198710  219781.057813
2019-01-28  205852.183661  229266.682818  213536.336180  213154.948185
2019-01-29  212711.137598  223012.494246  211969.581372  218318.146585
2019-01-30  215480.254481  224807.574849  213312.539213  220469.481181
2019-01-31  220933.219505  233146.683189  217005.737598  220125.246355
2019-02-01  221998.320953  230366.980409  217257.605668  222018.433758
2019-02-04  226215.881427  235391.475646  222183.806586  223997.639370
2019-02-05  232819.216641  235217.608674  212723.330425  224427.938688
2019-02-06  218632.807261  224036.108648  203766.454991  219350.781637
2019-02-07  220081.203974  227280.567706  204494.231842  215908.618514
2019-02-08  220379.418004  233189.990127  208860.716910  216252.853340
2019-02-11  213861.429661  228670.978411  206509.474310  213757.283919
2019-02-12  227025.348526  233595.436217  211435.742935  221330.010391
2019-02-13  221870.535030  231625.712451  206621.528519  224169.768354
2019-02-14  233202.574410  239504.835809  212107.445287  231914.646951
2019-02-15  233500.835316  236318.408506  209924.304313  230968.030108
2019-02-18  231200.360569  230872.486758  206565.562351  230279.606740
2019-02-19  232180.271402  234638.341270  211323.797057  235614.910982
2019-02-20  225619.547120  230119.329554  208636.757447  232689.134811
2019-02-21  226641.959507  232900.242280  212443.364169  235787.086250
2019-02-22  231320.568090  232436.718777  211065.672909  233463.553245
2019-02-25  227529.757596  230814.569150  207841.531410  229763.289214
2019-02-26  228749.770959  231799.419618  208590.094147  228730.677304
2019-02-27  226135.503487  230293.219355  206747.638591  233033.300211
2019-02-28  220471.233862  223225.033835  202832.593185  232861.194369
2019-03-01  223564.878237  216678.380743  200672.648448  229763.289214
2019-03-06  220601.941766  215039.474504  200730.280195  230279.606740
2019-03-07  219730.534902  217010.157096  203494.965586  230365.648090
2019-03-08  227442.676287  219096.720563  205914.090692  229505.118880
2019-03-11  234414.071835  228022.949542  212653.078191  238798.903771
2019-03-12  233766.626285  230515.255879  213113.834264  236647.592318
2019-03-13  237360.288945  230399.466320  215418.020866  241810.813860
2019-03-14  235563.395113  229588.049069  212019.467499  242585.278578
2019-03-15  237579.406332  230689.282655  211961.998247  243101.596104
2019-03-18  237651.962500  232370.148912  212307.504366  247318.177661

                 VALE3.SA         saldo
Date
2019-01-02  207045.086657  1.035225e+06
2019-01-03  198575.237747  1.040426e+06
2019-01-04  211502.894396  1.045798e+06
2019-01-07  210368.151286  1.048785e+06
2019-01-08  212394.427531  1.052123e+06
2019-01-09  217581.723131  1.068822e+06
2019-01-10  215190.726632  1.066703e+06
2019-01-11  212272.893575  1.060158e+06
2019-01-14  213164.426711  1.066457e+06
2019-01-15  212151.312265  1.060310e+06
2019-01-16  213367.101689  1.059980e+06
2019-01-17  219770.115682  1.070944e+06
2019-01-18  221917.925883  1.078703e+06
2019-01-21  224025.295796  1.075265e+06
2019-01-22  223214.785298  1.070119e+06
2019-01-23  225524.735482  1.084781e+06
2019-01-24  227551.035404  1.089652e+06
2019-01-28  171666.298684  1.033476e+06
2019-01-29  173206.308881  1.039218e+06
2019-01-30  188849.135448  1.062919e+06
2019-01-31  184391.292193  1.075602e+06
2019-02-01  187430.694722  1.079072e+06
2019-02-04  181068.215725  1.088857e+06
2019-02-05  180419.786018  1.085608e+06
2019-02-06  172071.530256  1.037858e+06
2019-02-07  168545.802487  1.036310e+06
2019-02-08  174908.316999  1.053591e+06
2019-02-11  170288.404793  1.033088e+06
2019-02-12  179528.229205  1.072915e+06
2019-02-13  184350.780875  1.068638e+06
2019-02-14  185039.710063  1.101769e+06
2019-02-15  185931.255036  1.096643e+06
2019-02-18  183378.177748  1.082296e+06
2019-02-19  184350.780875  1.098108e+06
2019-02-20  185607.081617  1.082672e+06
2019-02-21  183905.002468  1.091678e+06
2019-02-22  190429.633287  1.098716e+06
2019-02-25  190956.458007  1.086906e+06
2019-02-26  191280.678780  1.089151e+06
2019-02-27  189781.215417  1.085991e+06
2019-02-28  190875.376177  1.070265e+06
2019-03-01  189416.507003  1.060096e+06
2019-03-06  194725.312881  1.061377e+06
2019-03-07  198007.889869  1.068609e+06
2019-03-08  197967.366712  1.079926e+06
2019-03-11  202141.536027  1.116031e+06
2019-03-12  202506.232604  1.116550e+06
2019-03-13  205464.648011  1.130453e+06
2019-03-14  205505.159329  1.125261e+06
2019-03-15  204856.670429  1.128189e+06
2019-03-18  204491.997530  1.134140e+06

In [212]:
#ENTRADA 16 etapa 2
inicio_2019_2 = '2019-03-18'
fim_2019 = '2019-12-30'

carteira_geral19 = carteira.loc[inicio_2019_2:fim_2019]
carteira_normalizada_2019 = carteira_geral19 / carteira_geral19.iloc[0]
for coluna in carteira_normalizada_2019.columns:
    if coluna != 'saldo':
        carteira_normalizada_2019[coluna] *= carteira_entrada_16[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2019['saldo'] = carteira_normalizada_2019.sum(axis=1)
print(len(carteira_normalizada_2019.columns))
valores_ult_2019 = carteira_normalizada_2019['saldo'][-1] / (len(carteira_normalizada_2019.columns) -1)
print(carteira_normalizada_2019)
print(valores_ult_2019)

6
                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2019-03-18  237651.962500  232370.148912  212307.504366  247318.177661
2019-03-19  232572.052303  227791.096474  207354.004199  251276.681452
2019-03-20  227359.689130  223501.860371  202688.595064  249297.406415
2019-03-21  222588.862123  216488.396376  199117.525611  245769.271367
2019-03-22  210485.479378  210750.284059  193242.459133  232344.923127
...                   ...            ...            ...            ...
2019-12-20  243242.375757  244693.746741  214629.782137  265375.128263
2019-12-23  250578.648367  249614.026809  216629.086503  267479.994049
2019-12-26  253436.923716  252257.781872  219922.139647  271075.587552
2019-12-27  252341.249399  250642.161388  219334.041245  271359.561034
2019-12-30  251626.712061  250201.649690  218157.979853  268336.542863

                 VALE3.SA         saldo
Date
2019-03-18  204491.997530  1.134140e+06
2019-03-19  210327.663645  1.129321e+06
2019-03-20  204897.252779  1.107745e+06
2019-03-21  206234.576159  1.090199e+06
2019-03-22  202830.441538  1.049654e+06
...                   ...           ...
2019-12-20  222039.554547  1.189981e+06
2019-12-23  221188.556407  1.205490e+06
2019-12-26  222039.554547  1.218732e+06
2019-12-27  222972.877558  1.216650e+06
2019-12-30  221724.911113  1.210048e+06

[198 rows x 6 columns]
242009.55911600683

In [213]:
inicio_2020 = '2020-01-01'
fim_2020 = '2020-12-31'

carteira_geral20 = carteira.loc[inicio_2020:fim_2020]
carteira_normalizada_2020 = (carteira_geral20 / carteira_geral20.iloc[0])*valores_ult_2019
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2020['saldo'] = carteira_normalizada_2020.sum(axis=1)
print(len(carteira_normalizada_2020.columns))
valores_ult_2020 = carteira_normalizada_2020['saldo'][-1] / (len(carteira_normalizada_2020.columns) -1)
print(carteira_normalizada_2020)
print(valores_ult_2020)

6
                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2020-01-02  242009.559116  242009.559116  242009.559116  242009.559116
2020-01-03  241604.709629  238233.207068  239464.217809  240038.801444
2020-01-06  238410.885441  236866.839029  235900.555407  242876.642428
2020-01-07  236611.556040  232835.877121  230427.722229  241930.729630
2020-01-08  234452.333989  229283.248044  226673.233570  240432.969393
...                   ...            ...            ...            ...
2020-12-22  186468.471683  184914.709641  203906.329581  215053.814276
2020-12-23  189536.526774  188866.830377  208408.566540  220335.553990
2020-12-28  191630.566614  190462.928940  209909.204770  222148.693725
2020-12-29  190510.482538  190443.866104  209452.507894  222858.179618
2020-12-30  188952.117624  186739.944342  206385.825796  223410.047575

                 VALE3.SA         saldo
Date
2020-01-02  242009.559116  1.210048e+06
2020-01-03  240227.740287  1.199569e+06
2020-01-06  238802.310577  1.192857e+06
2020-01-07  240539.507876  1.182345e+06
2020-01-08  240584.053346  1.171426e+06
...                   ...           ...
2020-12-22  403457.480855  1.193801e+06
2020-12-23  405406.503656  1.212554e+06
2020-12-28  405174.446347  1.219326e+06
2020-12-29  404060.733519  1.217326e+06
2020-12-30  405824.171320  1.211312e+06

[248 rows x 6 columns]
242262.4213311298

In [214]:
#ENTRADA 17 etapa 1
inicio_2021_1 = '2021-01-01'
fim_2021_1 = '2021-02-22'

carteira_entrada_2021 = carteira.loc[inicio_2021_1:fim_2021_1]
carteira_entrada_17 = (carteira_entrada_2021 / carteira_entrada_2021.iloc[0])*valores_ult_2020
#                                                      acessando primeira linha/primeira operação
carteira_entrada_17['VALE3.SA'].iloc[-1] += acoes_num['VALE3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[16]
carteira_entrada_17['saldo'] = carteira_entrada_17.sum(axis=1)
print(carteira_entrada_17)

                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2021-01-04  242262.421331  242262.421331  242262.421331  242262.421331
2021-01-05  239748.917269  241104.132915  240694.340826  251731.643242
2021-01-06  245227.057560  247165.040278  247750.597543  252234.463510
2021-01-07  254958.833734  253226.117080  257394.014684  259776.374941
2021-01-08  256441.142008  251274.258770  257315.603622  260781.906424
2021-01-11  252251.962011  247473.307206  251513.906310  258603.185810
2021-01-12  254572.137774  247575.931063  252297.841006  256675.831709
2021-01-13  242004.578101  242953.226169  248142.547298  244273.571540
2021-01-14  241424.593204  250657.866112  255512.342708  246787.520206
2021-01-15  233948.517224  241412.315124  245868.925566  235642.332518
2021-01-18  231563.964299  242439.598567  244614.401347  235223.308358
2021-01-19  227632.588169  237919.489290  241713.526302  240418.819717
2021-01-20  222541.143839  233194.047580  237715.072311  236396.497488
2021-01-21  220285.443645  228982.064031  234500.553017  230865.758077
2021-01-22  217127.439755  225181.084228  229482.825586  227011.006254
2021-01-26  211327.059391  220352.820981  221866.080192  226256.841283
2021-01-27  217514.155396  222201.998955  221866.080192  229608.772839
2021-01-28  222605.560364  229084.843207  230819.209055  232625.541773
2021-01-29  218223.071749  222304.721651  222572.976063  223659.052888
2021-02-01  220994.399360  227030.233961  228505.546135  230698.209482
2021-02-02  219512.051724  226590.778500  223633.645336  240167.453204
2021-02-03  221252.144183  228030.039966  222533.550622  242513.809655
2021-02-04  220349.879850  235021.000739  221590.665074  241508.212740
2021-02-05  218867.571577  233478.931857  220647.726747  241675.783145
2021-02-08  218287.547317  229263.728959  216561.643073  235558.514600
2021-02-09  220929.904110  231422.698816  219154.785045  230781.983780
2021-02-10  217900.851357  229160.963902  217583.150797  232960.748015
2021-02-11  218738.699165  229777.751919  217583.150797  235307.126276
2021-02-12  217514.155396  230291.817239  218133.189357  238323.917021
2021-02-17  215000.631653  227927.260789  220883.487718  247960.774769
2021-02-18  214356.190869  224836.529006  219311.923840  245279.168455
2021-02-19  210295.883284  224013.222480  217033.147421  229022.221894
2021-02-22  185805.421216  211253.693961  201238.974434  181592.065411

                 VALE3.SA         saldo
Date
2021-01-04  242262.421331  1.211312e+06
2021-01-05  246341.659156  1.219621e+06
2021-01-06  254420.629289  1.246798e+06
2021-01-07  271028.801735  1.296384e+06
2021-01-08  270181.157752  1.295994e+06
2021-01-11  270128.221608  1.279971e+06
2021-01-12  262737.971255  1.273860e+06
2021-01-13  254870.948295  1.232245e+06
2021-01-14  259056.087350  1.253438e+06
2021-01-15  247798.488460  1.204671e+06
2021-01-18  249811.595887  1.203653e+06
2021-01-19  249149.445478  1.196834e+06
2021-01-20  244540.469961  1.174387e+06
2021-01-21  247295.233311  1.161929e+06
2021-01-22  246791.949219  1.145594e+06
2021-01-26  243030.617684  1.122833e+06
2021-01-27  236276.107553  1.127467e+06
2021-01-28  241308.847176  1.156444e+06
2021-01-29  232965.080552  1.119725e+06
2021-02-01  241759.151710  1.148988e+06
2021-02-02  232196.898671  1.142101e+06
2021-02-03  239534.198409  1.153864e+06
2021-02-04  236514.450442  1.154984e+06
2021-02-05  245520.555602  1.160191e+06
2021-02-08  249017.003819  1.148688e+06
2021-02-09  249652.700627  1.151942e+06
2021-02-10  250844.675557  1.148450e+06
2021-02-11  246606.542473  1.148013e+06
2021-02-12  248699.068587  1.152962e+06
2021-02-17  255215.250300  1.166987e+06
2021-02-18  257996.583022  1.161780e+06
2021-02-19  258976.610777  1.139341e+06
2021-02-22  253812.197122  1.033702e+06

In [215]:
#ENTRADA 17 etapa 2
inicio_2021_2 = '2021-02-22'
fim_2021 = '2021-07-16'

carteira_geral21 = carteira.loc[inicio_2021_2:fim_2021]
carteira_normalizada_2021 = carteira_geral21 / carteira_geral21.iloc[0]
for coluna in carteira_normalizada_2021.columns:
    if coluna != 'saldo':
        carteira_normalizada_2021[coluna] *= carteira_entrada_17[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2021['saldo'] = carteira_normalizada_2021.sum(axis=1)
print(len(carteira_normalizada_2021.columns))
valores_ult_2021 = carteira_normalizada_2021['saldo'][-1] / (len(carteira_normalizada_2021.columns) -1)
print(carteira_normalizada_2021)
print(valores_ult_2021)

6
                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2021-02-22  185805.421216  211253.693961  201238.974434  181592.065411
2021-02-23  202232.028656  220926.260726  214125.780637  201620.000403
2021-02-24  201434.566644  219485.643745  210982.617696  204469.155311
2021-02-25  195785.633013  213826.152676  204381.996632  194329.499106
2021-02-26  186414.986937  211871.018536  201908.432849  186368.607136
...                   ...            ...            ...            ...
2021-07-12  226554.846374  246412.277063  236571.329886  240194.869057
2021-07-13  225581.965942  247225.897298  238005.617228  241667.407896
2021-07-14  227110.859585  250364.086261  238324.345794  239675.189239
2021-07-15  223636.126354  249201.787777  235455.771110  234564.629946
2021-07-16  220925.771061  244901.187370  231631.098693  231099.916071

                 VALE3.SA         saldo
Date
2021-02-22  253812.197122  1.033702e+06
2021-02-23  258071.263819  1.096975e+06
2021-02-24  260679.906904  1.097052e+06
2021-02-25  254770.474768  1.063094e+06
2021-02-26  251602.809728  1.038166e+06
...                   ...           ...
2021-07-12  326425.309767  1.276159e+06
2021-07-13  328354.313621  1.280835e+06
2021-07-14  326567.130321  1.282042e+06
2021-07-15  327588.377921  1.270447e+06
2021-07-16  321687.933183  1.250246e+06

[101 rows x 6 columns]
250049.18127569478

In [216]:
#ENTRADA 18 e 19 - Dupla entrada mesmo ano
inicio_2021_22 = '2021-10-20'
fim_2021_22 = '2021-12-31'
carteira_geral21 = carteira.loc[inicio_2021_22:fim_2021_22]
carteira_normalizada_2021_22 = carteira_geral21 / carteira_geral21.iloc[0]
for coluna in carteira_normalizada_2021.columns:
    if coluna == 'ITUB4.SA':
        carteira_normalizada_2021_22[coluna] *= carteira_normalizada_2021[coluna].iloc[-1] + acoes_num['ITUB4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[17]
    elif coluna == 'BBAS3.SA':
        carteira_normalizada_2021_22[coluna] *= carteira_normalizada_2021[coluna].iloc[-1] + acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[18]
    elif coluna != 'saldo':
        carteira_normalizada_2021_22[coluna] *= carteira_normalizada_2021[coluna].iloc[-1]
carteira_normalizada_2021_22['saldo'] = carteira_normalizada_2021_22.sum(axis=1)
valores_ult_2021_22 = carteira_normalizada_2021_22['saldo'][-1] / (len(carteira_normalizada_2021_22.columns) -1)
print(valores_ult_2021_22)
print(carteira_normalizada_2021_22)

242612.0222775605
                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2021-10-20  221095.721061  244901.187370  231974.198693  231099.916071
2021-10-21  211316.493722  237896.580039  227240.019302  222585.711781
2021-10-22  204867.820613  230098.794351  218514.307289  220396.310828
2021-10-25  209119.721711  233799.412622  222784.363043  235478.660167
2021-10-26  206922.969057  228380.665595  220370.842627  233208.209544
2021-10-27  206710.301410  232213.456239  222041.818253  232640.611340
2021-10-28  204867.820613  229966.637991  221577.653824  234829.935213
2021-10-29  201962.466172  224680.063337  216379.310005  220153.046197
2021-11-01  206568.600410  231949.047441  224996.904625  227045.505547
2021-11-03  207915.050276  231383.543764  227133.553958  217720.399882
2021-11-04  203025.436607  218815.478751  215149.880021  210827.959802
2021-11-05  207560.700987  227679.274499  212548.699139  209611.675185
2021-11-08  208907.112137  223181.266419  211433.994742  211801.056868
2021-11-09  208623.690780  221461.424258  209297.284223  216017.586002
2021-11-10  218190.308546  231912.745676  214592.405449  214314.752852
2021-11-11  214009.354738  234161.709683  214127.935086  214476.929273
2021-11-12  213655.024807  234955.512551  213663.403536  218855.634829
2021-11-16  210678.703718  234426.310639  211433.994742  221126.085452
2021-11-17  207702.440703  235220.097493  212270.033238  215531.114550
2021-11-18  206143.439338  232309.647110  208739.911629  215206.723168
2021-11-19  205859.940548  232706.484491  206974.871221  211638.880447
2021-11-22  204726.100256  229663.733629  207487.638507  213747.116109
2021-11-23  216256.961015  235352.397971  210966.240678  225423.760608
2021-11-24  220263.034108  239585.805095  216607.027548  230045.750065
2021-11-25  231698.672570  240511.780336  218581.307031  240181.699295
2021-11-26  224050.670852  232045.030140  214444.720476  230856.612900
2021-11-29  224414.815319  230722.041374  213034.462571  238965.414678
2021-11-30  231917.205710  225165.677510  210402.096725  238641.061836
2021-12-01  227983.938281  223975.037260  209062.795321  240019.522874
2021-12-02  234248.012929  235195.133024  216966.093141  258333.241254
2021-12-03  234539.371091  235857.275939  216213.513686  261976.872932
2021-12-06  240876.328835  238638.308208  218753.854314  263161.015169
2021-12-07  237452.894633  235459.990190  216025.282140  267442.272275
2021-12-08  238545.463542  234797.831262  213955.367407  267351.182928
2021-12-09  233228.288400  227779.052310  208215.987918  266804.666118
2021-12-10  236724.528266  227779.052310  208498.223059  270083.882599
2021-12-13  234757.904231  224071.035973  202947.075115  268444.293628
2021-12-14  236083.273169  227116.925409  204922.904669  265256.089414
2021-12-15  232033.179848  226984.448786  204264.369601  266895.755464
2021-12-16  231296.779886  229368.179293  206334.243543  270448.278526
2021-12-17  223343.888722  223011.591296  201818.052965  264071.927906
2021-12-20  216642.825226  218773.828601  198713.140074  256511.377240
2021-12-21  217231.968425  217784.297248  198995.354820  256875.753897
2021-12-22  215980.082682  218321.025331  199748.117836  256511.377240
2021-12-23  215170.064018  218052.661289  200783.054807  258059.915404
2021-12-27  215611.911739  220333.843714  202852.969540  261885.725776
2021-12-28  214360.064712  220199.605647  202100.308502  262159.013086
2021-12-29  213255.474448  218589.373359  200406.673299  259972.888035
2021-12-30  212445.494500  217247.489100  197113.671633  259153.026104

                 VALE3.SA         saldo
Date
2021-10-20  321687.933183  1.250759e+06
2021-10-21  315352.367582  1.214391e+06
2021-10-22  319212.471417  1.193090e+06
2021-10-25  323072.516795  1.224255e+06
2021-10-26  319632.033942  1.208515e+06
2021-10-27  312373.341153  1.205980e+06
2021-10-28  309226.563759  1.200469e+06
2021-10-29  300457.449778  1.163632e+06
2021-11-01  303436.417750  1.193996e+06
2021-11-03  280401.788208  1.164554e+06
2021-11-04  277213.019487  1.125032e+06
2021-11-05  268989.344582  1.126390e+06
2021-11-08  283632.509284  1.138956e+06
2021-11-09  276667.580410  1.132068e+06
2021-11-10  275618.635127  1.154629e+06
2021-11-11  285352.770196  1.162129e+06
2021-11-12  286569.544386  1.167699e+06
2021-11-16  278303.897641  1.155969e+06
2021-11-17  272723.571865  1.143447e+06
2021-11-18  261520.948473  1.123921e+06
2021-11-19  268653.667282  1.125834e+06
2021-11-22  283590.498472  1.139215e+06
2021-11-23  291058.972523  1.179058e+06
2021-11-24  297814.139619  1.204316e+06
2021-11-25  295800.192734  1.226774e+06
2021-11-26  287996.080354  1.189393e+06
2021-11-29  291604.450571  1.198741e+06
2021-11-30  293492.501419  1.199619e+06
2021-12-01  294667.342740  1.195709e+06
2021-12-02  308345.486354  1.253088e+06
2021-12-03  301548.366902  1.250135e+06
2021-12-06  317911.753545  1.279341e+06
2021-12-07  320261.397215  1.276642e+06
2021-12-08  317869.859646  1.272520e+06
2021-12-09  315436.291779  1.251464e+06
2021-12-10  317408.247338  1.260494e+06
2021-12-13  326680.848041  1.256901e+06
2021-12-14  326638.915171  1.260018e+06
2021-12-15  324792.816678  1.254971e+06
2021-12-16  337505.900234  1.274953e+06
2021-12-17  332177.269105  1.244423e+06
2021-12-20  328443.061308  1.219084e+06
2021-12-21  337086.298738  1.227974e+06
2021-12-22  335324.104956  1.225885e+06
2021-12-23  332093.325423  1.224159e+06
2021-12-27  331254.200373  1.231939e+06
2021-12-28  323282.259086  1.222101e+06
2021-12-29  324121.462079  1.216346e+06
2021-12-30  327100.430051  1.213060e+06

In [217]:
#ENTRADA 20 E 21 - etapa 1
inicio_2022_1 = '2022-01-01'
fim_2022_1 = '2022-09-16'

carteira_entrada_2022 = carteira.loc[inicio_2022_1:fim_2022_1]
carteira_entrada20 = (carteira_entrada_2022 / carteira_entrada_2022.iloc[0])*valores_ult_2021
#                                                      acessando primeira linha/primeira operação
carteira_entrada20['ITUB4.SA'].iloc[-1] += acoes_num['ITUB4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[19]
carteira_entrada20['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[20]
carteira_entrada20['saldo'] = carteira_entrada20.sum(axis=1)
print(carteira_entrada20)

                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2022-01-03  250049.181276  250049.181276  250049.181276  250049.181276
2022-01-04  250309.514462  251217.507162  257140.231363  250994.713447
2022-01-05  246144.844924  249553.951301  252257.859514  241281.560651
2022-01-06  248140.405766  252276.228686  257372.726459  241109.612649
2022-01-07  248400.670527  253335.022330  263068.856323  242227.074638
...                   ...            ...            ...            ...
2022-09-12  392317.139150  275475.301809  320355.381213  404244.261316
2022-09-13  388334.137198  271571.374369  317042.968131  393585.994581
2022-09-14  388720.280605  270043.836819  315859.972451  399621.413095
2022-09-15  384761.683464  268855.732025  316688.031660  398850.920208
2022-09-16  380926.656067  266139.999530  315691.968137  395255.395837

                 VALE3.SA         saldo
Date
2022-01-03  250049.181276  1.250246e+06
2022-01-04  247099.885561  1.256762e+06
2022-01-05  249440.042284  1.238678e+06
2022-01-06  254473.124848  1.253372e+06
2022-01-07  269283.740553  1.276315e+06
...                   ...           ...
2022-09-12  245668.769964  1.638061e+06
2022-09-13  238980.806459  1.609515e+06
2022-09-14  234603.864031  1.608849e+06
2022-09-15  239330.970191  1.608487e+06
2022-09-16  238980.806459  1.596995e+06

[179 rows x 6 columns]

In [218]:
#ENTRADA 20 E 21 - ETAPA 2
inicio_2022_2 = '2022-09-16'
fim_2022 = '2022-12-31'

carteira_geral22 = carteira.loc[inicio_2022_2:fim_2022]
carteira_normalizada_2022 = carteira_geral22 / carteira_geral22.iloc[0]
for coluna in carteira_normalizada_2022.columns:
    if coluna != 'saldo':
        carteira_normalizada_2022[coluna] *= carteira_entrada20[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2022['saldo'] = carteira_normalizada_2022.sum(axis=1)
print(len(carteira_normalizada_2022.columns))
valores_ult_2022 = carteira_normalizada_2022['saldo'][-1] / (len(carteira_normalizada_2022.columns) -1)
print(carteira_normalizada_2022)
print(valores_ult_2022)

6
                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2022-09-16  380926.656067  266139.999530  315691.968137  395255.395837
2022-09-19  388467.846039  272589.780816  327524.572451  401547.608946
2022-09-20  394365.510085  282603.966637  338410.448546  399236.203020
2022-09-21  391561.635943  280736.960271  334860.740284  400263.526870
2022-09-22  398716.119307  286338.141639  341605.319454  410151.264350
...                   ...            ...            ...            ...
2022-12-23  351615.519270  227514.243155  304535.695402  345108.877650
2022-12-26  351117.245110  222235.167714  298490.969321  342635.924975
2022-12-27  339456.528922  223597.442296  296798.377519  344971.515635
2022-12-28  345535.966999  230409.283987  302843.128783  340712.565830
2022-12-29  346134.046728  229387.578050  302238.646102  336591.087143

                 VALE3.SA         saldo
Date
2022-09-16  238980.806459  1.596995e+06
2022-09-19  246719.201606  1.636849e+06
2022-09-20  243182.652134  1.657799e+06
2022-09-21  239681.104147  1.647104e+06
2022-09-22  245178.510964  1.681989e+06
...                   ...           ...
2022-12-23  303282.495020  1.532057e+06
2022-12-26  306058.167885  1.520537e+06
2022-12-27  313366.168333  1.518190e+06
2022-12-28  312663.488580  1.532164e+06
2022-12-29  312276.998339  1.526628e+06

[72 rows x 6 columns]
305325.6712723074

In [219]:
#ENTRADA 22 E 23 etapa 1
inicio_2023_1 = '2023-01-01'
fim_2023_1 = '2023-07-21'

carteira_entrada_2023 = carteira.loc[inicio_2023_1:fim_2023_1]
carteira_entrada23 = (carteira_entrada_2023 / carteira_entrada_2023.iloc[0])*valores_ult_2022
#                                                      acessando primeira linha/primeira operação
carteira_entrada23['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[21]
carteira_entrada23['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[22]
carteira_entrada23['saldo'] = carteira_entrada23.sum(axis=1)
print(carteira_entrada23)

                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2023-01-02  305325.671272  305325.671272  305325.671272  305325.671272
2023-01-03  299634.101623  290891.178814  298967.276091  297599.287879
2023-01-04  303489.662741  293440.794979  299840.026512  307057.417068
2023-01-05  317351.414608  302944.059056  309190.516065  318114.170355
2023-01-06  321757.776182  311056.554337  314551.459949  316249.197068
...                   ...            ...            ...            ...
2023-07-17  489160.829722  361855.850792  368412.350770  463512.581341
2023-07-18  490787.587514  360377.857189  361256.233311  460954.423092
2023-07-19  482246.825116  359392.577137  357422.635106  465271.374645
2023-07-20  487534.029858  361609.518525  364067.621709  465751.000665
2023-07-21  493726.112225  371955.302186  370584.819110  474576.106129

                 VALE3.SA         saldo
Date
2023-01-02  305325.671272  1.526628e+06
2023-01-03  304779.214686  1.491871e+06
2023-01-04  305325.671272  1.509154e+06
2023-01-05  310448.557053  1.558049e+06
2023-01-06  315366.550558  1.578982e+06
...                   ...           ...
2023-07-17  236815.398878  1.919757e+06
2023-07-18  235314.582491  1.908691e+06
2023-07-19  234686.331078  1.899020e+06
2023-07-20  235209.893218  1.914172e+06
2023-07-21  236640.911932  1.947483e+06

[139 rows x 6 columns]

In [220]:
#ENTRADA 22 E 23 etapa 2
inicio_2023_2 = '2023-07-21'
fim_2023 = '2023-12-31'

carteira_geral23 = carteira.loc[inicio_2023_2:fim_2023]
carteira_normalizada_2023 = carteira_geral23 / carteira_geral23.iloc[0]
for coluna in carteira_normalizada_2023.columns:
    if coluna != 'saldo':
        carteira_normalizada_2023[coluna] *= carteira_entrada23[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2023['saldo'] = carteira_normalizada_2023.sum(axis=1)
print(len(carteira_normalizada_2023.columns))
valores_ult_2023 = carteira_normalizada_2023['saldo'][-1] / (len(carteira_normalizada_2023.columns) -1)
print(carteira_normalizada_2023)
print(valores_ult_2023)

6
                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2023-07-21  493726.112225  371955.302186  370584.819110  474576.106129
2023-07-24  484059.071160  365550.761274  364706.515815  484489.724149
2023-07-25  481515.179469  363580.176661  365473.199123  495682.558504
2023-07-26  485585.532495  366536.090342  367517.800404  495682.558504
2023-07-27  475613.258112  358407.223560  359339.421233  469939.039487
...                   ...            ...            ...            ...
2023-12-21  586215.260135  383285.704177  427839.572101  627434.294064
2023-12-22  587834.946269  384238.363768  434624.441685  633469.001447
2023-12-26  593233.857941  385770.201963  439060.756468  643641.791877
2023-12-27  592370.033758  388578.625087  442061.830341  644159.008175
2023-12-28  598092.874235  390110.463281  443236.120718  642089.931385

                 VALE3.SA         saldo
Date
2023-07-21  236640.911932  1.947483e+06
2023-07-24  243795.962088  1.942602e+06
2023-07-25  251334.979038  1.957586e+06
2023-07-26  250462.414064  1.965784e+06
2023-07-27  245785.434542  1.909084e+06
...                   ...           ...
2023-12-21  279498.998398  2.304274e+06
2023-12-22  277392.853990  2.317560e+06
2023-12-26  278373.320985  2.340080e+06
2023-12-27  281060.451785  2.348230e+06
2023-12-28  280334.168144  2.353864e+06

[110 rows x 6 columns]
470772.71155269153