In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as web
import seaborn as sns
from datetime import datetime
import yfinance as yf
yf.pdr_override()

In [12]:
# Lista de tickers
tickers = ["PETR4.SA", 'VALE3.SA', 'ITUB4.SA', 'BBAS3.SA', 'BBDC3.SA']

# Baixando os dados dos tickers
carteira_compra = yf.download(tickers, start="2002-01-01", end="2023-12-31")['Close']
carteira = yf.download(tickers, start="2002-01-01", end="2023-12-31")['Adj Close']

# Baixando os dados do índice Ibovespa
ibov = yf.download('^BVSP', start="2002-01-01", end="2023-12-31")['Adj Close']

[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  1 of 1 completed

In [13]:
resultados_vendacoberta = pd.read_json(r'C:\Users\cptfr\Desktop\TCC_B3_OPCOES\estrategias\resultados_vendacoberta.json')
resultados_vendacoberta['Data_Vencimento'] = pd.to_datetime(resultados_vendacoberta['Data_Vencimento'], format='%Y%m%d')
print(resultados_vendacoberta)

    Data_Entrada Data_Vencimento  Tipo     Ativo  ResultadosTotais
0       20041001      2004-11-16  CALL  PETR4.SA              0.56
1       20050919      2005-10-17  CALL  PETR4.SA              1.55
2       20070102      2007-02-12  CALL  PETR4.SA              0.03
3       20080519      2008-06-16  CALL  PETR4.SA              0.15
4       20090918      2009-10-19  CALL  BBDC3.SA              1.00
5       20130102      2013-02-18  CALL  BBAS3.SA              0.38
6       20131031      2013-12-16  CALL  BBAS3.SA              0.10
7       20140722      2014-09-15  CALL  BBAS3.SA              0.35
8       20140828      2014-10-20  CALL  BBAS3.SA              0.50
9       20161021      2016-12-19  CALL  PETR4.SA              1.00
10      20170921      2017-11-21  CALL  BBAS3.SA              0.55
11      20180122      2018-03-19  CALL  PETR4.SA              0.05
12      20180511      2018-06-18  CALL  VALE3.SA              0.23
13      20180201      2018-03-19  CALL  BBAS3.SA              0.84
14      20180117      2018-03-19  CALL  BBDC3.SA              0.41
15      20190205      2019-03-18  CALL  BBAS3.SA              0.33
16      20210105      2021-02-22  CALL  VALE3.SA              0.54
17      20210607      2021-07-16  CALL  ITUB4.SA              0.10
18      20210602      2021-07-16  CALL  BBAS3.SA              0.03
19      20220812      2022-09-16  CALL  ITUB4.SA              0.02
20      20220808      2022-09-16  CALL  BBAS3.SA              0.09
21      20230612      2023-07-21  CALL  PETR4.SA              0.02
22      20230612      2023-07-21  CALL  BBAS3.SA              0.07

In [14]:
acoes_num = (10000/ carteira_compra.iloc[0]).astype(int)
acoes_num
#acoes_num['PETR4.SA']

BBAS3.SA    5665
BBDC3.SA    5200
ITUB4.SA    3431
PETR4.SA    1564
VALE3.SA    2307
Name: 2002-01-01 00:00:00, dtype: int32

In [15]:
carteira

             BBAS3.SA   BBDC3.SA   ITUB4.SA   PETR4.SA   VALE3.SA
Date
2002-01-01   0.263994   1.026873   1.617726   1.571675   1.896705
2002-01-02   0.268730   1.026873   1.691356   1.574747   1.860231
2002-01-03   0.272968   1.034691   1.672880   1.585502   1.889410
2002-01-04   0.266736   1.030782   1.645395   1.575669   1.929533
2002-01-07   0.260753   1.034691   1.627103   1.610083   1.929533
...               ...        ...        ...        ...        ...
2023-12-21  26.554211  14.914568  31.443796  33.934216  73.674408
2023-12-22  26.627575  14.951639  31.942444  34.260597  73.119240
2023-12-26  26.872135  15.011247  32.268486  34.810783  73.377686
2023-12-27  26.833008  15.120528  32.489040  34.838757  74.085999
2023-12-28  27.092239  15.180136  32.575348  34.726856  73.894554

[5505 rows x 5 columns]

In [16]:
# Caminho do arquivo JSON com os dados da taxa Selic
caminho_do_arquivo = r'C:\Users\cptfr\Desktop\TCC_B3_OPCOES\dadosselicdiario.json'

# Lendo o arquivo JSON e transformando em DataFrame para manipulação de dados
selic = pd.read_json(caminho_do_arquivo)

# Converte a coluna 'data' do formato string para datetime, facilitando manipulações de data
selic['data'] = pd.to_datetime(selic['data'], format='%d/%m/%Y')

# Renomeia a coluna 'data' para 'Date' para padronização em inglês
selic.rename(columns={'data':'Date'}, inplace=True)

# Define a coluna 'Date' como índice do DataFrame, otimizando buscas e filtragens por data
selic.set_index('Date', inplace=True)

# Cria um novo DataFrame chamado 'selic_valores' contendo apenas a coluna 'valor', agora renomeada para 'SELIC'
selic_valores = pd.DataFrame(selic['valor']).rename(columns={'valor':'SELIC'})
selic_valores.index = pd.to_datetime(selic_valores.index)
selic_valores

               SELIC
Date
2002-01-02  0.069220
2002-01-03  0.069220
2002-01-04  0.069220
2002-01-07  0.069220
2002-01-08  0.069220
...              ...
2023-12-22  0.043739
2023-12-26  0.043739
2023-12-27  0.043739
2023-12-28  0.043739
2023-12-29  0.043739

[5526 rows x 1 columns]

In [17]:
carteira = carteira.join(selic_valores, how='left')
carteira

             BBAS3.SA   BBDC3.SA   ITUB4.SA   PETR4.SA   VALE3.SA     SELIC
Date
2002-01-01   0.263994   1.026873   1.617726   1.571675   1.896705       NaN
2002-01-02   0.268730   1.026873   1.691356   1.574747   1.860231  0.069220
2002-01-03   0.272968   1.034691   1.672880   1.585502   1.889410  0.069220
2002-01-04   0.266736   1.030782   1.645395   1.575669   1.929533  0.069220
2002-01-07   0.260753   1.034691   1.627103   1.610083   1.929533  0.069220
...               ...        ...        ...        ...        ...       ...
2023-12-21  26.554211  14.914568  31.443796  33.934216  73.674408  0.043739
2023-12-22  26.627575  14.951639  31.942444  34.260597  73.119240  0.043739
2023-12-26  26.872135  15.011247  32.268486  34.810783  73.377686  0.043739
2023-12-27  26.833008  15.120528  32.489040  34.838757  74.085999  0.043739
2023-12-28  27.092239  15.180136  32.575348  34.726856  73.894554  0.043739

[5505 rows x 6 columns]

In [18]:
def preencher_nans(df):
    # Preenche NaNs com o valor anterior (forward fill)
    df.ffill(inplace=True)
    # Para os casos onde o primeiro valor é NaN, preenche com o valor seguinte (backward fill)
    df.bfill(inplace=True)
    return df

In [19]:
carteira = preencher_nans(carteira)

In [20]:
inicio_2002 = '2002-01-01'
fim_2002 = '2002-12-31'

valores_iniciais = {
    'BBAS3.SA': 6000,
    'BBDC3.SA': 6000,
    'ITUB4.SA': 6000,
    'PETR4.SA': 6000,
    'VALE3.SA': 6000,
    'SELIC': 20000
}
carteira_geral1 = carteira.loc[inicio_2002:fim_2002]
carteira_normalizada_2002 = pd.DataFrame()

for coluna in carteira_geral1.columns:
    carteira_normalizada_2002[coluna] = (carteira_geral1[coluna] / carteira_geral1[coluna].iloc[0])* valores_iniciais[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2002['saldo'] = carteira_normalizada_2002.sum(axis=1)
valores_ult_2002_selic = carteira_normalizada_2002['saldo'][-1] * 0.4
valores_ult_2002 = (carteira_normalizada_2002['saldo'][-1] * 0.6) / 5
valores_2002 = {
    'BBAS3.SA': valores_ult_2002,
    'BBDC3.SA': valores_ult_2002,
    'ITUB4.SA': valores_ult_2002,
    'PETR4.SA': valores_ult_2002,
    'VALE3.SA': valores_ult_2002,
    'SELIC': valores_ult_2002_selic
}
print(carteira_normalizada_2002)
print(valores_ult_2002)

               BBAS3.SA     BBDC3.SA     ITUB4.SA     PETR4.SA      VALE3.SA  \
Date
2002-01-01  6000.000000  6000.000000  6000.000000  6000.000000   6000.000000
2002-01-02  6107.649835  6000.000000  6273.086067  6011.730438   5884.617016
2002-01-03  6203.969106  6045.680334  6204.560211  6052.785607   5976.923102
2002-01-04  6062.323517  6022.840167  6102.622982  6015.248296   6103.846231
2002-01-07  5926.347274  6045.680334  6034.779785  6146.625474   6103.846231
...                 ...          ...          ...          ...           ...
2002-12-25  5575.074070  5131.974040  5795.787308  5719.648166  11551.154609
2002-12-26  5552.408541  5071.059382  5729.307218  5618.768489  11769.234033
2002-12-27  5495.752337  5482.225925  5753.170653  5472.139375  11769.234033
2002-12-30  5552.408541  5824.864306  5846.932777  5442.813279  11873.079510
2002-12-31  5552.408541  5824.864306  5846.932777  5442.813279  11873.079510

                   SELIC         saldo
Date
2002-01-01  20000.000000  50000.000000
2002-01-02  20000.000000  50277.083356
2002-01-03  20000.000000  50483.918361
2002-01-04  20000.000000  50306.881194
2002-01-07  20000.000000  50257.279099
...                  ...           ...
2002-12-25  25504.189541  59277.827733
2002-12-26  25504.189541  59244.967203
2002-12-27  25504.189541  59476.711863
2002-12-30  25504.189541  60044.287953
2002-12-31  25504.189541  60044.287953

[261 rows x 7 columns]
7205.31455432279

In [22]:
inicio_2003 = '2003-01-01'
fim_2003 = '2003-12-31'

carteira_geral2 = carteira.loc[inicio_2003:fim_2003]

carteira_normalizada_2003 = pd.DataFrame()

for coluna in carteira_geral1.columns:
    carteira_normalizada_2003[coluna] = (carteira_geral2[coluna] / carteira_geral2[coluna].iloc[0])* valores_2002[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2003['saldo'] = carteira_normalizada_2003.sum(axis=1)
print(len(carteira_normalizada_2003.columns))
valores_ult_2003 = (carteira_normalizada_2003['saldo'][-1] * 0.6) / 5
valores_ult_2003_selic = carteira_normalizada_2003['saldo'][-1] * 0.4
valores_2003 = {
    'BBAS3.SA': valores_ult_2003,
    'BBDC3.SA': valores_ult_2003,
    'ITUB4.SA': valores_ult_2003,
    'PETR4.SA': valores_ult_2003,
    'VALE3.SA': valores_ult_2003,
    'SELIC': valores_ult_2003_selic
}
print(carteira_normalizada_2003)
print(valores_ult_2003)

7
                BBAS3.SA     BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2003-01-01   7205.314554  7205.314554   7205.314554   7205.314554
2003-01-02   7234.727424  6913.340088   7058.262993   7314.016415
2003-01-03   7227.374756  6856.825232   7152.789952   7282.960806
2003-01-06   7278.844312  6913.340088   7406.974790   7624.591783
2003-01-07   7315.603697  7148.807022   7226.311101   7450.668806
...                  ...          ...           ...           ...
2003-12-25  17535.386473  9249.181054  12057.437985  11786.285565
2003-12-26  17278.061548  9381.038712  11889.384974  11634.100551
2003-12-29  17233.940266  9428.136148  12099.870232  11870.141975
2003-12-30  17645.677373  9503.488428  12057.867331  11863.930612
2003-12-31  17645.677373  9503.488428  12057.867331  11863.930612

                VALE3.SA         SELIC         saldo
Date
2003-01-01   7205.314554  24017.715181  60044.287953
2003-01-02   7142.294735  24017.715181  59680.356836
2003-01-03   6908.419565  24017.715181  59446.085492
2003-01-06   6862.203291  24017.715181  60103.669445
2003-01-07   6673.842283  24017.715181  59832.948090
...                  ...           ...           ...
2003-12-25  11686.754765  16346.304036  78661.349878
2003-12-26  11889.819848  16346.304036  78418.709668
2003-12-29  11938.834043  16346.304036  78917.226700
2003-12-30  11868.811411  16337.052848  79276.828004
2003-12-31  11868.811411  16337.052848  79276.828004

[261 rows x 7 columns]
9513.219360420395

In [23]:
#PRIMEIRA ENTRADA
inicio_2004 = '2004-01-01'
fim_pre_2004 = '2004-11-16'

carteira_entrada_1 = carteira.loc[inicio_2004:fim_pre_2004]
carteira_normalizada_20041 = pd.DataFrame()

for coluna in carteira_entrada_1.columns:
    carteira_normalizada_20041[coluna] = (carteira_entrada_1[coluna] / carteira_entrada_1[coluna].iloc[0])*valores_2003[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20041['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[0]
carteira_normalizada_20041['saldo'] = carteira_normalizada_20041.sum(axis=1)
print(carteira_normalizada_20041)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2004-01-01   9513.219360   9513.219360   9513.219360   9513.219360
2004-01-02   9394.303017   9475.509387   9272.896484   9861.867585
2004-01-05  10167.254039   9833.778288   9944.124729  10434.655576
2004-01-06  10543.825462   9579.222596   9944.124729  10982.537430
2004-01-07  10286.165643   9409.505289  10060.145219  10866.731337
...                  ...           ...           ...           ...
2004-11-10  12287.911618   9970.495703  11535.186852  11854.167170
2004-11-11  12212.593163   9829.064757  11455.633187  11897.745662
2004-11-12  12327.544081  10039.081246  11502.042071  11928.876883
2004-11-15  12327.544081  10039.081246  11502.042071  11928.876883
2004-11-16  12684.295956   9899.785836  11303.157908  12244.383893

                VALE3.SA         SELIC         saldo
Date
2004-01-01   9513.219360  31710.731201  79276.828004
2004-01-02   9793.843683  31728.688046  79527.108201
2004-01-05  10102.535061  31728.688046  82211.035738
2004-01-06  10091.308386  31728.688046  82869.706649
2004-01-07   9597.408785  31710.731201  81930.687474
...                  ...           ...           ...
2004-11-10  11037.017645  32448.546256  89133.325244
2004-11-11  10973.037850  32448.546256  88816.620875
2004-11-12  11318.205466  32448.546256  89564.296003
2004-11-15  11318.205466  32448.546256  89564.296003
2004-11-16  10861.909100  32448.546256  89442.078949

[228 rows x 7 columns]

In [24]:
inicio_2004_2 = '2004-11-16'
fim_2004 = '2004-12-31'

carteira_geral3 = carteira.loc[inicio_2004_2:fim_2004]
carteira_normalizada_2004 = carteira_geral3 / carteira_geral3.iloc[0]
for coluna in carteira_normalizada_2004.columns:
    if coluna != 'saldo':
        carteira_normalizada_2004[coluna] *= carteira_normalizada_20041[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação


carteira_normalizada_2004['saldo'] = carteira_normalizada_2004.sum(axis=1)


valores_ult_2004 = (carteira_normalizada_2004['saldo'][-1] * 0.6) / 5
valores_ult_2004_selic = carteira_normalizada_2004['saldo'][-1] * 0.4
valores_2004 = {
    'BBAS3.SA': valores_ult_2004,
    'BBDC3.SA': valores_ult_2004,
    'ITUB4.SA': valores_ult_2004,
    'PETR4.SA': valores_ult_2004,
    'VALE3.SA': valores_ult_2004,
    'SELIC': valores_ult_2004_selic
}
print(carteira_normalizada_2004)
print(valores_ult_2004)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2004-11-16  12684.295956   9899.785836  11303.157908  12244.383893
2004-11-17  12565.380560   9892.711658  11369.462946  12343.627151
2004-11-18  12490.062105   9793.710255  11200.404960  12190.738213
2004-11-19  12248.274417   9687.645024  11236.867486  12137.093574
2004-11-22  12704.106027   9708.854620  11203.714108  12296.688222
2004-11-23  12335.473038   9969.787595  10980.966081  12083.447895
2004-11-24  12430.601564   9970.495703  11154.332235  12016.391836
2004-11-25  12688.256643  10110.503533  11140.737992  12660.125422
2004-11-26  12688.256643  10568.728619  11369.462946  12582.342725
2004-11-29  12644.651172  10535.484640  11531.216563  12371.788219
2004-11-30  12624.835414  10536.195336  11733.737435  12458.960367
2004-12-01  12525.732933  10747.635802  11966.096519  12834.470759
2004-12-02  12723.928419  11101.898418  12231.271104  12593.076647
2004-12-03  12803.210404  11147.855562  12413.254454  12513.945316
2004-12-06  13199.596637  11518.395170  12661.858368  12626.597913
2004-12-07  13120.311808  11242.611769  12446.725078  12458.960367
2004-12-08  12934.011653  11183.229902  12463.308645  12464.320565
2004-12-09  12525.732933  11242.611769  12496.453426  12125.021423
2004-12-10  12640.692380  11519.101553  12927.362234  12324.846168
2004-12-13  13080.674607  12055.104646  13159.395476  12405.318850
2004-12-14  13278.864406  10559.767304  13223.701613  12511.265737
2004-12-15  13029.141127  10465.486331  13159.395476  12579.662106
2004-12-16  12763.567516  10444.739032  13159.395476  12821.062460
2004-12-17  13001.403994  10129.834617  12977.088862  12703.043422
2004-12-20  12605.016814   9994.064221  12778.196962  12686.951383
2004-12-21  12878.514642  10050.633494  12927.362234  12956.516969
2004-12-22  12842.845710  10069.495381  13209.117806  12780.833404
2004-12-23  12890.408077  10248.632851  13457.712262  12961.878207
2004-12-24  12890.408077  10248.632851  13457.712262  12961.878207
2004-12-27  12981.580655  10371.193284  13258.842716  12976.630977
2004-12-28  13080.674607  10275.033800  13391.424420  12995.402594
2004-12-29  13096.534416  10654.050863  13325.130558  13126.838255
2004-12-30  12882.481964  10748.329248  13225.688477  13028.937387
2004-12-31  12882.481964  10748.329248  13225.688477  13028.937387

                VALE3.SA         SELIC         saldo
Date
2004-11-16  10861.909100  32448.546256  89442.078949
2004-11-17  11195.290946  32448.546256  89815.019517
2004-11-18  10994.923299  33344.804056  90014.642889
2004-11-19  11230.651194  33344.804056  89885.335751
2004-11-22  10994.923299  33326.847211  90235.133488
2004-11-23  10946.097791  33326.847211  89642.619611
2004-11-24  11129.626526  33344.804056  90046.251919
2004-11-25  11163.302149  33326.847211  91089.772950
2004-11-26  11297.999505  33308.890367  91815.680805
2004-11-29  11331.675862  33308.890367  91723.706823
2004-11-30  11213.813016  33291.461665  91859.003232
2004-12-01  11232.330683  33326.847211  92633.113907
2004-12-02  11112.787614  33326.847211  93089.809413
2004-12-03  11129.626526  33326.847211  93334.739473
2004-12-06  10978.085121  33344.804056  94329.337264
2004-12-07  10978.085121  33344.804056  93591.498199
2004-12-08  11045.437835  33344.804056  93435.112655
2004-12-09  11161.615323  33344.804056  92896.238930
2004-12-10  11491.630120  33344.804056  94248.436510
2004-12-13  11668.426958  33344.804056  95713.724592
2004-12-14  11668.426958  33344.804056  94586.830073
2004-12-15  11584.243403  33362.760901  94180.689343
2004-12-16  12114.623645  34237.364859  95540.752988
2004-12-17  11946.245529  34237.364859  94994.981284
2004-12-20  12022.018432  34237.364859  94323.612672
2004-12-21  12562.504957  34237.364859  95612.897154
2004-12-22  12594.496689  34237.364859  95734.153849
2004-12-23  12628.165708  34237.364859  96424.161964
2004-12-24  12628.165708  34237.364859  96424.161964
2004-12-27  12624.802328  34237.364859  96450.414819
2004-12-28  12964.919005  34237.364859  96944.819284
2004-12-29  12813.380535  34237.364859  97253.299486
2004-12-30  12712.354399  34255.321704  96853.113179
2004-12-31  12712.354399  34255.321704  96853.113179
11622.373581517502

In [26]:
#ENTRADA 2
inicio_2005_1 = '2005-01-01'
fim_2005_1 = '2005-10-17'

carteira_entradaw = carteira.loc[inicio_2005_1:fim_2005_1]
carteira_normalizada_20051 = pd.DataFrame()


for coluna in carteira_entradaw.columns:
    carteira_normalizada_20051[coluna] = (carteira_entradaw[coluna] / carteira_entradaw[coluna].iloc[0])*valores_2004[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20051['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[1]
carteira_normalizada_20051['saldo'] = carteira_normalizada_20051.sum(axis=1)
print(carteira_normalizada_20051)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2005-01-03  11622.373582  11622.373582  11622.373582  11622.373582
2005-01-04  11340.619224  11209.294060  11479.660409  11484.191789
2005-01-05  11164.527171  10794.135232  11365.718909  11439.773991
2005-01-06  11023.643255  10482.771808  11223.292403  11474.316806
2005-01-07  10917.991897  10711.105365  11209.043251  11524.904674
...                  ...           ...           ...           ...
2005-10-10  14728.718199  21494.870647  15208.417379  16007.392622
2005-10-11  15144.307266  22414.444698  15453.377787  16312.294573
2005-10-13  14598.405145  21552.992503  14724.157508  15956.579779
2005-10-14  14471.617116  21131.605248  14613.067907  15844.780418
2005-10-17  14369.482361  21920.407021  15410.659884  18756.820859

                VALE3.SA         SELIC          saldo
Date
2005-01-03  11622.373582  38741.245272   96853.113179
2005-01-04  11148.786296  38741.245272   95403.797050
2005-01-05  11071.147683  38741.245272   94576.548258
2005-01-06  11024.563298  38741.245272   93969.832842
2005-01-07  11319.588945  38741.245272   94423.879404
...                  ...           ...            ...
2005-10-10  14223.240732  42163.211310  123825.850889
2005-10-11  14394.046763  42163.211310  125881.682398
2005-10-13  13765.180899  42163.211310  122760.527144
2005-10-14  13973.242530  42163.211310  122197.524530
2005-10-17  13819.525628  42163.211310  126440.107063

[198 rows x 7 columns]

In [27]:
inicio_2005_2 = '2005-10-17'
fim_2005 = '2005-12-31'

carteira_geral4 = carteira.loc[inicio_2005_2:fim_2005]
carteira_normalizada_2005 = carteira_geral4 / carteira_geral4.iloc[0]
for coluna in carteira_normalizada_2005.columns:
    if coluna != 'saldo':
        carteira_normalizada_2005[coluna] *= carteira_normalizada_20051[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação


carteira_normalizada_2005['saldo'] = carteira_normalizada_2005.sum(axis=1)


valores_ult_2005 = (carteira_normalizada_2005['saldo'][-1] * 0.6) / 5
valores_ult_2005_selic = carteira_normalizada_2005['saldo'][-1] * 0.4
valores_2005 = {
    'BBAS3.SA': valores_ult_2005,
    'BBDC3.SA': valores_ult_2005,
    'ITUB4.SA': valores_ult_2005,
    'PETR4.SA': valores_ult_2005,
    'VALE3.SA': valores_ult_2005,
    'SELIC': valores_ult_2005_selic
}
print(carteira_normalizada_2005)
print(valores_ult_2005)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2005-10-17  14369.482361  21920.407021  15410.659884  18756.820859
2005-10-18  14510.351961  21920.407021  14840.947952  17741.360750
2005-10-19  14228.607708  21173.124928  14405.121604  18091.524943
2005-10-20  13710.880518  20498.478065  13986.388920  17192.780002
2005-10-21  13911.626687  21235.395904  14242.753969  17846.411987
2005-10-24  14158.164487  21378.611743  14840.947952  18832.686433
2005-10-25  14299.042508  21380.700545  14328.210464  18745.149232
2005-10-26  14115.902092  21341.256373  14812.467379  18675.119472
2005-10-27  14242.692647  20716.438824  14388.024986  18126.536525
2005-10-28  14087.729687  21110.838761  14584.584379  18179.065442
2005-10-31  14580.798551  21999.287768  15356.532906  18797.671552
2005-11-01  14915.377745  23041.339656  15282.464798  19095.306829
2005-11-03  14792.116424  23248.915272  15054.596576  19608.873796
2005-11-04  14580.798551  23020.576967  15068.835384  19025.274870
2005-11-07  15242.916997  23456.492787  15282.464798  18879.372939
2005-11-08  15271.100349  23871.663009  15610.050489  19200.364663
2005-11-09  14968.207635  24079.227232  15664.181900  19165.343186
2005-11-10  15605.672807  24056.406124  15721.147478  18552.565193
2005-11-11  15566.939646  24151.892844  15350.845362  18003.984445
2005-11-14  14982.306047  24390.593505  15350.845362  18144.050562
2005-11-16  14439.920529  24369.844108  15652.796468  18675.119472
2005-11-17  15179.532245  24463.240128  16364.918651  18972.752550
2005-11-18  14792.116424  24432.109387  15837.933489  19083.637401
2005-11-21  14718.149863  24494.395555  15809.454394  19282.068248
2005-11-22  14443.442185  25220.924453  15894.918277  19959.033592
2005-11-23  14404.705656  25656.836476  15983.220759  20163.293656
2005-11-24  14475.137087  25573.793317  15860.727995  19988.212659
2005-11-25  14387.092324  25582.123838  16080.071551  19999.884286
2005-11-28  14094.770473  25731.554811  16174.077833  19264.554212
2005-11-29  14189.862758  25739.858747  15951.874989  19638.055062
2005-11-30  13805.976171  25615.335784  15951.874989  19988.212659
2005-12-01  14144.076180  26362.598888  16322.197793  20425.911854
2005-12-02  15038.649172  26694.731648  16521.597264  20764.400023
2005-12-05  15098.524057  27516.760559  16678.258145  20711.873305
2005-12-06  15338.013493  28313.864370  16934.636494  20951.152647
2005-12-07  15073.864045  28147.778052  16695.353286  20793.579089
2005-12-08  14721.674887  26985.331434  16051.589501  20974.489303
2005-12-09  14616.010056  26383.371072  16094.313315  21067.862317
2005-12-12  14855.502860  26570.183999  16379.164848  21178.751566
2005-12-13  15144.307266  26408.273385  16464.625776  21324.649099
2005-12-14  15492.981505  26441.470141  16379.164848  21505.559313
2005-12-15  15249.968730  26246.372266  16322.197793  21184.587380
2005-12-16  14985.827703  26694.731648  16265.227781  21184.587380
2005-12-19  14580.798551  26566.027284  16065.829787  21178.751566
2005-12-20  14704.063240  26566.027284  15766.737968  21184.587380
2005-12-21  14897.764414  27400.505454  16037.340349  21482.224855
2005-12-22  14880.157819  27483.512533  16236.750164  21534.751573
2005-12-23  15003.427561  27504.280919  16236.750164  21388.845245
2005-12-26  14961.166008  26736.247531  15855.037496  21324.649099
2005-12-27  14971.730975  26777.748222  15980.370338  21184.587380
2005-12-28  14862.559645  26362.598888  15923.395894  21534.751573
2005-12-29  14862.559645  26773.602900  16037.340349  21715.661787

                VALE3.SA         SELIC          saldo
Date
2005-10-17  13819.525628  42163.211310  126440.107063
2005-10-18  13367.673257  42163.211310  124543.952251
2005-10-19  13384.754266  42163.211310  123446.344760
2005-10-20  13004.328986  41167.578160  119560.434650
2005-10-21  13540.030139  41167.578160  121943.796846
2005-10-24  14046.221825  41167.578160  124424.210599
2005-10-25  13811.759195  41167.578160  123732.440104
2005-10-26  14114.551275  41167.578160  124226.874750
2005-10-27  13889.397808  41167.578160  122530.668950
2005-10-28  13951.508969  41167.578160  123081.305399
2005-10-31  14467.024705  41167.578160  126368.893642
2005-11-01  14875.404541  41167.578160  128377.471729
2005-11-03  15060.179054  41167.578160  128932.259282
2005-11-04  14671.987342  41187.299585  127554.772698
2005-11-07  14842.789313  41207.618629  128911.655464
2005-11-08  14687.517500  41247.659097  129888.355107
2005-11-09  14502.736221  41287.101947  129666.798121
2005-11-10  14036.912662  41307.420991  129280.125254
2005-11-11  14176.658376  41327.142416  128577.463088
2005-11-14  14116.102125  41327.142416  128311.040017
2005-11-16  14316.404091  41307.420991  128761.505660
2005-11-17  14751.178159  41287.101947  131018.723681
2005-11-18  14797.761868  41267.380522  130210.939092
2005-11-21  14875.404541  41227.340054  130406.812655
2005-11-22  15038.437373  41227.340054  131784.095934
2005-11-23  15448.368060  41187.299585  132843.724192
2005-11-24  15272.906770  40188.080721  131358.858548
2005-11-25  15355.200641  40207.802145  131612.174786
2005-11-28  14953.037741  40247.842614  130465.837683
2005-11-29  14998.069246  40268.161658  130785.882460
2005-11-30  14859.871676  40327.923552  130549.194831
2005-12-01  15339.670483  40308.202127  132902.657325
2005-12-02  15348.986413  40268.161658  134636.526177
2005-12-05  15077.258710  40247.842614  135330.517391
2005-12-06  14859.871676  40228.121189  136625.659869
2005-12-07  14324.170523  40228.121189  135262.866185
2005-12-08  14378.515252  40228.121189  133339.721567
2005-12-09  14718.566991  40228.121189  133108.244940
2005-12-12  14720.125961  40228.121189  133931.850425
2005-12-13  14875.404541  40228.121189  134445.381257
2005-12-14  14752.729009  40228.121189  134800.026006
2005-12-15  14696.829370  39264.759461  132964.715000
2005-12-16  14906.455385  39325.118974  133361.948871
2005-12-19  14890.922520  39344.840399  132627.170107
2005-12-20  14712.360882  39344.840399  132278.617153
2005-12-21  14937.506229  39344.840399  134100.181700
2005-12-22  14984.092645  39344.840399  134464.105134
2005-12-23  14844.341517  39344.840399  134322.485806
2005-12-26  14727.886981  39344.840399  132949.827513
2005-12-27  14794.653400  39344.840399  133053.930714
2005-12-28  14859.871676  39344.840399  132888.018075
2005-12-29  14828.816772  39365.159443  133583.140896
16029.976907566312

In [28]:
inicio_2006 = '2006-01-01'
fim_2006 = '2006-12-31'

carteira_geral4 = carteira.loc[inicio_2006:fim_2006]
carteira_normalizada_20061 = pd.DataFrame()

for coluna in carteira_geral4.columns:
    carteira_normalizada_20061[coluna] = (carteira_geral4[coluna] / carteira_geral4[coluna].iloc[0])*valores_2005[coluna]
#                                                      acessando primeira linha/primeira operação

carteira_normalizada_20061['saldo'] = carteira_normalizada_20061.sum(axis=1)
valores_ult_2006 = (carteira_normalizada_20061['saldo'][-1] * 0.6) / 5
valores_ult_2006_selic = carteira_normalizada_20061['saldo'][-1] * 0.4
valores_2006 = {
    'BBAS3.SA': valores_ult_2006,
    'BBDC3.SA': valores_ult_2006,
    'ITUB4.SA': valores_ult_2006,
    'PETR4.SA': valores_ult_2006,
    'VALE3.SA': valores_ult_2006,
    'SELIC': valores_ult_2006_selic
}
print(carteira_normalizada_20061)
print(valores_ult_2006)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2006-01-02  16029.976908  16029.976908  16029.976908  16029.976908
2006-01-03  16381.004426  16610.589952  16470.506981  16534.998497
2006-01-04  18604.132081  16736.817106  16939.479133  16614.953864
2006-01-05  19157.971023  16736.817106  16825.783061  16581.289928
2006-01-06  19910.713995  16938.766006  17422.636203  17191.514055
...                  ...           ...           ...           ...
2006-12-21  24598.804303  19586.871332  21486.991735  20957.500028
2006-12-22  24181.485388  19309.171823  21259.615810  20879.474122
2006-12-26  24337.488293  19690.378500  21486.991735  21057.198754
2006-12-27  24805.519389  20182.620643  21884.902183  21542.656796
2006-12-28  24961.533485  20939.955860  21998.577614  21586.008691

                VALE3.SA         SELIC          saldo
Date
2006-01-02  16029.976908  53433.256359  133583.140896
2006-01-03  16665.814075  53433.256359  136096.170288
2006-01-04  16925.169898  53405.577061  139226.129144
2006-01-05  16900.076781  53377.897763  139579.835662
2006-01-06  17102.536691  53351.032562  141917.199511
...                  ...           ...            ...
2006-12-21  20949.396030  40035.662089  147615.225516
2006-12-22  20982.870047  40035.662089  146648.279278
2006-12-26  21019.677758  40035.662089  147627.397129
2006-12-27  21518.314328  40007.168694  149941.182033
2006-12-28  21317.521264  40035.662089  150839.259003

[258 rows x 7 columns]
18100.711080365305

In [29]:
#ENTRADA 3 etapa 1
inicio_2007_1 = '2007-01-01'
fim_2007_1 = '2007-02-12'

carteira_entrada_2007 = carteira.loc[inicio_2007_1:fim_2007_1]
carteira_normalizada_20071 = pd.DataFrame()

for coluna in carteira_entrada_2007.columns:
    carteira_normalizada_20071[coluna] = (carteira_entrada_2007[coluna] / carteira_entrada_2007[coluna].iloc[0])*valores_2006[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20071['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[2]
carteira_normalizada_20071['saldo'] = carteira_normalizada_20071.sum(axis=1)
print(carteira_normalizada_20071)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2007-01-02  18100.711080  18100.711080  18100.711080  18100.711080
2007-01-03  17775.769975  17906.566488  18209.388720  17550.353916
2007-01-04  18422.906505  17973.433207  18035.963663  17158.264458
2007-01-05  17624.311116  17248.532917  17342.271830  16636.683356
2007-01-08  18037.376062  17798.694785  17716.862613  16830.924036
2007-01-09  17844.609523  17343.467831  17337.648985  16316.539844
2007-01-10  17789.537884  17259.322456  17344.584452  16276.967774
2007-01-11  18056.656403  17475.071782  17619.737288  16251.785664
2007-01-12  18119.987471  17820.267941  17689.112348  16262.581671
2007-01-15  18395.373320  17906.566488  17774.682960  16147.469701
2007-01-16  18287.963871  18057.568715  17874.101715  15931.642152
2007-01-17  18511.032980  18070.509451  18001.282729  15848.913058
2007-01-18  18783.649444  17906.566488  17885.676820  15593.512153
2007-01-19  19028.741941  18316.460407  18267.188676  16309.342935
2007-01-22  19001.199537  18391.979282  18220.950630  16287.759923
2007-01-23  18725.815005  18424.347898  18151.593562  16798.551447
2007-01-24  19056.293563  18769.510506  18357.376135  16942.442052
2007-01-26  18932.366573  18873.071920  18429.060219  16726.610645
2007-01-29  18863.512538  18187.009627  18001.282729  16582.729041
2007-01-30  19193.967392  18251.748832  18123.836101  16298.554644
2007-01-31  19138.895754  18230.167781  18151.593562  16859.705243
2007-02-01  19028.741941  18079.141871  18151.593562  16812.938836
2007-02-02  18946.126581  18012.267257  18313.455509  16989.198172
2007-02-05  19070.049621  17733.959527  18322.703598  16895.675644
2007-02-06  19025.990993  17604.512694  18209.388720  16640.279882
2007-02-07  18863.512538  17777.103866  18200.134633  16154.670468
2007-02-08  18670.757852  17800.844009  18325.005425  16402.864177
2007-02-09  18309.992526  17582.945459  17885.676820  16115.103541
2007-02-12  18175.063060  17507.436451  17689.112348  15964.182478

                VALE3.SA         SELIC          saldo
Date
2007-01-02  18100.711080  60335.703601  150839.259003
2007-01-03  17215.049306  60292.762660  148949.891063
2007-01-04  16938.280680  60335.703601  148864.552114
2007-01-05  16218.676946  60335.703601  145406.179766
2007-01-08  16827.572506  60335.703601  147547.133603
2007-01-09  16398.580593  60335.703601  145576.550377
2007-01-10  17021.309700  60335.703601  146027.425867
2007-01-11  17126.483249  60335.703601  146865.437988
2007-01-12  17602.524900  60292.762660  147787.236991
2007-01-15  17602.524900  60335.703601  148162.320970
2007-01-16  17381.108552  60335.703601  147868.088606
2007-01-17  17464.143602  60335.703601  148231.585422
2007-01-18  17367.270181  60335.703601  147872.378687
2007-01-19  17912.509717  60335.703601  150169.947277
2007-01-22  18164.367105  60335.703601  150401.960078
2007-01-23  19083.240246  60335.703601  151519.251758
2007-01-24  19744.716550  60292.762660  153163.101466
2007-01-26  19484.561447  59172.617526  151618.288329
2007-01-29  19235.467151  59215.558467  150085.559554
2007-01-30  19249.306728  59215.558467  150332.972164
2007-01-31  19678.291405  59215.558467  151274.212212
2007-02-01  19747.486878  59215.558467  151035.461555
2007-02-02  19705.972971  59215.558467  151182.578958
2007-02-05  19609.100756  59215.558467  150847.047613
2007-02-06  20093.447359  59215.558467  150789.178115
2007-02-07  19595.264797  59215.558467  149806.244770
2007-02-08  19700.437140  59215.558467  150115.467070
2007-02-09  19373.850861  59215.558467  148483.127674
2007-02-12  19276.985882  59215.558467  147828.338687

In [30]:
#ENTRADA 3 etapa 2
inicio_2007_2 = '2007-02-12'
fim_2007 = '2007-12-31'

carteira_geral_5 = carteira.loc[inicio_2007_2:fim_2007]
carteira_normalizada_2007 = carteira_geral_5 / carteira_geral_5.iloc[0]
for coluna in carteira_normalizada_2007.columns:
    if coluna != 'saldo':
        carteira_normalizada_2007[coluna] *= carteira_normalizada_20071[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2007['saldo'] = carteira_normalizada_2007.sum(axis=1)
valores_ult_2007 = (carteira_normalizada_2007['saldo'][-1] * 0.6) / 5
valores_ult_2007_selic = carteira_normalizada_2007['saldo'][-1] * 0.4
valores_2007 = {
    'BBAS3.SA': valores_ult_2007,
    'BBDC3.SA': valores_ult_2007,
    'ITUB4.SA': valores_ult_2007,
    'PETR4.SA': valores_ult_2007,
    'VALE3.SA': valores_ult_2007,
    'SELIC': valores_ult_2007_selic
}
print(carteira_normalizada_2007)
print(valores_ult_2007)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2007-02-12  18175.063060  17507.436451  17689.112348  15964.182478
2007-02-13  18450.439691  17529.017501  17665.993326  16256.404934
2007-02-14  19111.352033  17910.864936  18070.648194  16292.480077
2007-02-15  18813.948063  17800.844009  17943.471978  15982.214246
2007-02-16  18453.202491  17690.809267  17758.482611  15993.039497
...                  ...           ...           ...           ...
2007-12-20  25692.934363  22834.095664  21527.557443  31153.878466
2007-12-21  25692.934363  22842.720190  21509.049270  31520.864022
2007-12-26  25858.167716  23062.783753  21966.883648  32362.362866
2007-12-27  25841.640957  22437.128666  21620.033534  32006.491441
2007-12-28  25114.626846  22221.391181  21041.964403  32770.134625

                VALE3.SA         SELIC          saldo
Date
2007-02-12  19276.985882  59215.558467  147828.338687
2007-02-13  20231.831069  59215.558467  149349.244989
2007-02-14  20785.375557  59215.558467  151386.279265
2007-02-15  20937.597638  59215.558467  150693.634402
2007-02-16  20840.736278  59258.499409  149994.769554
...                  ...           ...            ...
2007-12-20  32736.267047  51608.877384  185553.610366
2007-12-21  33107.141178  51608.877384  186281.586407
2007-12-26  33704.962665  51608.877384  188564.038032
2007-12-27  32990.893555  51608.877384  186505.065537
2007-12-28  32830.378583  51608.877384  185587.373022

[217 rows x 7 columns]
22270.484762623386

In [32]:
#Entrada 4 etapa 1
inicio_2008_1 = '2008-01-01'
fim_2008_1 = '2008-06-16'

carteira_entrada_2008 = carteira.loc[inicio_2008_1:fim_2008_1]
carteira_normalizada_20081 = pd.DataFrame()

for coluna in carteira_entrada_2008.columns:
    carteira_normalizada_20081[coluna] = (carteira_entrada_2008[coluna] / carteira_entrada_2008[coluna].iloc[0])*valores_2007[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20081['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[3]
carteira_normalizada_20081['saldo'] = carteira_normalizada_20081.sum(axis=1)
print(carteira_normalizada_20081)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2008-01-02  22270.484763  22270.484763  22270.484763  22270.484763
2008-01-03  21934.186923  21996.799678  21850.879807  21912.101342
2008-01-04  21680.083151  22459.883465  22004.382873  20836.972452
2008-01-07  22195.747939  22682.168681  22004.382873  20225.177077
2008-01-08  22651.626126  23196.211846  22209.093889  21336.144843
...                  ...           ...           ...           ...
2008-06-10  22644.156970  21517.894193  22708.010709  23701.984454
2008-06-11  22195.747939  21309.315044  22388.190975  23392.831844
2008-06-12  22128.485035  21830.755504  22899.922723  23279.475056
2008-06-13  21523.140347  21962.835230  23162.196725  23650.457831
2008-06-16  21971.537466  21997.602304  23219.750420  23833.529428

                VALE3.SA         SELIC          saldo
Date
2008-01-02  22270.484763  74234.949209  185587.373022
2008-01-03  22385.876770  74234.949209  184314.793728
2008-01-04  21578.134395  74234.949209  182794.405545
2008-01-07  21193.494930  74171.417575  182472.389075
2008-01-08  21616.609572  74171.417575  185181.103851
...                  ...           ...            ...
2008-06-10  22624.174800  80383.399537  193579.620661
2008-06-11  21922.976231  80445.166403  191654.228435
2008-06-12  22527.313899  80445.166403  193111.118620
2008-06-13  21988.830715  80445.166403  192732.627252
2008-06-16  22004.331409  80445.166403  193471.917431

[112 rows x 7 columns]

In [33]:
#ENTRADA 4 etapa 2
inicio_2008_2 = '2008-06-16'
fim_2008 = '2008-12-31'

carteira_geral6 = carteira.loc[inicio_2008_2:fim_2008]
carteira_normalizada_2008 = carteira_geral6 / carteira_geral6.iloc[0]
for coluna in carteira_normalizada_2008.columns:
    if coluna != 'saldo':
        carteira_normalizada_2008[coluna] *= carteira_normalizada_20081[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2008['saldo'] = carteira_normalizada_2008.sum(axis=1)
valores_ult_2008 = (carteira_normalizada_2008['saldo'][-1] * 0.6) / 5
valores_ult_2008_selic = carteira_normalizada_2008['saldo'][-1] * 0.4
valores_2008 = {
    'BBAS3.SA': valores_ult_2008,
    'BBDC3.SA': valores_ult_2008,
    'ITUB4.SA': valores_ult_2008,
    'PETR4.SA': valores_ult_2008,
    'VALE3.SA': valores_ult_2008,
    'SELIC': valores_ult_2008_selic
}
print(carteira_normalizada_2008)
print(valores_ult_2008)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2008-06-16  21971.537466  21997.602304  23219.750420  23833.529428
2008-06-17  22233.110394  22352.193846  23827.439503  24067.698880
2008-06-18  21298.956083  21761.219238  22995.874749  23625.383001
2008-06-19  21298.956083  21754.283612  22867.943139  22844.807370
2008-06-20  20484.348764  21128.533459  21940.435650  22444.109984
...                  ...           ...           ...           ...
2008-12-22  11247.339279  14063.912520  17565.139027  11521.273013
2008-12-23  10462.643129  13560.380799  16637.624902  11448.423112
2008-12-26  10462.643129  13448.474743  16567.261587  11864.729456
2008-12-29  10462.643129  13623.314984  16567.261587  11740.959545
2008-12-30  10970.831613  13979.988272  16695.201161  11907.793273

                VALE3.SA         SELIC          saldo
Date
2008-06-16  22004.331409  80445.166403  193471.917431
2008-06-17  22655.167807  80445.166403  195580.776832
2008-06-18  22535.074303  80445.166403  192661.673776
2008-06-19  22488.582277  80445.166403  191699.738883
2008-06-20  21477.467042  80445.166403  187920.061302
...                  ...           ...            ...
2008-12-22  10471.334815  89690.783873  154559.782527
2008-12-23  10073.987060  89690.783873  151873.842875
2008-12-26  10557.037831  89690.783873  152590.930619
2008-12-29  10533.665272  89690.783873  152618.628391
2008-12-30  10786.879870  89690.783873  154031.478062

[138 rows x 7 columns]
18483.777367482377

In [34]:
#ENTRADA 5 etapa 1 
inicio_2009_1 = '2009-01-01'
fim_2009_1 = '2009-10-19'

carteira_entrada_2009 = carteira.loc[inicio_2009_1:fim_2009_1]
carteira_normalizada_20091 = pd.DataFrame()

for coluna in carteira_entrada_2009.columns:
    carteira_normalizada_20091[coluna] = (carteira_entrada_2009[coluna] / carteira_entrada_2009[coluna].iloc[0])*valores_2008[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20091['BBDC3.SA'].iloc[-1] += acoes_num['BBDC3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[4]
carteira_normalizada_20091['saldo'] = carteira_normalizada_20091.sum(axis=1)
print(carteira_normalizada_20091)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2009-01-02  18483.777367  18483.777367  18483.777367  18483.777367
2009-01-05  18828.802426  18343.616427  18528.582298  18905.572469
2009-01-06  19863.901171  18658.985838  19290.210332  19169.201391
2009-01-07  19420.287984  18387.417882  18182.970257  18415.985737
2009-01-08  18976.678726  18527.577495  18291.786024  19206.858211
...                  ...           ...           ...           ...
2009-10-13  40497.273728  26092.116781  25415.194876  27726.380701
2009-10-14  41787.011986  27001.044708  26119.226438  27981.822341
2009-10-15  41335.587096  27090.167616  26013.621836  28330.134604
2009-10-16  40290.920635  26475.307884  25767.217297  28175.323379
2009-10-19  40484.384517  31889.155645  26062.902213  28918.407905

                VALE3.SA         SELIC          saldo
Date
2009-01-02  18483.777367  61612.591225  154031.478062
2009-01-05  19489.778021  61570.190016  155666.541656
2009-01-06  20029.138387  61570.190016  158581.627135
2009-01-07  18786.789000  61570.190016  154763.640875
2009-01-08  19623.109032  61570.190016  156196.199504
...                  ...           ...            ...
2009-10-13  26630.140745  39889.846067  186250.952898
2009-10-14  27860.176296  39889.846067  190639.127835
2009-10-15  28161.533481  39889.846067  190820.890700
2009-10-16  28131.709096  39889.846067  188730.324358
2009-10-19  28977.221808  39889.846067  196221.918155

[199 rows x 7 columns]

In [36]:
#ENTRADA 5 etapa 2
inicio_2009_2 = '2009-10-19'
fim_2009 = '2009-12-31'

carteira_geral7 = carteira.loc[inicio_2009_2:fim_2009]
carteira_normalizada_2009 = carteira_geral7 / carteira_geral7.iloc[0]
for coluna in carteira_normalizada_2009.columns:
    if coluna != 'saldo':
        carteira_normalizada_2009[coluna] *= carteira_normalizada_20091[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2009['saldo'] = carteira_normalizada_2009.sum(axis=1)


valores_ult_2009 = (carteira_normalizada_2009['saldo'][-1] * 0.6) / 5
valores_ult_2009_selic = carteira_normalizada_2009['saldo'][-1] * 0.4
valores_2009 = {
    'BBAS3.SA': valores_ult_2009,
    'BBDC3.SA': valores_ult_2009,
    'ITUB4.SA': valores_ult_2009,
    'PETR4.SA': valores_ult_2009,
    'VALE3.SA': valores_ult_2009,
    'SELIC': valores_ult_2009_selic
}
print(carteira_normalizada_2009)
print(valores_ult_2009)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2009-10-19  40484.384517  31889.155645  26062.902213  28918.407905
2009-10-20  39246.234533  30984.126697  25556.010750  28252.726393
2009-10-21  39272.044383  30877.661652  25344.785611  28407.540217
2009-10-22  40045.868481  31622.970847  25837.621250  28639.759654
2009-10-23  39207.531542  31250.324174  25591.208743  28252.726393
2009-10-26  38781.944002  30941.553357  25556.010750  28407.540217
2009-10-27  37530.928377  30036.518070  24894.218373  27826.995523
2009-10-28  34951.463648  29120.829939  23232.722800  26503.381895
2009-10-29  37595.405862  30664.709376  24732.294859  27912.153131
2009-10-30  36383.053943  29791.626280  23584.737252  27122.629395
2009-11-03  37505.130312  30345.292056  24823.822389  27517.383467
2009-11-04  38627.171326  30114.374794  25626.396111  27633.499682
2009-11-05  38627.171326  30359.364839  25837.621250  28175.323379
2009-11-06  38240.259277  30242.189899  25724.970144  27904.408932
2009-11-09  39852.408528  30891.984830  26295.224368  28701.689861
2009-11-10  40290.920635  31051.790161  26633.156436  28957.118508
2009-11-11  40136.171530  31051.790161  26647.246789  29104.180336
2009-11-12  40071.670474  30252.845912  25872.819242  28523.643439
2009-11-13  41600.214667  30583.071384  26738.753070  28740.387470
2009-11-16  41470.214733  31626.989831  26928.862600  28933.888508
2009-11-17  41470.214733  31690.925910  27090.759554  29723.427837
2009-11-18  40170.191819  31744.180619  26752.854046  29568.614013
2009-11-19  39845.188055  31105.048040  26112.190558  29800.820456
2009-11-23  40144.197332  31307.455237  26675.403589  30071.740100
2009-11-24  40040.195814  31584.394305  26816.203527  30303.949142
2009-11-25  40079.185580  31690.925910  27309.031197  30536.173776
2009-11-26  39247.189143  30977.201239  26414.908697  29762.117650
2009-11-27  40014.205255  31286.130533  26576.829555  30110.448104
2009-11-30  40170.191819  31009.159770  26717.645430  30033.032097
2009-12-01  39949.189574  31957.237490  27703.263586  30799.344024
2009-12-02  39520.176434  32484.285419  28020.077390  30505.199577
2009-12-03  39650.199939  32399.034145  27703.263586  30420.062759
2009-12-04  39403.199279  32548.234176  27668.081530  29723.427837
2009-12-07  40430.195616  33396.433168  28196.083289  29723.427837
2009-12-08  40170.191819  33191.100480  28055.288663  29096.443933
2009-12-09  39871.186471  33147.826671  28048.266063  29096.443933
2009-12-10  39897.200600  33493.700190  28189.044753  29228.032955
2009-12-11  40014.205255  33882.765111  28160.895921  29258.988963
2009-12-14  40300.207467  33504.524189  28006.016255  29336.399773
2009-12-15  40300.207467  33677.429254  28238.317161  29413.800189
2009-12-16  39845.188055  32856.044620  27879.280109  29305.435969
2009-12-17  38285.180987  31959.002927  27118.932291  28539.137035
2009-12-18  38480.173032  31742.836731  27090.759554  28314.656600
2009-12-21  37960.173295  31775.242168  26858.440055  27396.254312
2009-12-22  38128.895862  32002.203837  26886.615448  28283.523879
2009-12-23  38207.904646  31677.975145  26661.331829  28563.715773
2009-12-24  38207.904646  31677.975145  26661.331829  28563.715773
2009-12-28  38207.904646  31656.368352  26682.439469  28602.631675
2009-12-29  38128.895862  31894.125493  26682.439469  28602.631675
2009-12-30  38128.895862  31894.125493  27238.624588  28555.929994

                VALE3.SA         SELIC          saldo
Date
2009-10-19  28977.221808  39889.846067  196221.918155
2009-10-20  28454.987386  39889.846067  192383.931826
2009-10-21  28666.370779  39889.846067  192458.248709
2009-10-22  29169.938233  39889.846067  195206.004532
2009-10-23  28666.370779  39889.846067  192858.007697
2009-10-26  28846.659943  39889.846067  192423.554337
2009-10-27  27758.690469  39889.846067  187937.196880
2009-10-28  26552.609860  39889.846067  180250.854208
2009-10-29  28908.832756  39889.846067  189703.242052
2009-10-30  27851.949689  39889.846067  184623.842626
2009-11-03  28908.832756  39889.846067  188990.307047
2009-11-04  29182.381140  39889.846067  191073.669119
2009-11-05  29306.724159  39889.846067  192196.051019
2009-11-06  29120.208327  39889.846067  191121.882646
2009-11-09  30121.137426  39889.846067  195752.291080
2009-11-10  29791.640290  39889.846067  196614.472098
2009-11-11  29735.681108  39889.846067  196564.915991
2009-11-12  28660.149326  39889.846067  193270.974460
2009-11-13  29157.508364  39889.846067  196709.781021
2009-11-16  30320.083127  39889.846067  199169.884867
2009-11-17  30717.958885  39889.846067  200583.132985
2009-11-18  30189.526478  39889.846067  198315.213042
2009-11-19  30257.910314  39889.846067  197011.003490
2009-11-23  30581.188605  39889.846067  198669.830930
2009-11-24  30755.264138  39889.846067  199389.852992
2009-11-25  31271.279713  39889.846067  200776.442243
2009-11-26  30338.724020  39889.846067  196629.986817
2009-11-27  30836.077843  39889.846067  198713.537357
2009-11-30  30475.502123  39889.846067  198295.377305
2009-12-01  31022.598890  39889.846067  201321.479631
2009-12-02  30773.920675  39889.846067  201193.505563
2009-12-03  30431.985847  39889.846067  200494.392343
2009-12-04  29872.456603  39889.846067  199105.245492
2009-12-07  29922.199547  39889.846067  201558.185524
2009-12-08  29654.867402  39889.846067  200057.738364
2009-12-09  29965.702786  39889.846067  200019.271990
2009-12-10  30463.072254  39889.846067  201160.896819
2009-12-11  30711.740039  39889.846067  201918.441356
2009-12-14  31258.836807  39889.846067  202295.830558
2009-12-15  31221.536769  39889.846067  202741.136907
2009-12-16  31059.893713  39889.846067  200835.688533
2009-12-17  30096.267258  39889.846067  195888.366565
2009-12-18  30027.883421  39889.846067  195546.155406
2009-12-21  29928.413178  39889.846067  193808.369075
2009-12-22  30494.158660  39889.846067  195685.243752
2009-12-23  30904.474717  39889.846067  195905.248177
2009-12-24  30904.474717  39889.846067  195905.248177
2009-12-28  30960.420862  39889.846067  195999.611070
2009-12-29  30873.393526  39845.021931  196026.507956
2009-12-30  30873.393526  39889.846067  196580.815530
23589.697863540987

In [37]:
inicio_2010 = '2010-01-01'
fim_2010 = '2010-12-31'

carteira_geral10 = carteira.loc[inicio_2010:fim_2010]

carteira_normalizada_2010 = pd.DataFrame()

for coluna in carteira_geral1.columns:
    carteira_normalizada_2010[coluna] = (carteira_geral10[coluna] / carteira_geral10[coluna].iloc[0])* valores_2009[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2010['saldo'] = carteira_normalizada_2010.sum(axis=1)
print(len(carteira_normalizada_2010.columns))
valores_ult_2010 = (carteira_normalizada_2010['saldo'][-1] * 0.6) / 5
valores_ult_2010_selic = carteira_normalizada_2010['saldo'][-1] * 0.4
valores_2010 = {
    'BBAS3.SA': valores_ult_2010,
    'BBDC3.SA': valores_ult_2010,
    'ITUB4.SA': valores_ult_2010,
    'PETR4.SA': valores_ult_2010,
    'VALE3.SA': valores_ult_2010,
    'SELIC': valores_ult_2010_selic
}
print(carteira_normalizada_2010)
print(valores_ult_2010)

7
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2010-01-04  23589.697864  23589.697864  23589.697864  23589.697864
2010-01-05  23352.999867  23264.795050  23742.557758  23387.426361
2010-01-06  23384.561482  23127.750386  23536.754791  23703.468328
2010-01-07  23392.458946  23074.473216  23295.699329  23482.240007
2010-01-08  23526.584045  23104.916675  22942.903750  23355.827441
...                  ...           ...           ...           ...
2010-12-23  27693.091459  24311.285072  23311.584247  16760.971094
2010-12-27  27523.571321  23884.775370  22908.509719  16956.238787
2010-12-28  27470.037531  23790.006099  22896.675333  17353.299947
2010-12-29  27657.399913  24074.338461  23406.427922  17555.077584
2010-12-30  28032.105851  24358.684213  23584.232085  17763.373607

                VALE3.SA         SELIC          saldo
Date
2010-01-04  23589.697864  78632.326212  196580.815530
2010-01-05  23809.611250  78632.326212  196189.716498
2010-01-06  24313.570461  78632.326212  196698.431661
2010-01-07  24414.350005  78632.326212  196291.547715
2010-01-08  24652.596553  78632.326212  196215.154677
...                  ...           ...            ...
2010-12-23  26462.464434  96007.999839  214547.396144
2010-12-27  25708.387564  96007.999839  212989.482600
2010-12-28  25480.301980  96007.999839  212998.320729
2010-12-29  25657.183070  96007.999839  214358.426789
2010-12-30  25754.934309  96093.970736  215587.300801

[247 rows x 7 columns]
25870.476096124105

In [38]:
inicio_2011 = '2011-01-01'
fim_2011 = '2011-12-31'

carteira_geral11 = carteira.loc[inicio_2011:fim_2011]
carteira_normalizada_2011 = pd.DataFrame()

for coluna in carteira_geral11.columns:
    carteira_normalizada_2011[coluna] = (carteira_geral11[coluna] / carteira_geral11[coluna].iloc[0])* valores_2010[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2011['saldo'] = carteira_normalizada_2011.sum(axis=1)
print(len(carteira_normalizada_2011.columns))
valores_ult_2011 = (carteira_normalizada_2011['saldo'][-1] * 0.6) / 5
valores_ult_2011_selic = carteira_normalizada_2011['saldo'][-1] * 0.4
valores_2011 = {
    'BBAS3.SA': valores_ult_2011,
    'BBDC3.SA': valores_ult_2011,
    'ITUB4.SA': valores_ult_2011,
    'PETR4.SA': valores_ult_2011,
    'VALE3.SA': valores_ult_2011,
    'SELIC': valores_ult_2011_selic
}
print(carteira_normalizada_2011)
print(valores_ult_2011)

7
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2011-01-03  25870.476096  25870.476096  25870.476096  25870.476096
2011-01-04  25977.567003  25953.253106  26079.112549  25774.662843
2011-01-05  26348.337674  26152.110749  26470.306506  26081.268359
2011-01-06  26117.644229  25525.648332  25844.406854  25975.875334
2011-01-07  25499.707598  25326.760268  25211.978970  25611.770993
...                  ...           ...           ...           ...
2011-12-23  22712.114723  26233.465006  23170.729612  22112.782227
2011-12-26  22674.145359  26068.152013  23043.819822  22063.023957
2011-12-27  22825.998912  26119.815687  23109.852034  22092.878608
2011-12-28  22275.523533  25778.849009  22584.445889  21326.599382
2011-12-29  22493.819128  26130.142338  22894.291772  21386.304024

                VALE3.SA         SELIC          saldo
Date
2011-01-03  25870.476096  86234.920320  215587.300801
2011-01-04  26406.322289  86157.769866  216348.687656
2011-01-05  26883.140107  86234.920320  218170.083715
2011-01-06  26538.014668  86157.769866  216159.359283
2011-01-07  26338.207868  86234.920320  214223.346017
...                  ...           ...            ...
2011-12-23  19615.629814  88000.808497  201845.529880
2011-12-26  19462.340498  88000.808497  201312.290146
2011-12-27  19591.670918  88000.808497  201741.024657
2011-12-28  19026.435198  88000.808497  198992.661508
2011-12-29  18897.104778  88000.808497  199802.470537

[249 rows x 7 columns]
23976.296464495696

In [39]:
inicio_2012 = '2012-01-01'
fim_2012 = '2012-12-31'

carteira_geral12 = carteira.loc[inicio_2012:fim_2012]
carteira_normalizada_2012 = pd.DataFrame()

for coluna in carteira_geral12.columns:
    carteira_normalizada_2012[coluna] = (carteira_geral12[coluna] / carteira_geral12[coluna].iloc[0])* valores_2011[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2012['saldo'] = carteira_normalizada_2012.sum(axis=1)
print(len(carteira_normalizada_2012.columns))
valores_ult_2012 = (carteira_normalizada_2012['saldo'][-1] * 0.6) / 5
valores_ult_2012_selic = carteira_normalizada_2012['saldo'][-1] * 0.4
valores_2012 = {
    'BBAS3.SA': valores_ult_2012,
    'BBDC3.SA': valores_ult_2012,
    'ITUB4.SA': valores_ult_2012,
    'PETR4.SA': valores_ult_2012,
    'VALE3.SA': valores_ult_2012,
    'SELIC': valores_ult_2012_selic
}
print(carteira_normalizada_2012)
print(valores_ult_2012)

7
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2012-01-02  23976.296464  23976.296464  23976.296464  23976.296464
2012-01-03  23867.711551  24075.400058  24575.184924  24929.996366
2012-01-04  23749.277062  24075.400058  24603.347908  25107.995937
2012-01-05  23502.488443  23895.298500  24420.166707  24818.762781
2012-01-06  22910.236891  24255.475871  24603.347908  24841.002608
...                  ...           ...           ...           ...
2012-12-20  28331.965408  33795.509809  24471.465563  23780.850176
2012-12-21  28558.620933  34017.915764  24608.631322  23374.141884
2012-12-26  28331.965408  33480.745622  24580.932731  22662.412275
2012-12-27  28399.960935  33313.898783  24172.937430  21928.086326
2012-12-28  29011.936502  33304.108999  24311.364407  22052.359309

                VALE3.SA         SELIC          saldo
Date
2012-01-02  23976.296464  79920.988215  199802.470537
2012-01-03  25043.218706  79920.988215  202412.499821
2012-01-04  25213.220782  79920.988215  202670.229962
2012-01-05  24539.067022  79920.988215  201096.771667
2012-01-06  24328.025769  79920.988215  200859.077262
...                  ...           ...            ...
2012-12-20  26206.968077  53056.185343  189642.944377
2012-12-21  25983.664853  53056.185343  189599.160098
2012-12-26  26157.342080  53994.302780  189207.700895
2012-12-27  26151.141124  54066.315944  188032.340543
2012-12-28  26225.575532  54210.342273  189115.687021

[245 rows x 7 columns]
22693.88244257604

In [40]:
#ENTRADA 6 etapa 1
inicio_2013_1 = '2013-01-01'
fim_2013_1 = '2013-02-18'

carteira_entrada_2013 = carteira.loc[inicio_2013_1:fim_2013_1]
carteira_normalizada_20131 = pd.DataFrame()

for coluna in carteira_entrada_2013.columns:
    carteira_normalizada_20131[coluna] = (carteira_entrada_2013[coluna] / carteira_entrada_2013[coluna].iloc[0])*valores_2012[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20131['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[5]
carteira_normalizada_20131['saldo'] = carteira_normalizada_20131.sum(axis=1)
print(carteira_normalizada_20131)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2013-01-02  22693.882443  22693.882443  22693.882443  22693.882443
2013-01-03  23142.477169  23940.056145  23371.813206  23512.197762
2013-01-04  22861.004696  23881.820253  23233.583077  23546.773624
2013-01-07  23001.747072  23318.917136  22838.675535  23143.377437
2013-01-08  23265.631792  23241.287663  22930.825135  22474.893782
2013-01-09  23485.529586  23758.897612  23299.396036  22682.355984
2013-01-10  23133.681538  23610.083868  23003.214806  22855.240566
2013-01-11  22852.217836  23357.729751  23062.457927  22912.864075
2013-01-14  23661.445716  23713.597373  23365.236493  22728.453034
2013-01-15  23485.529586  23435.373365  23055.876631  22843.712350
2013-01-16  23626.263192  23616.538968  23259.917427  22866.767025
2013-01-17  23582.276265  23784.788714  23654.815803  22716.933603
2013-01-18  23045.730490  23940.056145  23733.795936  22567.100181
2013-01-21  22808.236172  23674.770617  23562.670786  22348.108007
2013-01-22  22808.236172  23674.770617  23562.670786  22567.100181
2013-01-23  22429.999477  23480.673603  23496.860119  22532.522562
2013-01-24  22342.037903  23519.493289  23523.180719  22601.677801
2013-01-28  21735.111292  22904.815037  22904.488493  22325.063875
2013-01-29  22007.782872  22160.733590  22871.588889  22025.395274
2013-01-30  21814.291268  22108.959869  22437.200446  20976.570107
2013-01-31  21462.434449  22898.338726  22595.140089  20838.261387
2013-02-01  21374.469367  22723.636707  22486.498294  21276.233437
2013-02-04  20978.639656  22497.172280  21959.724223  20746.054988
2013-02-05  21163.360188  22438.963255  22512.841809  20838.261387
2013-02-06  21049.016984  22235.708907  22045.338357  20285.031778
2013-02-07  20802.720017  22164.404442  21907.062398  20169.775976
2013-02-08  20952.256271  22754.342622  22302.137222  20446.389902
2013-02-13  20987.437041  22871.022269  22242.878061  20515.543383
2013-02-14  20934.661500  22611.720966  22137.531496  20365.711718
2013-02-15  21462.434449  23305.347992  23164.736122  20319.605883
2013-02-18  23333.660221  23661.907080  23408.342606  20630.799186

                VALE3.SA         SELIC          saldo
Date
2013-01-02  22693.882443  75646.274809  189115.687021
2013-01-03  22307.932682  75646.274809  191920.751772
2013-01-04  21963.155642  75646.274809  191132.612100
2013-01-07  21530.892520  75646.274809  189479.884508
2013-01-08  21361.066708  75646.274809  188919.979889
2013-01-09  21458.839784  75646.274809  190331.293810
2013-01-10  21685.269759  75646.274809  189933.765346
2013-01-11  21237.565677  75646.274809  189069.110074
2013-01-14  21232.421228  75646.274809  190347.428652
2013-01-15  21180.957708  75646.274809  189647.724448
2013-01-16  21047.165876  75646.274809  190062.927296
2013-01-17  21088.332887  75646.274809  190473.422080
2013-01-18  20897.936892  75646.274809  189830.894453
2013-01-21  20882.490223  75646.274809  188922.550613
2013-01-22  21134.642442  75646.274809  189393.695007
2013-01-23  21021.432213  75646.274809  188607.762782
2013-01-24  20584.024642  75646.274809  188216.689162
2013-01-28  19961.356009  75646.274809  185477.109514
2013-01-29  20192.928529  75646.274809  184904.703963
2013-01-30  19940.772504  75646.274809  182924.069002
2013-01-31  20717.820279  75646.274809  184158.269739
2013-02-01  21021.432213  75646.274809  184528.544826
2013-02-04  20815.589549  75646.274809  182643.455504
2013-02-05  20429.647402  75646.274809  183029.348849
2013-02-06  20661.214213  75646.274809  181922.585048
2013-02-07  20084.855136  75646.274809  180775.092778
2013-02-08  20244.386340  75646.274809  182345.787165
2013-02-13  20126.027856  75646.274809  182389.183418
2013-02-14  19853.288325  75646.274809  181549.188815
2013-02-15  19709.201886  75646.274809  183607.601142
2013-02-18  19575.408152  75646.274809  186256.392053

In [41]:
#ENTRADA 6 etapa 2
inicio_2013_2 = '2013-02-18'
fim_2013 = '2013-12-16'

carteira_geral13 = carteira.loc[inicio_2013_2:fim_2013]
carteira_normalizada_2013 = carteira_geral13 / carteira_geral13.iloc[0]
for coluna in carteira_normalizada_2013.columns:
    if coluna != 'saldo':
        carteira_normalizada_2013[coluna] *= carteira_normalizada_20131[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2013['saldo'] = carteira_normalizada_2013.sum(axis=1)

valores_ult_2013 = (carteira_normalizada_2013['saldo'][-1] * 0.6) / 5
valores_ult_2013_selic = carteira_normalizada_2013['saldo'][-1] * 0.4
valores_2013 = {
    'BBAS3.SA': valores_ult_2013,
    'BBDC3.SA': valores_ult_2013,
    'ITUB4.SA': valores_ult_2013,
    'PETR4.SA': valores_ult_2013,
    'VALE3.SA': valores_ult_2013,
    'SELIC': valores_ult_2013_selic
}
print(carteira_normalizada_2013)
print(valores_ult_2013)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2013-02-18  23333.660221  23661.907080  23408.342606  20630.799186
2013-02-19  23769.704123  23247.014532  22954.015495  20861.310791
2013-02-20  23546.836424  22786.759527  22552.354791  20308.086453
2013-02-21  24506.138032  22741.370204  22387.742191  19962.313774
2013-02-22  24922.825996  22987.708987  23112.044508  19766.379788
...                  ...           ...           ...           ...
2013-12-10  28455.102974  22695.108417  23423.945685  20323.608516
2013-12-11  27680.115655  22319.987204  22799.911885  19712.729043
2013-12-12  28272.122112  22291.118129  22993.063295  19806.710095
2013-12-13  28497.722368  22377.690002  23082.210980  20229.632736
2013-12-16  28545.232924  22435.388557  23156.498045  20370.605192

                VALE3.SA          SELIC          saldo
Date
2013-02-18  19575.408152   75646.274809  186256.392053
2013-02-19  19374.709937   75646.274809  185853.029685
2013-02-20  18752.045111   75646.274809  183592.357114
2013-02-21  18885.842651   75646.274809  184129.681660
2013-02-22  18381.534407   75646.274809  184816.768494
...                  ...            ...            ...
2013-12-10  18776.701542  103973.390482  217647.857616
2013-12-11  18395.022645  103973.390482  214881.156913
2013-12-12  18315.505415  103973.390482  215651.909527
2013-12-13  18108.758714  103973.390482  216269.405282
2013-12-16  18230.683865  103973.390482  216711.799065

[210 rows x 7 columns]
26005.415887813164

In [43]:
#Entrada 7 - Dupla entrada no mesmo ano
inicio_2013_22 = '2013-12-16'
fim_2013_22 = '2013-12-31'
carteira_geral13_2 = carteira.loc[inicio_2013_22:fim_2013_22]
carteira_normalizada_2013_22 = carteira_geral13_2 / carteira_geral13_2.iloc[0]
for coluna in carteira_normalizada_2013.columns:
    if coluna == 'BBAS3.SA':
        carteira_normalizada_2013_22[coluna] *= carteira_normalizada_2013[coluna].iloc[-1] + acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[6]
    elif coluna != 'saldo':
        carteira_normalizada_2013_22[coluna] *= carteira_normalizada_2013[coluna].iloc[-1]
carteira_normalizada_2013_22['saldo'] = carteira_normalizada_2013_22.sum(axis=1)

valores_ult_2013_22 = (carteira_normalizada_2013_22['saldo'][-1] * 0.6) / 5
valores_ult_2013_22_selic = carteira_normalizada_2013_22['saldo'][-1] * 0.4
valores_2013_22 = {
    'BBAS3.SA': valores_ult_2013_22,
    'BBDC3.SA': valores_ult_2013_22,
    'ITUB4.SA': valores_ult_2013_22,
    'PETR4.SA': valores_ult_2013_22,
    'VALE3.SA': valores_ult_2013_22,
    'SELIC': valores_ult_2013_22_selic
}
print(carteira_normalizada_2013_22)
print(valores_ult_2013_22)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2013-12-16  29111.732924  22435.388557  23156.498045  20370.605192
2013-12-17  29135.938948  22579.685852  23186.216996  19736.224745
2013-12-18  29305.477689  22514.754474  23327.364251  19783.212635
2013-12-19  29547.675889  22846.593285  23847.392036  20264.872775
2013-12-20  29668.761193  22695.108417  23282.793846  19865.449350
2013-12-23  29692.986926  22622.978152  23532.234584  20041.663603
2013-12-26  29608.208687  22617.549646  23696.746357  19877.198959
2013-12-27  29402.360910  22814.343237  23629.469106  19888.945053
2013-12-30  29547.675889  23288.117895  23980.903889  20065.161063

                VALE3.SA          SELIC          saldo
Date
2013-12-16  18230.683865  103973.390482  217278.299065
2013-12-17  18167.070081  103973.390482  216778.527104
2013-12-18  18220.080933  103973.390482  217124.280463
2013-12-19  18612.364665  103973.390482  219092.289131
2013-12-20  18262.490757  103973.390482  217747.994044
2013-12-23  18320.804026  103973.390482  218184.057772
2013-12-26  18400.323159  103973.390482  218173.417289
2013-12-27  18819.113269  103973.390482  218527.622057
2013-12-30  18930.439294  103973.390482  219785.688510
26374.28262125296

In [44]:
#ENTRADA 8 etapa 1
inicio_2014_1 = '2014-01-01'
fim_2014_1 = '2014-09-15'

carteira_entrada_2014 = carteira.loc[inicio_2014_1:fim_2014_1]
carteira_normalizada_20141 = pd.DataFrame()

for coluna in carteira_entrada_2014.columns:
    carteira_normalizada_20141[coluna] = (carteira_entrada_2014[coluna] / carteira_entrada_2014[coluna].iloc[0])*valores_2013_22[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20141['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[7]
carteira_normalizada_20141['saldo'] = carteira_normalizada_20141.sum(axis=1)
print(carteira_normalizada_20141)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2014-01-02  26374.282621  26374.282621  26374.282621  26374.282621
2014-01-03  26649.015030  25782.617968  26324.085915  25980.644978
2014-01-06  26253.399288  25957.328411  26365.924620  26169.599054
2014-01-07  25802.837065  25466.479027  26165.094222  25445.284123
2014-01-08  25286.339779  25391.585380  26575.107893  25492.522053
...                  ...           ...           ...           ...
2014-09-09  38573.900337  32626.050397  36891.854912  36063.767007
2014-09-10  37965.783253  32236.842162  36493.531165  35173.933270
2014-09-11  38240.032765  32245.310644  36436.650108  35610.459035
2014-09-12  37707.841339  31238.432255  35127.875745  33813.985805
2014-09-15  40713.681165  32312.974627  36019.336961  34552.725520

                VALE3.SA         SELIC          saldo
Date
2014-01-02  26374.282621  87914.275404  219785.688510
2014-01-03  25806.038344  87914.275404  218456.677639
2014-01-06  25828.765504  87914.275404  218489.292281
2014-01-07  25192.326147  87914.275404  215986.295988
2014-01-08  25366.592187  87914.275404  216026.422696
...                  ...           ...            ...
2014-09-09  22288.341896  96349.522017  262793.436566
2014-09-10  22124.737629  96349.522017  260344.349495
2014-09-11  22093.579251  96349.522017  260975.553820
2014-09-12  22296.132511  96349.522017  256533.789672
2014-09-15  22677.859028  96349.522017  262626.099317

[175 rows x 7 columns]

In [45]:
#ENTRADA 8 etapa 2
inicio_2014_2 = '2014-09-15'
fim_2014 = '2014-10-20'

carteira_geral13 = carteira.loc[inicio_2014_2:fim_2014]
carteira_normalizada_2014 = carteira_geral13 / carteira_geral13.iloc[0]
for coluna in carteira_normalizada_2014.columns:
    if coluna != 'saldo':
        carteira_normalizada_2014[coluna] *= carteira_normalizada_20141[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2014['saldo'] = carteira_normalizada_2014.sum(axis=1)

print(carteira_normalizada_2014)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2014-09-15  40713.681165  32312.974627  36019.336961  34552.725520
2014-09-16  42506.089903  32871.404115  36948.735969  36181.308392
2014-09-17  42506.089903  32803.727228  37110.008748  37138.296859
2014-09-18  41840.347647  32126.832540  36673.713891  35744.773206
2014-09-19  41059.349894  31856.083052  35801.244637  35106.773829
2014-09-22  39113.279693  31729.171952  35317.562141  34569.512436
2014-09-23  38588.369337  31458.419238  35146.839515  33797.196533
2014-09-24  38409.123951  31788.409391  35421.882098  33965.089247
2014-09-25  37410.486127  31001.521212  34312.254230  33310.305309
2014-09-26  38191.453799  32245.310644  35753.795486  35157.148709
2014-09-29  34926.691048  29994.639597  33250.078077  31228.409755
2014-09-30  32391.686761  29613.890166  32102.555988  30372.147496
2014-10-01  32903.816435  28632.401094  31272.358590  28693.196810
2014-10-02  32583.731629  29198.602230  32316.032317  29045.776218
2014-10-03  33300.716933  29715.018366  33075.072647  30808.666196
2014-10-06  37269.661747  32009.254514  34849.332080  34233.724654
2014-10-07  38716.390475  31839.936479  34906.256708  35610.459035
2014-10-08  38959.644550  31069.540064  34450.810981  35006.038201
2014-10-09  40457.608807  31577.478039  34887.277560  35593.667409
2014-10-10  38537.137569  30333.011128  33445.103239  33662.877652
2014-10-13  42864.569395  32322.485136  36054.306778  37155.095551
2014-10-14  42608.523358  32330.934262  36386.356007  36265.250038
2014-10-15  40969.734721  30807.100981  34754.446592  33830.765656
2014-10-16  39894.284966  29740.423813  33834.102726  31312.353757
2014-10-17  40956.939000  31010.286494  34820.839009  32051.084052
2014-10-20  38306.698016  30417.692728  33966.931132  30086.727528

                VALE3.SA         SELIC          saldo
Date
2014-09-15  22677.859028  96349.522017  262626.099317
2014-09-16  22709.022846  96349.522017  267566.083242
2014-09-17  22638.904594  96349.522017  268546.549349
2014-09-18  22662.277798  96349.522017  265397.467099
2014-09-19  22062.415432  96349.522017  262235.388862
2014-09-22  21252.220071  96349.522017  258331.268309
2014-09-23  21462.557146  96349.522017  256802.903786
2014-09-24  21532.672677  96349.522017  257466.699381
2014-09-25  21306.750293  96349.522017  253690.839187
2014-09-26  21010.711017  96349.522017  258707.941671
2014-09-29  20675.732268  96349.522017  246425.072761
2014-09-30  20917.227721  96349.522017  241747.030149
2014-10-01  20901.649212  96349.522017  238752.944159
2014-10-02  21509.306274  96349.522017  241002.970684
2014-10-03  21189.888353  96349.522017  244438.884512
2014-10-06  21298.962399  96349.522017  256010.457409
2014-10-07  21345.700646  96349.522017  258768.265360
2014-10-08  21322.330162  96349.522017  257157.885975
2014-10-09  20956.178074  96349.522017  259821.731906
2014-10-10  20566.656863  96349.522017  252894.308468
2014-10-13  21415.813458  96349.522017  266161.792334
2014-10-14  22054.627537  96349.522017  265995.213219
2014-10-15  22046.839643  96349.522017  258758.409609
2014-10-16  21330.119417  96349.522017  252460.806696
2014-10-17  21516.735104  96349.522017  256705.405675
2014-10-20  21411.654292  96349.522017  250539.225713

In [46]:
#Entrada 9 - Dupla entrada no mesmo ano
inicio_2014_22 = '2014-10-20'
fim_2014_22 = '2014-12-31'
carteira_geral13 = carteira.loc[inicio_2014_22:fim_2014_22]
carteira_normalizada_2014_22 = carteira_geral13 / carteira_geral13.iloc[0]
for coluna in carteira_normalizada_2014.columns:
    if coluna == 'BBAS3.SA':
        carteira_normalizada_2014_22[coluna] *= carteira_normalizada_2014[coluna].iloc[-1] + acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[8]
    elif coluna != 'saldo':
        carteira_normalizada_2014_22[coluna] *= carteira_normalizada_2014[coluna].iloc[-1]
carteira_normalizada_2014_22['saldo'] = carteira_normalizada_2014_22.sum(axis=1)
print(carteira_normalizada_2014_22)
valores_ult_2014_22 = (carteira_normalizada_2014_22['saldo'][-1] * 0.6) / 5
valores_ult_2014_22_selic = carteira_normalizada_2014_22['saldo'][-1] * 0.4
valores_2014_22 = {
    'BBAS3.SA': valores_ult_2014_22,
    'BBDC3.SA': valores_ult_2014_22,
    'ITUB4.SA': valores_ult_2014_22,
    'PETR4.SA': valores_ult_2014_22,
    'VALE3.SA': valores_ult_2014_22,
    'SELIC': valores_ult_2014_22_selic
}
print(carteira_normalizada_2014_22)
print(valores_ult_2014_22)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2014-10-20  41139.198016  30417.692728  33966.931132  30086.727528
2014-10-21  38636.747880  28724.512377  32259.094873  28374.205364
2014-10-22  37743.005304  28724.512377  32050.347312  27887.307075
2014-10-23  34305.586978  27522.371748  30598.710329  26040.461320
2014-10-24  35405.558581  27844.070853  31452.633584  27904.098701
2014-10-27  33576.841758  26963.626103  30759.995923  24378.306970
2014-10-28  35955.548421  28157.304702  32164.217074  25234.559809
2014-10-29  35006.818168  27336.126426  31234.397731  23538.833982
2014-10-30  37468.014423  29452.582509  33758.196386  24042.514478
2014-10-31  38128.007884  30883.297968  34849.332080  25654.308079
2014-11-03  37633.013797  30104.436297  34740.178271  24932.357635
2014-11-04  39530.470264  30730.220063  35404.602231  24881.985111
2014-11-05  36395.554830  29984.835513  35015.425895  24176.833359
2014-11-06  34855.572779  29451.201743  33743.528235  23605.993423
2014-11-07  35735.553292  29646.018782  34313.035950  23958.572831
2014-11-10  34374.336717  29612.138400  34218.124832  23471.672187
2014-11-11  33879.334554  29959.426839  34199.122617  23505.255440
2014-11-12  34786.814963  29646.018782  34455.398783  23689.942135
2014-11-13  34250.579110  28858.295046  33344.858481  22833.672810
2014-11-14  33659.349522  29264.866090  33506.215839  22162.090181
2014-11-17  34642.022560  28544.890214  33259.440781  21154.724479
2014-11-18  35912.784265  29891.666074  34227.613125  20902.885409
2014-11-19  38039.919378  31026.687929  35603.930700  21456.943139
2014-11-21  41202.996967  33051.087573  37948.423182  24008.943000
2014-11-24  39766.484789  32593.692728  37160.589908  23857.832493
2014-11-25  40346.627598  33516.960578  37635.173691  23757.092155
2014-11-26  39835.569696  32636.051272  37321.962644  23790.673053
2014-11-27  40249.937803  32127.813271  36771.421261  22565.039758
2014-11-28  41023.435973  32398.878915  36733.473217  21557.678767
2014-12-01  38026.112895  30704.821067  35029.004764  20684.622526
2014-12-02  37238.792090  30559.727732  34734.624211  20432.783456
2014-12-03  37294.050324  30890.266319  35029.004764  21339.415884
2014-12-04  36796.782751  30178.368570  34506.746284  20600.678524
2014-12-05  37611.724598  30424.132001  35161.935691  20449.575082
2014-12-08  35650.339959  29449.546759  33851.572256  19324.671528
2014-12-09  34752.526914  29491.921433  33984.487805  19173.570441
2014-12-10  33053.574467  29161.402202  33471.738121  18266.941545
2014-12-11  34462.461567  29729.200251  33851.572256  17847.206229
2014-12-12  32985.573807  28102.096647  32047.417783  17108.467691
2014-12-15  31395.213644  27559.687915  31363.750684  15211.255300
2014-12-16  30514.835371  27542.744498  31211.799602  15731.732132
2014-12-17  32914.566734  29110.552593  32788.068460  15899.623668
2014-12-18  33084.953020  28822.414488  32541.170377  16067.518737
2014-12-19  34575.909742  29364.803863  33044.434331  16504.044502
2014-12-22  34888.302097  29856.324273  33272.348140  17410.676931
2014-12-23  34760.498250  30227.201873  33424.263340  18317.308182
2014-12-26  34859.889576  29770.390951  32949.479642  17326.730574
2014-12-29  34504.918821  30003.117758  33044.434331  17259.568778
2014-12-30  33752.336321  29580.774366  32854.530078  16839.835817

                VALE3.SA          SELIC          saldo
Date
2014-10-20  21411.654292   96349.522017  253371.725713
2014-10-21  21597.564091   96349.522017  245941.646601
2014-10-22  21629.890789   96349.522017  244384.584874
2014-10-23  22025.954050   96349.522017  236842.606440
2014-10-24  22187.616104   96349.522017  241143.499840
2014-10-27  21387.402468   96349.522017  233415.695239
2014-10-28  21128.752158   96349.522017  238989.904180
2014-10-29  20013.306968   96349.522017  233479.005292
2014-10-30  19156.517530   98447.188351  242325.013676
2014-10-31  20207.298441   98447.188351  248169.432802
2014-11-03  20126.465374   98447.188351  245983.639725
2014-11-04  19487.920593   98447.188351  248482.386613
2014-11-05  19399.001770   98447.188351  243418.839719
2014-11-06  19116.105076   98447.188351  239219.589606
2014-11-07  19415.167840   98447.188351  241515.537047
2014-11-10  18833.202941   98447.188351  238956.663428
2014-11-11  18243.144128   98447.188351  238233.471929
2014-11-12  18202.733034   98447.188351  239228.096048
2014-11-13  18154.233466   98447.188351  235888.827263
2014-11-14  18590.714620   98447.188351  235630.424602
2014-11-17  18534.130657   98447.188351  234582.397043
2014-11-18  17806.673854   98447.188351  237188.811078
2014-11-19  17911.746505   98447.188351  242486.416001
2014-11-21  19067.608228   98447.188351  253726.247301
2014-11-24  19156.517530   98447.188351  250982.305798
2014-11-25  19366.673712   98447.188351  253069.716084
2014-11-26  18623.049479   98447.188351  250654.494495
2014-11-27  18574.545831   98447.188351  248735.946274
2014-11-28  18825.118547   98447.188351  248985.773770
2014-12-01  17887.498761   98447.188351  240779.248365
2014-12-02  17354.026630   98447.188351  238767.142469
2014-12-03  17742.008216   98447.188351  240741.933859
2014-12-04  17515.685965  102628.442722  242226.704816
2014-12-05  17685.425613  102628.442722  243961.235706
2014-12-08  17119.622704  102628.442722  238024.195928
2014-12-09  16731.641118  102628.442722  236762.590433
2014-12-10  16109.258326  102628.442722  232691.357384
2014-12-11  15656.613822  102628.442722  234175.496847
2014-12-12  15284.801026  102628.442722  228156.799677
2014-12-15  15106.975623  102628.442722  223265.325888
2014-12-16  15640.450473  102628.442722  223270.004798
2014-12-17  15931.435643  102628.442722  229272.689820
2014-12-18  16133.503350  102628.442722  229278.002693
2014-12-19  17434.854257  102628.442722  233552.489417
2014-12-22  17273.199003  102628.442722  235329.293166
2014-12-23  17960.246073  102628.442722  237317.960439
2014-12-26  17523.771719  102628.442722  235058.705184
2014-12-29  17871.331331  102628.442722  235311.813742
2014-12-30  17709.676077  102628.442722  233365.595381
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2014-10-20  41139.198016  30417.692728  33966.931132  30086.727528
2014-10-21  38636.747880  28724.512377  32259.094873  28374.205364
2014-10-22  37743.005304  28724.512377  32050.347312  27887.307075
2014-10-23  34305.586978  27522.371748  30598.710329  26040.461320
2014-10-24  35405.558581  27844.070853  31452.633584  27904.098701
2014-10-27  33576.841758  26963.626103  30759.995923  24378.306970
2014-10-28  35955.548421  28157.304702  32164.217074  25234.559809
2014-10-29  35006.818168  27336.126426  31234.397731  23538.833982
2014-10-30  37468.014423  29452.582509  33758.196386  24042.514478
2014-10-31  38128.007884  30883.297968  34849.332080  25654.308079
2014-11-03  37633.013797  30104.436297  34740.178271  24932.357635
2014-11-04  39530.470264  30730.220063  35404.602231  24881.985111
2014-11-05  36395.554830  29984.835513  35015.425895  24176.833359
2014-11-06  34855.572779  29451.201743  33743.528235  23605.993423
2014-11-07  35735.553292  29646.018782  34313.035950  23958.572831
2014-11-10  34374.336717  29612.138400  34218.124832  23471.672187
2014-11-11  33879.334554  29959.426839  34199.122617  23505.255440
2014-11-12  34786.814963  29646.018782  34455.398783  23689.942135
2014-11-13  34250.579110  28858.295046  33344.858481  22833.672810
2014-11-14  33659.349522  29264.866090  33506.215839  22162.090181
2014-11-17  34642.022560  28544.890214  33259.440781  21154.724479
2014-11-18  35912.784265  29891.666074  34227.613125  20902.885409
2014-11-19  38039.919378  31026.687929  35603.930700  21456.943139
2014-11-21  41202.996967  33051.087573  37948.423182  24008.943000
2014-11-24  39766.484789  32593.692728  37160.589908  23857.832493
2014-11-25  40346.627598  33516.960578  37635.173691  23757.092155
2014-11-26  39835.569696  32636.051272  37321.962644  23790.673053
2014-11-27  40249.937803  32127.813271  36771.421261  22565.039758
2014-11-28  41023.435973  32398.878915  36733.473217  21557.678767
2014-12-01  38026.112895  30704.821067  35029.004764  20684.622526
2014-12-02  37238.792090  30559.727732  34734.624211  20432.783456
2014-12-03  37294.050324  30890.266319  35029.004764  21339.415884
2014-12-04  36796.782751  30178.368570  34506.746284  20600.678524
2014-12-05  37611.724598  30424.132001  35161.935691  20449.575082
2014-12-08  35650.339959  29449.546759  33851.572256  19324.671528
2014-12-09  34752.526914  29491.921433  33984.487805  19173.570441
2014-12-10  33053.574467  29161.402202  33471.738121  18266.941545
2014-12-11  34462.461567  29729.200251  33851.572256  17847.206229
2014-12-12  32985.573807  28102.096647  32047.417783  17108.467691
2014-12-15  31395.213644  27559.687915  31363.750684  15211.255300
2014-12-16  30514.835371  27542.744498  31211.799602  15731.732132
2014-12-17  32914.566734  29110.552593  32788.068460  15899.623668
2014-12-18  33084.953020  28822.414488  32541.170377  16067.518737
2014-12-19  34575.909742  29364.803863  33044.434331  16504.044502
2014-12-22  34888.302097  29856.324273  33272.348140  17410.676931
2014-12-23  34760.498250  30227.201873  33424.263340  18317.308182
2014-12-26  34859.889576  29770.390951  32949.479642  17326.730574
2014-12-29  34504.918821  30003.117758  33044.434331  17259.568778
2014-12-30  33752.336321  29580.774366  32854.530078  16839.835817

                VALE3.SA          SELIC          saldo
Date
2014-10-20  21411.654292   96349.522017  253371.725713
2014-10-21  21597.564091   96349.522017  245941.646601
2014-10-22  21629.890789   96349.522017  244384.584874
2014-10-23  22025.954050   96349.522017  236842.606440
2014-10-24  22187.616104   96349.522017  241143.499840
2014-10-27  21387.402468   96349.522017  233415.695239
2014-10-28  21128.752158   96349.522017  238989.904180
2014-10-29  20013.306968   96349.522017  233479.005292
2014-10-30  19156.517530   98447.188351  242325.013676
2014-10-31  20207.298441   98447.188351  248169.432802
2014-11-03  20126.465374   98447.188351  245983.639725
2014-11-04  19487.920593   98447.188351  248482.386613
2014-11-05  19399.001770   98447.188351  243418.839719
2014-11-06  19116.105076   98447.188351  239219.589606
2014-11-07  19415.167840   98447.188351  241515.537047
2014-11-10  18833.202941   98447.188351  238956.663428
2014-11-11  18243.144128   98447.188351  238233.471929
2014-11-12  18202.733034   98447.188351  239228.096048
2014-11-13  18154.233466   98447.188351  235888.827263
2014-11-14  18590.714620   98447.188351  235630.424602
2014-11-17  18534.130657   98447.188351  234582.397043
2014-11-18  17806.673854   98447.188351  237188.811078
2014-11-19  17911.746505   98447.188351  242486.416001
2014-11-21  19067.608228   98447.188351  253726.247301
2014-11-24  19156.517530   98447.188351  250982.305798
2014-11-25  19366.673712   98447.188351  253069.716084
2014-11-26  18623.049479   98447.188351  250654.494495
2014-11-27  18574.545831   98447.188351  248735.946274
2014-11-28  18825.118547   98447.188351  248985.773770
2014-12-01  17887.498761   98447.188351  240779.248365
2014-12-02  17354.026630   98447.188351  238767.142469
2014-12-03  17742.008216   98447.188351  240741.933859
2014-12-04  17515.685965  102628.442722  242226.704816
2014-12-05  17685.425613  102628.442722  243961.235706
2014-12-08  17119.622704  102628.442722  238024.195928
2014-12-09  16731.641118  102628.442722  236762.590433
2014-12-10  16109.258326  102628.442722  232691.357384
2014-12-11  15656.613822  102628.442722  234175.496847
2014-12-12  15284.801026  102628.442722  228156.799677
2014-12-15  15106.975623  102628.442722  223265.325888
2014-12-16  15640.450473  102628.442722  223270.004798
2014-12-17  15931.435643  102628.442722  229272.689820
2014-12-18  16133.503350  102628.442722  229278.002693
2014-12-19  17434.854257  102628.442722  233552.489417
2014-12-22  17273.199003  102628.442722  235329.293166
2014-12-23  17960.246073  102628.442722  237317.960439
2014-12-26  17523.771719  102628.442722  235058.705184
2014-12-29  17871.331331  102628.442722  235311.813742
2014-12-30  17709.676077  102628.442722  233365.595381
28003.87144574753

In [49]:
inicio_2015 = '2015-01-01'
fim_2015 = '2015-12-31'

carteira_geral15 = carteira.loc[inicio_2015:fim_2015]
carteira_normalizada_2015 = pd.DataFrame()

for coluna in carteira_geral15.columns:
    carteira_normalizada_2015[coluna] = (carteira_geral15[coluna] / carteira_geral15[coluna].iloc[0])* valores_2014_22[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2015['saldo'] = carteira_normalizada_2015.sum(axis=1)
print(len(carteira_normalizada_2015.columns))
valores_ult_2015 = (carteira_normalizada_2015['saldo'][-1] * 0.6) / 5
valores_ult_2015_selic = carteira_normalizada_2015['saldo'][-1] * 0.4
valores_2015 = {
    'BBAS3.SA': valores_ult_2015,
    'BBDC3.SA': valores_ult_2015,
    'ITUB4.SA': valores_ult_2015,
    'PETR4.SA': valores_ult_2015,
    'VALE3.SA': valores_ult_2015,
    'SELIC': valores_ult_2015_selic
}
print(carteira_normalizada_2015)
print(valores_ult_2015)

7
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2015-01-02  28003.871446  28003.871446  28003.871446  28003.871446
2015-01-05  27422.777084  27658.698625  28144.593778  25610.374842
2015-01-06  27806.054819  28396.244138  28599.883867  24772.649457
2015-01-07  29030.073875  29650.112590  29634.619249  25939.478395
2015-01-08  29128.979551  29715.663879  30098.157169  27614.927067
...                  ...           ...           ...           ...
2015-12-22  22668.279486  21867.179955  25451.486055  20314.772393
2015-12-23  22441.602844  22127.251370  25355.792904  20733.632987
2015-12-28  22638.060504  22293.703269  25260.106453  20045.505467
2015-12-29  22366.035173  22262.501873  25279.250890  20015.585055
2015-12-30  22275.365923  21326.220865  25193.138890  20045.505467

                VALE3.SA          SELIC          saldo
Date
2015-01-02  28003.871446   93346.238152  233365.595381
2015-01-05  27582.759032   93346.238152  229765.441513
2015-01-06  28688.173029   93346.238152  231609.243462
2015-01-07  29740.947420   93346.238152  237341.469682
2015-01-08  30056.782838   93346.238152  239960.748657
...                  ...            ...            ...
2015-12-22  17405.868316  112109.815871  219817.402076
2015-12-23  18335.099512  112109.815871  221103.195488
2015-12-28  17530.690301  112109.815871  219877.881866
2015-12-29  17641.642685  112109.815871  219674.831547
2015-12-30  18071.590368  112109.815871  219021.637386

[246 rows x 7 columns]
26282.596486272356

In [50]:
#ENTRADA 10 etapa 1
inicio_2016_1 = '2016-01-01'
fim_2016_1 = '2016-12-19'

carteira_entrada_2016 = carteira.loc[inicio_2016_1:fim_2016_1]
carteira_normalizada_20161 = pd.DataFrame()

for coluna in carteira_entrada_2016.columns:
    carteira_normalizada_20161[coluna] = (carteira_entrada_2016[coluna] / carteira_entrada_2016[coluna].iloc[0])*valores_2015[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20161['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[9]
carteira_normalizada_20161['saldo'] = carteira_normalizada_20161.sum(axis=1)
print(carteira_normalizada_20161)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2016-01-04  26282.596486  26282.596486  26282.596486  26282.596486
2016-01-05  26374.891258  26487.378595  26502.226492  25555.712785
2016-01-06  26374.891258  26018.572024  26397.641240  24484.514199
2016-01-07  25747.353372  25185.128108  25895.638860  23948.921614
2016-01-08  25747.353372  25133.048288  25906.093481  23987.175544
...                  ...           ...           ...           ...
2016-12-13  52376.802993  41259.801852  39225.291078  59107.143597
2016-12-14  51103.257532  40726.265998  39141.173461  56390.907959
2016-12-15  53064.080728  40755.913057  38985.000690  56811.730704
2016-12-16  53407.747509  41289.456579  38288.208094  56467.415819
2016-12-19  52215.076187  40444.691797  37254.998708  56501.129824

                VALE3.SA         SELIC          saldo
Date
2016-01-04  26282.596486  87608.654954  219021.637386
2016-01-05  25930.508380  87608.654954  218459.372465
2016-01-06  24025.073374  87608.654954  214909.347049
2016-01-07  22595.990918  87608.654954  210981.687827
2016-01-08  21829.675870  87608.654954  210212.001509
...                  ...           ...            ...
2016-12-13  59019.755247  84701.764060  335690.558827
2016-12-14  58082.284352  84701.764060  330145.653362
2016-12-15  58811.429851  84701.764060  333129.919090
2016-12-16  57811.448111  84701.764060  331966.040171
2016-12-19  54269.843632  84701.764060  325387.504207

[241 rows x 7 columns]

In [51]:
#ENTRADA 10 etapa 2
inicio_2016_2 = '2016-12-19'
fim_2016 = '2016-12-30'

carteira_geral16 = carteira.loc[inicio_2016_2:fim_2016]
carteira_normalizada_2016 = carteira_geral16 / carteira_geral16.iloc[0]
for coluna in carteira_normalizada_2016.columns:
    if coluna != 'saldo':
        carteira_normalizada_2016[coluna] *= carteira_normalizada_20161[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação


carteira_normalizada_2016['saldo'] = carteira_normalizada_2016.sum(axis=1)


valores_ult_2016 = (carteira_normalizada_2016['saldo'][-1] * 0.6) / 5
valores_ult_2016_selic = carteira_normalizada_2016['saldo'][-1] * 0.4
valores_2016 = {
    'BBAS3.SA': valores_ult_2016,
    'BBDC3.SA': valores_ult_2016,
    'ITUB4.SA': valores_ult_2016,
    'PETR4.SA': valores_ult_2016,
    'VALE3.SA': valores_ult_2016,
    'SELIC': valores_ult_2016_selic
}
print(carteira_normalizada_2016)
print(valores_ult_2016)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2016-12-19  52215.076187  40444.691797  37254.998708  56501.129824
2016-12-20  53064.080728  40755.913057  38204.102677  56461.784087
2016-12-21  53064.080728  40014.878469  38192.089011  56422.438350
2016-12-22  52558.717201  39950.139600  38504.461392  55124.017985
2016-12-23  54054.620381  40907.752621  39591.363859  56028.980978
2016-12-26  54903.650689  41745.657782  39908.374334  56737.220805
2016-12-27  55287.718037  41850.396407  39884.000549  56697.875068
2016-12-28  55975.043009  42822.970992  40822.876800  58153.672862
2016-12-29  56783.629805  43601.026059  41274.021167  58507.790015

                VALE3.SA        SELIC          saldo
Date
2016-12-19  54269.843632  84701.76406  325387.504207
2016-12-20  55373.991377  84701.76406  328561.635986
2016-12-21  55165.652754  84701.76406  327560.903373
2016-12-22  52874.030412  84701.76406  323713.130650
2016-12-23  52478.215466  84701.76406  327762.697366
2016-12-26  54144.845088  84701.76406  332141.512757
2016-12-27  53874.018766  84701.76406  332295.772887
2016-12-28  55582.320080  84701.76406  338058.647802
2016-12-29  53499.026440  84701.76406  338367.257547
40604.070905612556

In [55]:
#ENTRADA 11 etapa 1
inicio_2017_1 = '2017-01-01'
fim_2017_1 = '2017-11-21'

carteira_entrada_2017 = carteira.loc[inicio_2017_1:fim_2017_1]
carteira_normalizada_20171 = pd.DataFrame()

for coluna in carteira_entrada_2017.columns:
    carteira_normalizada_20171[coluna] = (carteira_entrada_2017[coluna] / carteira_entrada_2017[coluna].iloc[0])*valores_2016[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20171['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[10]
carteira_normalizada_20171['saldo'] = carteira_normalizada_20171.sum(axis=1)
print(carteira_normalizada_20171)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2017-01-02  40604.070906  40604.070906  40604.070906  40604.070906
2017-01-03  42461.771469  42249.561383  42323.659933  42930.634573
2017-01-04  42240.613359  42235.480729  42505.318413  42930.634573
2017-01-05  42137.432133  42475.129847  43086.571297  43623.063913
2017-01-06  42594.475105  42799.378421  43231.894206  43373.792148
...                  ...           ...           ...           ...
2017-11-15  47110.279293  47091.526356  51214.316896  42515.181632
2017-11-16  49342.631943  48127.201769  52503.427981  43789.248974
2017-11-17  50173.969952  49319.778991  53229.330443  44370.898633
2017-11-20  50173.969952  49319.778991  53229.330443  44370.898633
2017-11-21  54151.895818  50167.156348  54293.171642  44038.520739

                VALE3.SA          SELIC          saldo
Date
2017-01-02  40604.070906  135346.903019  338367.257547
2017-01-03  42402.572908  135346.903019  347715.103285
2017-01-04  41641.036043  135346.903019  346899.986137
2017-01-05  43228.914307  135346.903019  349898.014514
2017-01-06  42078.521945  135346.903019  349424.964843
...                  ...            ...            ...
2017-11-15  53846.400977   75505.706136  317283.411290
2017-11-16  54583.101847   75505.706136  323851.318650
2017-11-17  55118.897859   75505.706136  327718.582013
2017-11-20  55118.897859   75505.706136  327718.582013
2017-11-21  57010.882678   75505.706136  335167.333361

[226 rows x 7 columns]

In [56]:
#ENTRADA 11 etapa 2
inicio_2017_2 = '2017-11-21'
fim_2017 = '2017-12-30'

carteira_geral17 = carteira.loc[inicio_2017_2:fim_2017]
carteira_normalizada_2017 = carteira_geral17 / carteira_geral17.iloc[0]
for coluna in carteira_normalizada_2017.columns:
    if coluna != 'saldo':
        carteira_normalizada_2017[coluna] *= carteira_normalizada_20171[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação


carteira_normalizada_2017['saldo'] = carteira_normalizada_2017.sum(axis=1)


valores_ult_2017 = (carteira_normalizada_2017['saldo'][-1] * 0.6) / 5
valores_ult_2017_selic = carteira_normalizada_2017['saldo'][-1] * 0.4
valores_2017 = {
    'BBAS3.SA': valores_ult_2017,
    'BBDC3.SA': valores_ult_2017,
    'ITUB4.SA': valores_ult_2017,
    'PETR4.SA': valores_ult_2017,
    'VALE3.SA': valores_ult_2017,
    'SELIC': valores_ult_2017_selic
}
print(carteira_normalizada_2017)
print(valores_ult_2017)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2017-11-21  54151.895818  50167.156348  54293.171642  44038.520739
2017-11-22  54212.255611  49586.553224  53767.514460  44620.158742
2017-11-23  54278.497517  49241.328086  53604.810931  44841.745300
2017-11-24  53980.453803  48645.034060  53104.163822  44592.473535
2017-11-27  53251.875917  48958.866561  53429.590256  43955.434036
2017-11-28  54046.669123  48723.503016  53517.205438  43872.335677
2017-11-29  51596.030983  48174.256426  52415.817643  42459.784021
2017-11-30  49559.354076  47672.133090  51652.339520  42598.268335
2017-12-01  50966.814295  47954.601837  51621.041810  43235.303949
2017-12-04  52208.704642  48264.307623  52384.776669  42875.244733
2017-12-05  51447.020757  47651.968872  52071.755968  42404.390296
2017-12-06  53003.471262  48311.391163  52622.655739  42986.028299
2017-12-07  50950.254649  47887.466001  52447.376935  42265.905982
2017-12-08  51248.311655  47887.466001  52898.125001  42515.181632
2017-12-11  50834.353745  47918.876691  53035.828146  42598.268335
2017-12-12  52108.243456  48892.330056  53461.532231  42902.937711
2017-12-13  50859.633541  48154.388262  52272.107818  42044.323310
2017-12-14  50659.877622  47683.365119  51445.782381  41573.472758
2017-12-15  50942.883729  47557.758466  51627.343980  41407.279926
2017-12-18  51625.441552  47651.968872  51614.744483  42155.110761
2017-12-19  51325.792719  47212.320314  51325.784411  41933.539744
2017-12-20  51359.084818  47651.968872  51514.248848  42210.508371
2017-12-21  51925.110324  49331.949730  53687.901726  43927.733288
2017-12-22  52108.243456  49614.552063  53436.619040  43623.063913
2017-12-25  52108.243456  49614.552063  53436.619040  43623.063913
2017-12-26  52674.272285  50200.776616  53650.200120  44232.410434
2017-12-27  53323.531362  50522.490673  53361.215827  44453.985336
2017-12-28  52973.960996  51567.986439  53499.417914  44592.473535
2017-12-29  52973.960996  51567.986439  53499.417914  44592.473535

                VALE3.SA         SELIC          saldo
Date
2017-11-21  57010.882678  75505.706136  335167.333361
2017-11-22  58166.166627  75505.706136  335858.354800
2017-11-23  58936.352497  75505.706136  336408.440467
2017-11-24  59924.226875  75505.706136  335752.058231
2017-11-27  59287.970719  75505.706136  334389.443625
2017-11-28  60694.412746  75505.706136  336359.832136
2017-11-29  59773.523799  75505.706136  329925.119008
2017-11-30  58835.902640  75505.706136  325823.703797
2017-12-01  59405.168221  75505.706136  328688.636246
2017-12-04  61665.524049  75505.706136  332904.263852
2017-12-05  60309.304380  75505.706136  329390.146408
2017-12-06  59873.978800  75505.706136  332303.231399
2017-12-07  59170.762931  70570.239798  323292.006295
2017-12-08  59405.168221  70570.239798  324524.492308
2017-12-11  59873.978800  70570.239798  324831.545515
2017-12-12  60577.194670  70570.239798  328512.477921
2017-12-13  60460.012600  70570.239798  324360.705328
2017-12-14  60677.665102  70570.239798  322610.402780
2017-12-15  61765.989338  70570.239798  323871.495236
2017-12-18  63356.593723  70570.239798  326974.099188
2017-12-19  63373.336223  70570.239798  325741.013208
2017-12-20  65549.964120  70570.239798  328856.014826
2017-12-21  66521.075423  70570.239798  335964.010289
2017-12-22  67333.181839  70570.239798  336685.900108
2017-12-25  67333.181839  70570.239798  336685.900108
2017-12-26  67434.722145  70570.239798  338762.621397
2017-12-27  67451.644672  70570.239798  339683.107667
2017-12-28  68128.530324  70570.239798  341332.609006
2017-12-29  68128.530324  70570.239798  341332.609006
40959.913080662336

In [57]:
#ENTRADA 12, 14 E 15 etapa 1
inicio_2018_1 = '2018-01-01'
fim_2018_1 = '2018-03-19'

carteira_entrada_2018 = carteira.loc[inicio_2018_1:fim_2018_1]
carteira_normalizada_20181 = pd.DataFrame()

for coluna in carteira_entrada_2018.columns:
    carteira_normalizada_20181[coluna] = (carteira_entrada_2018[coluna] / carteira_entrada_2018[coluna].iloc[0])*valores_2017[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20181['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[11]
carteira_normalizada_20181['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[13]
carteira_normalizada_20181['BBDC3.SA'].iloc[-1] += acoes_num['BBDC3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[14]
carteira_normalizada_20181['saldo'] = carteira_normalizada_20181.sum(axis=1)
print(carteira_normalizada_20181)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2018-01-02  40959.913081  40959.913081  40959.913081  40959.913081
2018-01-03  41482.327438  41134.161716  41239.947679  41331.164042
2018-01-04  41880.344301  41883.212391  42098.733637  41405.400348
2018-01-05  41880.344301  41895.909565  42220.083162  41652.889417
2018-01-08  41979.855345  41895.909565  42080.062266  42147.881442
2018-01-09  41581.821102  41578.525783  41622.671223  42147.881442
2018-01-10  41407.678016  41311.893671  41482.671912  41578.649640
2018-01-11  42353.020517  41895.909565  42350.764775  42692.360866
2018-01-12  42452.531561  41895.909565  42313.440020  42816.105400
2018-01-15  42663.988184  41997.444235  42574.788856  42939.849935
2018-01-16  43037.138459  42695.737544  42966.848086  43682.334500
2018-01-17  44057.073274  44003.392676  43676.263072  45439.527721
2018-01-18  43758.560006  44181.153114  43573.595711  45093.025666
2018-01-19  43472.481274  44435.068114  43928.312198  45192.035180
2018-01-22  43621.725493  45323.762071  45020.425545  45711.762225
2018-01-23  43808.308079  45349.142179  44852.429969  45142.530423
2018-01-24  47253.781755  48484.982465  47018.035657  47864.948371
2018-01-25  47253.781755  48484.982465  47018.035657  47864.948371
2018-01-26  48721.503853  50719.445862  49379.679954  49325.137351
2018-01-29  48447.869587  49259.418944  48250.195084  49127.153039
2018-01-30  48261.287001  49513.328249  48063.517344  48236.168089
2018-01-31  49355.878687  49932.312209  48782.257223  48755.922907
2018-02-01  49492.703269  48497.691032  49029.676280  50785.361046
2018-02-02  48821.029794  47312.963230  48413.441872  49424.136450
2018-02-05  47365.732300  46258.761694  46714.062850  47122.467277
2018-02-06  49442.935332  47605.120706  48394.770500  49473.648150
2018-02-07  49492.703269  46423.870528  47246.308465  48112.437440
2018-02-08  47937.894731  45052.097230  47012.862356  47147.212713
2018-02-09  47042.310235  44886.985548  47134.233467  46454.246791
2018-02-14  49206.604673  46233.338864  49169.751140  47642.194323
2018-02-15  49629.527850  46538.196362  49179.104814  48013.431398
2018-02-16  50127.063205  46309.550390  49444.234693  48062.929212
2018-02-19  49293.676215  46233.338864  49055.161443  49622.131177
2018-02-20  50748.978675  47351.060448  50261.368023  50587.355905
2018-02-21  51147.007952  48252.901592  50922.805858  50117.123202
2018-02-22  52739.149891  48760.919572  51204.923447  51329.830055
2018-02-23  52739.149891  48697.405220  51555.089012  52270.291990
2018-02-26  53510.339375  48595.816434  51496.765260  53260.262153
2018-02-27  52987.910120  48265.553195  50728.271032  53210.753924
2018-02-28  51992.824512  46779.508178  49006.536731  53111.765240
2018-03-01  52365.979753  47135.151525  49731.442839  52047.551827
2018-03-02  53110.204570  47703.462570  49994.165946  53235.513246
2018-03-05  53550.696991  48351.545362  50704.440750  54745.213925
2018-03-06  54733.730799  48859.848160  50519.590574  54200.727559
2018-03-07  54356.141037  47334.956854  50451.477842  53631.506171
2018-03-08  54645.636287  46572.511201  50101.204350  53705.766778
2018-03-09  55010.617708  47652.631150  50792.041501  55413.451770
2018-03-12  54721.127424  48224.499568  51366.123220  55264.961800
2018-03-13  54131.703633  47538.279683  50947.736996  54720.475433
2018-03-14  53664.311102  47271.445350  49809.279794  55388.692448
2018-03-15  53550.607605  46204.016879  50042.805048  52740.535107
2018-03-16  53563.225877  46420.028337  49838.463255  53037.521990
2018-03-19  57058.563494  48297.879786  48768.143968  51878.273173

                VALE3.SA          SELIC          saldo
Date
2018-01-02  40959.913081  136533.043602  341332.609006
2018-01-03  40714.462157  136533.043602  342435.106634
2018-01-04  40881.356848  136533.043602  344682.091128
2018-01-05  41519.520297  136533.043602  345701.790345
2018-01-08  42442.400848  136533.043602  347079.153068
2018-01-09  42285.321210  136533.043602  345749.264362
2018-01-10  41696.244962  136533.043602  344010.181804
2018-01-11  42511.121139  136533.043602  348336.220464
2018-01-12  42756.566094  136533.043602  348767.596243
2018-01-15  42678.024782  136533.043602  349387.139595
2018-01-16  41529.338334  136533.043602  350444.440526
2018-01-17  42363.856553  136533.043602  356073.156898
2018-01-18  42079.139450  136533.043602  355218.517550
2018-01-19  42098.775524  136533.043602  355659.715892
2018-01-22  41872.972611  136533.043602  358083.691548
2018-01-23  40184.303083  136533.043602  355869.757336
2018-01-24  41018.812350  136533.043602  368173.604201
2018-01-25  41018.812350  136533.043602  368173.604201
2018-01-26  40675.192994  136533.043602  375354.003616
2018-01-29  41126.816724  136533.043602  372744.496981
2018-01-30  40714.462157  136533.043602  371321.806441
2018-01-31  40694.838020  136533.043602  374054.252647
2018-02-01  41028.627402  136533.043602  375367.102632
2018-02-02  40056.662635  136533.043602  370561.277582
2018-02-05  39614.868877  136533.043602  363608.936601
2018-02-06  41696.244962  136533.043602  373145.763252
2018-02-07  40950.086091  136533.043602  368758.449395
2018-02-08  40832.275616  131743.224581  359725.567227
2018-02-09  41234.803194  131743.224581  358495.803815
2018-02-14  43699.076751  131743.224581  367694.190331
2018-02-15  45112.829307  131743.224581  370216.314312
2018-02-16  45191.382555  131743.224581  370878.384636
2018-02-19  45603.737123  131743.224581  371551.269403
2018-02-20  44680.850603  131743.224581  375372.838235
2018-02-21  43983.793854  131743.224581  376166.857038
2018-02-22  44837.948147  131743.224581  380615.995693
2018-02-23  45240.466772  131743.224581  382245.627465
2018-02-26  46536.420790  131743.224581  385142.828593
2018-02-27  46467.697516  131743.224581  383403.410368
2018-02-28  44229.244777  131743.224581  376863.104018
2018-03-01  43640.165545  131743.224581  376663.516070
2018-03-02  42952.917880  131743.224581  378739.488791
2018-03-05  42903.833664  131743.224581  381998.955272
2018-03-06  42697.660856  131743.224581  382754.782528
2018-03-07  42547.235997  131743.224581  380064.542482
2018-03-08  41167.055755  131743.224581  377935.398953
2018-03-09  41802.539387  131743.224581  382414.506097
2018-03-12  42159.999489  131743.224581  383479.936082
2018-03-13  41832.327729  131743.224581  380913.748055
2018-03-14  42299.003793  131743.224581  380175.957068
2018-03-15  42100.425790  131743.224581  376381.615010
2018-03-16  42001.120375  131743.224581  376603.584416
2018-03-19  40809.598637  131743.224581  378555.683638

In [58]:
#ENTRADA 12, 14 E 15 etapa 2
inicio_2018_2 = '2018-03-19'
fim_2018 = '2018-06-18'

carteira_geral18 = carteira.loc[inicio_2018_2:fim_2018]
carteira_normalizada_2018 = carteira_geral18 / carteira_geral18.iloc[0]
for coluna in carteira_normalizada_2018.columns:
    if coluna != 'saldo':
        carteira_normalizada_2018[coluna] *= carteira_normalizada_20181[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2018['saldo'] = carteira_normalizada_2018.sum(axis=1)
valores_ult_2018 = (carteira_normalizada_2018['saldo'][-1] * 0.6) / 5
valores_ult_2018_selic = carteira_normalizada_2018['saldo'][-1] * 0.4
valores_2018 = {
    'BBAS3.SA': valores_ult_2018,
    'BBDC3.SA': valores_ult_2018,
    'ITUB4.SA': valores_ult_2018,
    'PETR4.SA': valores_ult_2018,
    'VALE3.SA': valores_ult_2018,
    'SELIC': valores_ult_2018_selic
}
print(carteira_normalizada_2018)
print(valores_ult_2018)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2018-03-19  57058.563494  48297.879786  48768.143968  51878.273173
2018-03-20  57279.074583  48218.121895  48923.825073  52448.346932
2018-03-21  58230.037458  48656.830520  48729.211100  54654.352698
2018-03-22  57182.612494  49388.018513  48573.529996  53836.405817
2018-03-23  56782.921924  49986.222061  48807.048055  53910.768101
...                  ...           ...           ...           ...
2018-06-12  37928.641410  35756.761222  38840.665638  38396.649730
2018-06-13  37240.052166  35126.868461  38460.827342  37676.405045
2018-06-14  35553.712818  33325.124392  37097.309960  37502.556956
2018-06-15  35132.118500  34174.723071  37457.674627  37179.678338
2018-06-18  34457.593597  33251.871208  36697.998035  36012.383788

                VALE3.SA          SELIC          saldo
Date
2018-03-19  40809.598637  131743.224581  378555.683638
2018-03-20  41306.074980  131743.224581  379918.668044
2018-03-21  42199.710315  131743.224581  384213.366672
2018-03-22  41633.746741  126937.937898  377552.251459
2018-03-23  41306.074980  126937.937898  377730.973019
...                  ...            ...            ...
2018-06-12  51334.719259  126937.937898  329195.375157
2018-06-13  51185.771581  126937.937898  326627.862493
2018-06-14  51344.638759  126937.937898  321761.280783
2018-06-15  48782.868216  126937.937898  319665.000650
2018-06-18  48862.298821  126937.937898  316220.083347

[63 rows x 7 columns]
37946.410001594704

In [59]:
#ENTRADA 13 - Dupla Entrada mesmo ano
inicio_2018_22 = '2018-06-18'
fim_2018_22 = '2018-12-31'
carteira_geral182 = carteira.loc[inicio_2018_22:fim_2018_22]
carteira_normalizada_2018_22 = carteira_geral182 / carteira_geral182.iloc[0]
for coluna in carteira_normalizada_2018.columns:
    if coluna == 'VALE3.SA':
        carteira_normalizada_2018_22[coluna] *= carteira_normalizada_2018[coluna].iloc[-1] + acoes_num['VALE3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[12]
    elif coluna != 'saldo':
        carteira_normalizada_2018_22[coluna] *= carteira_normalizada_2018[coluna].iloc[-1]
carteira_normalizada_2018_22['saldo'] = carteira_normalizada_2018_22.sum(axis=1)
valores_ult_2018_22 = (carteira_normalizada_2018_22['saldo'][-1] * 0.6) / 5
valores_ult_2018_22_selic = carteira_normalizada_2018_22['saldo'][-1] * 0.4
valores_2018_22 = {
    'BBAS3.SA': valores_ult_2018_22,
    'BBDC3.SA': valores_ult_2018_22,
    'ITUB4.SA': valores_ult_2018_22,
    'PETR4.SA': valores_ult_2018_22,
    'VALE3.SA': valores_ult_2018_22,
    'SELIC': valores_ult_2018_22_selic
}
print(valores_ult_2018_22)
print(carteira_normalizada_2018_22)

49298.214807956756
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2018-06-18  34457.593597  33251.871208  36697.998035  36012.383788
2018-06-19  36874.685412  34716.714395  38353.695401  38297.309952
2018-06-20  37942.697624  34936.450110  39064.668133  40259.367929
2018-06-21  36551.465630  33852.464483  38022.553770  37502.556956
2018-06-22  36677.936341  34570.234844  38314.740948  37527.388423
...                  ...           ...           ...           ...
2018-12-20  65110.187141  49607.718472  51476.212361  53719.765369
2018-12-21  65124.961200  49252.295714  51238.441977  53869.765931
2018-12-26  65553.322221  49076.731216  50123.915789  56058.738742
2018-12-27  66646.380443  50315.783918  50970.970082  56032.885088
2018-12-28  68670.009331  51146.795167  52754.186800  58644.493515

                VALE3.SA          SELIC          saldo
Date
2018-06-18  49392.908821  126937.937898  316750.693347
2018-06-19  48479.526936  126937.937898  323659.869995
2018-06-20  48991.430930  126937.937898  328132.552624
2018-06-21  47385.480152  126937.937898  320252.458889
2018-06-22  48188.454033  126937.937898  322216.692487
...                  ...            ...            ...
2018-12-20  51436.174841  126937.937898  398287.996082
2018-12-21  52520.459869  126937.937898  398943.862589
2018-12-26  52086.743445  126937.937898  399837.389311
2018-12-27  51116.045930  126937.937898  402020.003360
2018-12-28  52665.034021  126937.937898  410818.456733

[132 rows x 7 columns]

In [60]:
#ENTRADA 16 etapa 1
inicio_2019_1 = '2019-01-01'
fim_2019_1 = '2019-03-18'

carteira_entrada_2019 = carteira.loc[inicio_2019_1:fim_2019_1]
carteira_normalizada_20191 = pd.DataFrame()

for coluna in carteira_entrada_2019.columns:
    carteira_normalizada_20191[coluna] = (carteira_entrada_2019[coluna] / carteira_entrada_2019[coluna].iloc[0])*valores_2018_22[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20191['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[15]
carteira_normalizada_20191['saldo'] = carteira_normalizada_20191.sum(axis=1)
print(carteira_normalizada_20191)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2019-01-02  49298.214808  49298.214808  49298.214808  49298.214808
2019-01-03  49501.086635  50328.586586  50110.972299  50507.116041
2019-01-04  49501.086635  49225.474113  49271.547200  50650.539958
2019-01-07  49176.502129  49639.120907  49364.827403  51449.634170
2019-01-08  48618.586003  50190.720629  49991.037385  51142.288547
2019-01-09  48486.708898  51238.622577  50750.524146  52207.765863
2019-01-10  49196.771454  51390.306114  50404.099960  51756.985303
2019-01-11  49399.665603  51183.477282  50097.640107  51203.759875
2019-01-14  50545.864637  51238.622577  50470.683537  50916.906532
2019-01-15  49957.555686  51431.655573  49684.587205  50875.932993
2019-01-16  49480.813590  51707.441845  49538.020151  50855.446224
2019-01-17  49663.378888  51914.259806  49538.020151  51552.073527
2019-01-18  49247.500572  52534.789789  50177.588118  52043.833137
2019-01-21  48983.761244  51624.710312  49764.509423  52310.205221
2019-01-22  48892.467434  51583.333674  49684.587205  51490.613219
2019-01-23  49906.822847  52562.321669  50017.695320  52105.320996
2019-01-24  49653.229343  53334.513446  49951.060156  52330.697500
2019-01-28  49014.191274  54589.309456  50843.778555  50752.995846
2019-01-29  50647.319153  53100.103812  50470.683537  51982.367318
2019-01-30  51306.656311  53527.530135  50790.478806  52494.608187
2019-01-31  52605.042700  55513.141284  51669.829547  52412.655599
2019-02-01  52858.636204  54851.245534  51729.829246  52863.425138
2019-02-04  53862.853235  56047.596771  52902.794507  53334.686958
2019-02-05  55435.150818  56006.214697  50650.173206  53437.137336
2019-02-06  52057.283558  53343.851999  48517.541631  52228.263653
2019-02-07  52402.182034  54116.353611  48690.811760  51408.666141
2019-02-08  52473.154433  55523.387600  49730.477673  51490.613219
2019-02-11  50921.211746  54447.426507  49170.661038  50896.414252
2019-02-12  54055.590399  55619.958455  50343.594057  52699.497922
2019-02-13  52828.206174  55150.932631  49197.328646  53375.666007
2019-02-14  55526.429746  57026.992444  50503.557788  55219.745256
2019-02-15  55597.435630  56268.319283  49983.728056  54994.357731
2019-02-18  55049.676489  54971.613935  49183.960988  54830.436024
2019-02-19  55282.959743  55868.278076  50316.910328  56100.797566
2019-02-20  53720.845188  54792.289804  49677.155355  55404.164752
2019-02-21  53964.307751  55454.419289  50583.550938  56141.782125
2019-02-22  55078.287190  55344.068905  50255.466174  55588.551187
2019-02-25  54175.692098  54957.812663  49487.783420  54707.504387
2019-02-26  54466.193036  55192.320140  49665.993070  54461.635603
2019-02-27  53843.714945  54833.671878  49227.339781  55486.106320
2019-02-28  52495.031017  53150.726596  48295.179374  55445.121760
2019-03-01  53231.617069  51591.911228  47780.859851  54707.504387
2019-03-06  52526.175384  51201.703223  47794.575726  54830.436024
2019-03-07  52318.671525  51670.930169  48452.866798  54850.939324
2019-03-08  54154.961431  52167.770531  49028.898087  54646.027548
2019-03-11  55814.884405  54293.117522  50633.465245  56858.918239
2019-03-12  55660.706578  54886.561353  50743.172901  56346.682881
2019-03-13  56516.393514  54858.969680  51291.749869  57576.048843
2019-03-14  56088.542605  54665.735563  50482.590619  57760.473849
2019-03-15  56568.543866  54927.970606  50468.900538  57883.410996
2019-03-18  58010.161560  55328.196627  50551.173219  58887.405964

                VALE3.SA          SELIC          saldo
Date
2019-01-02  49298.214808  164327.382693  410818.456733
2019-01-03  47281.525981  164327.382693  412056.670236
2019-01-04  50359.641255  164327.382693  413335.671854
2019-01-07  50089.460285  164327.382693  414046.927587
2019-01-08  50571.918652  164327.382693  414841.933909
2019-01-09  51807.027630  164327.382693  418818.031808
2019-01-10  51237.716723  164327.382693  418313.262247
2019-01-11  50542.975322  164327.382693  416754.900883
2019-01-14  50755.258356  164327.382693  418254.718333
2019-01-15  50514.026354  164327.382693  416791.140505
2019-01-16  50803.510394  164327.382693  416712.614897
2019-01-17  52328.103413  164327.382693  419323.218478
2019-01-18  52839.516385  164327.382693  421170.610694
2019-01-21  53341.266547  164327.382693  420351.835440
2019-01-22  53148.286583  164327.382693  419126.670808
2019-01-23  53698.294420  164327.382693  422617.837946
2019-01-24  54180.758424  164327.382693  423777.641563
2019-01-28  40874.383708  164327.382693  410402.041532
2019-01-29  41241.063117  164327.382693  411768.919631
2019-01-30  44965.681848  164327.382693  417412.337979
2019-01-31  43904.263857  164327.382693  420432.315679
2019-02-01  44627.968320  164327.382693  421258.487135
2019-02-04  43113.024017  164327.382693  423588.338180
2019-02-05  42958.633281  164327.382693  422814.692031
2019-02-06  40970.879328  164327.382693  411445.202863
2019-02-07  40131.387451  164327.382693  411076.783691
2019-02-08  41646.328934  164327.382693  415191.344553
2019-02-11  40546.307622  164327.382693  410309.403859
2019-02-12  42746.347428  164327.382693  419792.370954
2019-02-13  43894.615141  164327.382693  418774.131291
2019-02-14  44058.654593  164327.382693  426662.762521
2019-02-15  44270.931990  164327.382693  425442.155382
2019-02-18  43663.017761  164327.382693  422026.087890
2019-02-19  43894.615141  164327.382693  425790.943546
2019-02-20  44193.742260  164327.382693  422115.580052
2019-02-21  43788.476442  164327.382693  424259.919239
2019-02-22  45342.009972  164327.382693  425935.766122
2019-02-25  45467.457379  164327.382693  423123.632641
2019-02-26  45544.644291  164327.382693  423658.168832
2019-02-27  45187.622055  164327.382693  422905.837671
2019-02-28  45448.145852  164327.382693  419161.587292
2019-03-01  45100.780789  164327.382693  416740.056017
2019-03-06  46364.830279  164327.382693  417045.103330
2019-03-07  47146.429859  164327.382693  418767.220369
2019-03-08  47136.767048  164327.382693  421461.807339
2019-03-11  48130.649662  164327.382693  430058.417767
2019-03-12  48217.496566  164327.382693  430182.002972
2019-03-13  48921.889502  164327.382693  433492.434101
2019-03-14  48931.541037  164327.382693  432256.266367
2019-03-15  48777.155938  164327.382693  432953.364637
2019-03-18  48690.314673  164327.382693  435794.634735

In [61]:
#ENTRADA 16 etapa 2
inicio_2019_2 = '2019-03-18'
fim_2019 = '2019-12-30'

carteira_geral19 = carteira.loc[inicio_2019_2:fim_2019]
carteira_normalizada_2019 = carteira_geral19 / carteira_geral19.iloc[0]
for coluna in carteira_normalizada_2019.columns:
    if coluna != 'saldo':
        carteira_normalizada_2019[coluna] *= carteira_normalizada_20191[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2019['saldo'] = carteira_normalizada_2019.sum(axis=1)

valores_ult_2019 = (carteira_normalizada_2019['saldo'][-1] * 0.6) / 5
valores_ult_2019_selic = carteira_normalizada_2019['saldo'][-1] * 0.4
valores_2019 = {
    'BBAS3.SA': valores_ult_2019,
    'BBDC3.SA': valores_ult_2019,
    'ITUB4.SA': valores_ult_2019,
    'PETR4.SA': valores_ult_2019,
    'VALE3.SA': valores_ult_2019,
    'SELIC': valores_ult_2019_selic
}
print(carteira_normalizada_2019)
print(valores_ult_2019)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2019-03-18  58010.161560  55328.196627  50551.173219  58887.405964
2019-03-19  56770.181766  54237.939612  49371.714359  59829.924093
2019-03-20  55497.847520  53216.645472  48260.889686  59358.656763
2019-03-21  54333.306347  51546.740463  47410.582810  58518.589012
2019-03-22  51378.886547  50180.441698  46011.711863  55322.179103
...                  ...           ...           ...           ...
2019-12-20  59374.757511  58262.497113  51104.135140  63186.822879
2019-12-23  61165.535727  59434.056068  51580.154033  63687.977309
2019-12-26  61863.236284  60063.533233  52364.190082  64544.118192
2019-12-27  61595.758454  59678.858783  52224.200457  64611.733348
2019-12-30  61421.338121  59573.927803  51944.179291  63891.941337

                VALE3.SA          SELIC          saldo
Date
2019-03-18  48690.314673  164327.382693  435794.634735
2019-03-19  50079.814388  164327.382693  434616.956910
2019-03-20  48786.801836  164327.382693  429448.223971
2019-03-21  49105.229206  164327.382693  425241.830532
2019-03-22  48294.691934  164327.382693  415515.293839
...                  ...            ...            ...
2019-12-20  52868.454078  114061.358361  398858.025082
2019-12-23  52665.816941  114061.358361  402594.898439
2019-12-26  52868.454078  114061.358361  405764.890229
2019-12-27  53090.676164  114061.358361  405262.585566
2019-12-30  52793.530654  114061.358361  403686.275567

[198 rows x 7 columns]
48442.35306806018

In [62]:
inicio_2020 = '2020-01-01'
fim_2020 = '2020-12-31'

carteira_geral20 = carteira.loc[inicio_2020:fim_2020]
carteira_normalizada_2020 = pd.DataFrame()
for coluna in carteira_geral20.columns:
    carteira_normalizada_2020[coluna] = (carteira_geral20[coluna] / carteira_geral20[coluna].iloc[0])* valores_2019[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2020['saldo'] = carteira_normalizada_2020.sum(axis=1)
print(len(carteira_normalizada_2020.columns))
valores_ult_2020 = (carteira_normalizada_2020['saldo'][-1] * 0.6) / 5
valores_ult_2020_selic = carteira_normalizada_2020['saldo'][-1] * 0.4
valores_2020 = {
    'BBAS3.SA': valores_ult_2020,
    'BBDC3.SA': valores_ult_2020,
    'ITUB4.SA': valores_ult_2020,
    'PETR4.SA': valores_ult_2020,
    'VALE3.SA': valores_ult_2020,
    'SELIC': valores_ult_2020_selic
}
print(carteira_normalizada_2020)
print(valores_ult_2020)

7
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2020-01-02  48442.353068  48442.353068  48442.353068  48442.353068
2020-01-03  48361.306602  47686.438926  47932.807087  48047.884462
2020-01-06  47722.011152  47412.941263  47219.473794  48615.926976
2020-01-07  47361.853590  46606.083853  46124.031596  48426.582209
2020-01-08  46929.642487  45894.938939  45372.492397  48126.771612
...                  ...           ...           ...           ...
2020-12-22  37324.856383  37013.843285  40815.298971  43046.711040
2020-12-23  37938.965094  37804.936284  41716.509733  44103.945879
2020-12-28  38358.125889  38124.409939  42016.902569  44466.872767
2020-12-29  38133.933849  38120.572940  41925.466423  44608.888529
2020-12-30  37822.000512  37379.182453  41311.597501  44719.342039

                VALE3.SA          SELIC          saldo
Date
2020-01-02  48442.353068  161474.510227  403686.275567
2020-01-03  48085.706662  161474.510227  401588.653967
2020-01-06  47800.382433  161474.510227  400245.245845
2020-01-07  48148.117373  161474.510227  398141.178848
2020-01-08  48157.033913  161474.510227  395955.389576
...                  ...            ...            ...
2020-12-22  80758.931561   70574.821048  309534.462287
2020-12-23  81149.082236   70574.821048  313288.260274
2020-12-28  81102.611682   70574.821048  314643.743893
2020-12-29  80879.693088   70574.821048  314243.375878
2020-12-30  81232.675440   70574.821048  313039.618992

[248 rows x 7 columns]
37564.75427909216

In [63]:
#ENTRADA 17 etapa 1
inicio_2021_1 = '2021-01-01'
fim_2021_1 = '2021-02-22'

carteira_entrada_2021 = carteira.loc[inicio_2021_1:fim_2021_1]
carteira_normalizada_20211 = pd.DataFrame()

for coluna in carteira_entrada_2021.columns:
    carteira_normalizada_20211[coluna] = (carteira_entrada_2021[coluna] / carteira_entrada_2021[coluna].iloc[0])*valores_2020[coluna]
carteira_normalizada_20211['VALE3.SA'].iloc[-1] += acoes_num['VALE3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[16]
carteira_normalizada_20211['saldo'] = carteira_normalizada_20211.sum(axis=1)
print(carteira_normalizada_20211)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2021-01-04  37564.754279  37564.754279  37564.754279  37564.754279
2021-01-05  37175.011995  37385.143462  37321.613383  39033.040739
2021-01-06  38024.454376  38324.975958  38415.740597  39111.000338
2021-01-07  39533.436208  39264.760288  39911.022601  40280.431522
2021-01-08  39763.280153  38962.113127  39898.869785  40436.357484
2021-01-11  39113.719851  38372.740228  38999.269473  40098.522410
2021-01-12  39473.478908  38388.657272  39120.841285  39799.667135
2021-01-13  37524.782746  37671.873579  38476.518319  37876.602820
2021-01-14  37434.848322  38866.536421  39619.267711  38266.414343
2021-01-15  36275.621982  37432.947140  38123.969339  36538.252408
2021-01-18  35905.865465  37592.227054  37929.458804  36473.282693
2021-01-19  35296.279748  36891.338510  37479.654556  37278.892271
2021-01-20  34506.806874  36158.624636  36859.650863  36655.191806
2021-01-21  34157.045279  35505.541961  36361.224437  35797.605781
2021-01-22  33667.371110  34916.162494  35583.179570  35199.905377
2021-01-26  32767.981097  34167.516250  34402.138576  35082.955833
2021-01-27  33727.331461  34454.233230  34402.138576  35602.703402
2021-01-28  34516.810439  35521.448059  35790.396686  36070.484668
2021-01-29  33837.257755  34470.152464  34511.740342  34680.154426
2021-02-01  34266.968521  35202.888232  35431.633538  35771.622630
2021-02-02  34037.133731  35134.738323  34676.219371  37239.909089
2021-02-03  34306.952261  35357.896597  34505.646202  37603.740842
2021-02-04  34167.042739  36441.919562  34359.435952  37447.811499
2021-02-05  33937.189639  36202.804834  34213.220247  37473.808177
2021-02-08  33847.252164  35549.198889  33579.647954  36525.255759
2021-02-09  34256.980215  35883.988846  33981.727505  35784.622660
2021-02-10  33787.294864  35533.273087  33738.038299  36122.454352
2021-02-11  33917.206925  35628.919854  33738.038299  36486.275960
2021-02-12  33727.331461  35708.618925  33823.328976  36954.057227
2021-02-17  33337.604436  35341.975174  34249.776901  38448.323455
2021-02-18  33237.663396  34862.723262  34006.087696  38032.528782
2021-02-19  32608.085810  34735.084769  33652.758535  35511.750536
2021-02-22  28810.640628  32756.598357  31203.724577  28157.321590

                VALE3.SA          SELIC          saldo
Date
2021-01-04  37564.754279  125215.847597  313039.618992
2021-01-05  38197.273129  125215.847597  314327.930304
2021-01-06  39449.978368  125215.847597  318541.997234
2021-01-07  42025.214454  125215.847597  326230.712671
2021-01-08  41893.784880  125215.847597  326170.253025
2021-01-11  41885.563239  125215.847597  323685.662798
2021-01-12  40739.649578  125215.847597  322738.141775
2021-01-13  39519.799488  125215.847597  316285.424549
2021-01-14  40168.748157  125215.847597  319571.662551
2021-01-15  38423.161820  125215.847597  312009.800286
2021-01-18  38735.305937  125215.847597  311851.987549
2021-01-19  38632.638643  125215.847597  310794.651326
2021-01-20  37917.970699  125215.847597  307314.092475
2021-01-21  38345.128035  125215.847597  305382.393089
2021-01-22  38267.089761  125215.847597  302849.555909
2021-01-26  37683.869343  125215.847597  299320.308696
2021-01-27  36636.525618  125215.847597  300038.779885
2021-01-28  37416.894886  125215.847597  304531.882335
2021-01-29  36123.117344  125215.847597  298838.269927
2021-02-01  37486.713762  125215.847597  303375.674280
2021-02-02  36004.009012  125215.847597  302307.857123
2021-02-03  37141.705520  125215.847597  304131.789019
2021-02-04  36673.489345  125215.847597  304305.546694
2021-02-05  38069.945400  125215.847597  305112.815895
2021-02-08  38612.106979  125215.847597  303329.309342
2021-02-09  38710.667940  125215.847597  303833.834763
2021-02-10  38895.497791  125215.847597  303292.405991
2021-02-11  38238.340945  125215.847597  303224.629579
2021-02-12  38562.822011  125215.847597  303992.006196
2021-02-17  39573.195277  125215.847597  306166.722841
2021-02-18  40004.445482  125215.847597  305359.296215
2021-02-19  40156.415696  125215.847597  301879.942942
2021-02-22  40408.247760  125215.847597  286552.380510

In [64]:
#ENTRADA 17 etapa 2
inicio_2021_2 = '2021-02-22'
fim_2021 = '2021-07-16'

carteira_geral21 = carteira.loc[inicio_2021_2:fim_2021]
carteira_normalizada_2021 = carteira_geral21 / carteira_geral21.iloc[0]
for coluna in carteira_normalizada_2021.columns:
    if coluna != 'saldo':
        carteira_normalizada_2021[coluna] *= carteira_normalizada_20211[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2021['saldo'] = carteira_normalizada_2021.sum(axis=1)

print(carteira_normalizada_2021)

                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2021-02-22  28810.640628  32756.598357  31203.724577  28157.321590
2021-02-23  31357.722665  34256.413051  33201.931323  31262.813737
2021-02-24  31234.063596  34033.042404  32714.580191  31704.598325
2021-02-25  30358.144423  33155.489996  31691.089348  30132.362352
2021-02-26  28905.161799  32852.328322  31307.537728  28897.964835
...                  ...           ...           ...           ...
2021-07-12  35129.179331  38208.223235  36682.304306  37244.166904
2021-07-13  34978.326313  38334.386062  36904.702213  37472.489236
2021-07-14  35215.384543  38821.000976  36954.104572  37163.576185
2021-07-15  34676.601968  38640.781501  36509.325125  36371.145879
2021-07-16  34256.333248  37973.942734  35916.292228  35833.910496

                VALE3.SA          SELIC          saldo
Date
2021-02-22  40408.247760  125215.847597  286552.380510
2021-02-23  41086.304503  125215.847597  296381.032877
2021-02-24  41501.623577  125215.847597  296403.755690
2021-02-25  40560.810643  125215.847597  291113.744359
2021-02-26  40056.501570  125215.847597  287235.341851
...                  ...            ...            ...
2021-07-12  51968.640364  270532.619182  469765.133321
2021-07-13  52275.752638  270532.619182  470498.275645
2021-07-14  51991.218948  270532.619182  470677.904406
2021-07-15  52153.806982  270532.619182  468884.280637
2021-07-16  51214.424889  270532.619182  465727.522778

[101 rows x 7 columns]

In [65]:
#ENTRADA 18 e 19 - Dupla entrada mesmo ano
inicio_2021_22 = '2021-10-20'
fim_2021_22 = '2021-12-31'
carteira_geral21 = carteira.loc[inicio_2021_22:fim_2021_22]
carteira_normalizada_2021_22 = carteira_geral21 / carteira_geral21.iloc[0]
for coluna in carteira_normalizada_2021.columns:
    if coluna == 'ITUB4.SA':
        carteira_normalizada_2021_22[coluna] *= carteira_normalizada_2021[coluna].iloc[-1] + acoes_num['ITUB4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[17]
    elif coluna == 'BBAS3.SA':
        carteira_normalizada_2021_22[coluna] *= carteira_normalizada_2021[coluna].iloc[-1] + acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[18]
    elif coluna != 'saldo':
        carteira_normalizada_2021_22[coluna] *= carteira_normalizada_2021[coluna].iloc[-1]
carteira_normalizada_2021_22['saldo'] = carteira_normalizada_2021_22.sum(axis=1)
valores_ult_2021_22 = (carteira_normalizada_2021_22['saldo'][-1] * 0.6) / 5
valores_ult_2021_22_selic = carteira_normalizada_2021_22['saldo'][-1] * 0.4
valores_2021_22 = {
    'BBAS3.SA': valores_ult_2021_22,
    'BBDC3.SA': valores_ult_2021_22,
    'ITUB4.SA': valores_ult_2021_22,
    'PETR4.SA': valores_ult_2021_22,
    'VALE3.SA': valores_ult_2021_22,
    'SELIC': valores_ult_2021_22_selic
}
print(valores_ult_2021_22)
print(carteira_normalizada_2021_22)

70405.07674992217
                BBAS3.SA      BBDC3.SA      ITUB4.SA      PETR4.SA  \
Date
2021-10-20  34426.283248  37973.942734  36259.392228  35833.910496
2021-10-21  32903.580253  36887.791262  35519.409185  34513.705427
2021-10-22  31899.481907  35678.703139  34155.508683  34174.224124
2021-10-25  32561.529178  36252.504348  34822.945556  36512.864139
2021-10-26  32219.472075  35412.295702  34445.680609  36160.812442
2021-10-27  32186.367149  36006.598767  34706.864034  36072.798771
2021-10-28  31899.481907  35658.206249  34634.333804  36412.277086
2021-10-29  31447.087109  34838.482078  33821.772713  34136.509955
2021-11-01  32164.306241  35965.600019  35168.795933  35205.238428
2021-11-03  32373.946656  35877.914047  35502.761440  33759.311495
2021-11-04  31612.596666  33929.135222  33629.596775  32690.574058
2021-11-05  32318.780823  35303.534308  33223.040467  32501.982298
2021-11-08  32528.421238  34606.076388  33048.784288  32841.463601
2021-11-09  32484.290380  34339.398307  32714.815593  33495.273469
2021-11-10  33973.891464  35959.963685  33542.484625  33231.232455
2021-11-11  33322.879169  36308.693886  33469.884260  33256.379218
2021-11-12  33267.713335  36431.764617  33397.271143  33935.332861
2021-11-16  32804.277533  36349.719946  33048.784288  34287.390534
2021-11-17  32340.850773  36472.800609  33179.463670  33419.833179
2021-11-18  32098.099404  36021.511465  32627.681128  33369.539653
2021-11-19  32053.953475  36083.046831  32351.801014  32816.313850
2021-11-22  31877.411957  35611.238449  32431.953756  33143.221772
2021-11-23  33672.854568  36493.317364  32975.670654  34953.770795
2021-11-24  34296.633593  37149.741775  33857.373129  35670.453547
2021-11-25  36077.249369  37293.326778  34165.974893  37242.114296
2021-11-26  34886.394391  35980.472990  33519.387552  35796.184375
2021-11-29  34943.100479  35775.340207  33298.965919  37053.519548
2021-11-30  36111.273624  34913.778046  32887.509652  37003.226022
2021-12-01  35498.827979  34729.166983  32678.144008  37216.973509
2021-12-02  36474.201028  36468.922215  33913.520217  40056.651427
2021-12-03  36519.564693  36571.595375  33795.863822  40621.619955
2021-12-06  37506.271121  37002.824630  34192.935825  40805.233756
2021-12-07  36973.219425  36509.992969  33766.444941  41469.086194
2021-12-08  37143.343718  36407.324775  33442.910577  41454.956079
2021-12-09  36315.407102  35319.005674  32545.797301  41370.214236
2021-12-10  36859.804235  35319.005674  32589.919246  41878.692187
2021-12-13  36553.585934  34744.037471  31722.221663  41624.451717
2021-12-14  36759.952931  35216.334997  32031.065715  41130.100894
2021-12-15  36129.322636  35195.805828  31928.121948  41384.344351
2021-12-16  36014.671625  35565.422746  32251.659501  41935.194717
2021-12-17  34776.343045  34579.769355  31545.746634  40946.484105
2021-12-20  33732.936556  33922.667094  31060.421177  39774.162681
2021-12-21  33824.658571  33769.239610  31104.539935  39830.659235
2021-12-22  33629.739494  33852.468657  31222.196330  39774.162681
2021-12-23  33503.613435  33810.846685  31383.977858  40014.267059
2021-12-27  33572.412481  34164.560201  31707.515411  40607.501793
2021-12-28  33377.490390  34143.747973  31589.855827  40649.877196
2021-12-29  33205.491267  33894.070765  31325.152848  40310.885920
2021-12-30  33079.368222  33686.005598  30810.408511  40183.774649

                VALE3.SA          SELIC          saldo
Date
2021-10-20  51214.424889  270532.619182  466240.572778
2021-10-21  50205.756961  270532.619182  460562.862272
2021-10-22  50820.315194  270532.619182  457260.852230
2021-10-25  51434.854814  270532.619182  462117.317217
2021-10-26  50887.099356  270532.619182  459657.979365
2021-10-27  49731.489520  270532.619182  459236.737422
2021-10-28  49230.496625  334136.965711  521971.761383
2021-10-29  47834.413550  334136.965711  516215.231116
2021-11-01  48308.687196  334136.965711  520949.593528
2021-11-03  44641.446259  334136.965711  516292.345608
2021-11-04  44133.777430  334136.965711  510132.645862
2021-11-05  42824.524933  334136.965711  510308.828540
2021-11-08  45155.794124  334136.965711  512317.505350
2021-11-09  44046.937545  334136.965711  511217.681004
2021-11-10  43879.939913  334136.965711  514724.477853
2021-11-11  45429.668751  334136.965711  515924.470995
2021-11-12  45623.382529  334136.965711  516792.430197
2021-11-16  44307.457200  334136.965711  514934.595212
2021-11-17  43419.033647  334136.965711  512968.947591
2021-11-18  41635.510607  334136.965711  509889.307967
2021-11-19  42771.083333  334136.965711  510213.164214
2021-11-22  45149.108883  334136.965711  512349.900528
2021-11-23  46338.123210  334136.965711  518570.702302
2021-11-24  47413.584606  334136.965711  522524.752361
2021-11-25  47092.950519  334136.965711  526008.581566
2021-11-26  45850.497695  334136.965711  520169.902715
2021-11-29  46424.959993  334136.965711  521632.851856
2021-11-30  46725.560072  334136.965711  521778.313127
2021-12-01  46912.594814  334136.965711  521172.673004
2021-12-02  49090.230651  334136.965711  530140.491249
2021-12-03  48008.096423  334136.965711  529653.705978
2021-12-06  50613.230934  334136.965711  534257.461978
2021-12-07  50987.300417  334136.965711  533843.009657
2021-12-08  50606.558102  334136.965711  533192.058962
2021-12-09  50219.121239  396873.305356  592642.850907
2021-12-10  50533.073188  396873.305356  594053.799885
2021-12-13  52009.320214  396873.305356  593526.922355
2021-12-14  52002.641177  396873.305356  594013.401070
2021-12-15  51708.735645  396873.305356  593219.635764
2021-12-16  53732.716413  396873.305356  596372.970358
2021-12-17  52884.382591  396873.305356  591606.031086
2021-12-20  52289.870775  396873.305356  587653.363639
2021-12-21  53665.919843  396873.305356  589068.322549
2021-12-22  53385.363077  396873.305356  588737.235594
2021-12-23  52871.030722  396873.305356  588457.041115
2021-12-27  52737.418968  396873.305356  589662.714208
2021-12-28  51468.253099  396873.305356  588102.529842
2021-12-29  51601.846241  396873.305356  587210.752397
2021-12-30  52076.110580  396873.305356  586708.972916

In [66]:
#ENTRADA 20 E 21 - etapa 1
inicio_2022_1 = '2022-01-01'
fim_2022_1 = '2022-09-16'

carteira_entrada_2022 = carteira.loc[inicio_2022_1:fim_2022_1]
carteira_normalizada20221 = pd.DataFrame()
for coluna in carteira_entrada_2022.columns:
    carteira_normalizada20221[coluna] = (carteira_entrada_2022[coluna] / carteira_entrada_2022[coluna].iloc[0])*valores_2021_22[coluna]
carteira_normalizada20221['ITUB4.SA'].iloc[-1] += acoes_num['ITUB4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[19]
carteira_normalizada20221['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[20]
carteira_normalizada20221['saldo'] = carteira_normalizada20221.sum(axis=1)
print(carteira_normalizada20221)

                 BBAS3.SA      BBDC3.SA      ITUB4.SA       PETR4.SA  \
Date
2022-01-03   70405.076750  70405.076750  70405.076750   70405.076750
2022-01-04   70478.351747  70734.066790  72401.696633   70671.305436
2022-01-05   69305.759135  70265.617057  71026.984509   67936.422384
2022-01-06   69867.632583  71032.155474  72467.137847   67888.012979
2022-01-07   69940.901158  71330.234004  74070.989927   68202.656191
...                   ...           ...           ...            ...
2022-09-12  110462.745142  77564.159938  90200.856196  113821.001527
2022-09-13  109341.245946  76464.976320  89268.210781  110820.007547
2022-09-14  109449.996060  76034.870261  88935.113512  112519.379895
2022-09-15  108335.368402  75700.336557  89168.280182  112302.436130
2022-09-16  107621.853474  74935.681565  88937.122565  111290.042132

                VALE3.SA          SELIC          saldo
Date
2022-01-03  70405.076750  234683.589166  586708.972916
2022-01-04  69574.654358  234683.589166  588543.664130
2022-01-05  70233.568773  234683.589166  583451.941024
2022-01-06  71650.712434  234683.589166  587589.240484
2022-01-07  75820.853819  234683.589166  594049.224265
...                  ...            ...            ...
2022-09-12  69171.706606  343005.845538  804226.314947
2022-09-13  67288.606531  343005.845538  796188.892663
2022-09-14  66056.213104  343005.845538  796001.418369
2022-09-15  67387.191969  343005.845538  795899.458778
2022-09-16  67288.606531  343005.845538  793079.151805

[179 rows x 7 columns]

In [67]:
#ENTRADA 20 E 21 - ETAPA 2
inicio_2022_2 = '2022-09-16'
fim_2022 = '2022-12-31'

carteira_geral22 = carteira.loc[inicio_2022_2:fim_2022]
carteira_normalizada_2022 = carteira_geral22 / carteira_geral22.iloc[0]
for coluna in carteira_normalizada_2022.columns:
    if coluna != 'saldo':
        carteira_normalizada_2022[coluna] *= carteira_normalizada20221[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2022['saldo'] = carteira_normalizada_2022.sum(axis=1)
valores_ult_2022 = (carteira_normalizada_2022['saldo'][-1] * 0.6) / 5
valores_ult_2022_selic = carteira_normalizada_2022['saldo'][-1] * 0.4
valores_2022 = {
    'BBAS3.SA': valores_ult_2022,
    'BBDC3.SA': valores_ult_2022,
    'ITUB4.SA': valores_ult_2022,
    'PETR4.SA': valores_ult_2022,
    'VALE3.SA': valores_ult_2022,
    'SELIC': valores_ult_2022_selic
}
print(carteira_normalizada_2022)
print(valores_ult_2022)

                 BBAS3.SA      BBDC3.SA      ITUB4.SA       PETR4.SA  \
Date
2022-09-16  107621.853474  74935.681565  88937.122565  111290.042132
2022-09-19  109752.452219  76751.718769  92270.575044  113061.718828
2022-09-20  111418.659753  79571.372312  95337.392190  112410.908012
2022-09-21  110626.542688  79045.683745  94337.335872  112700.156126
2022-09-22  112647.860767  80622.769754  96237.440748  115484.196100
...                   ...           ...           ...            ...
2022-12-23   99340.700597  64060.028788  85794.157342   97170.552185
2022-12-26   99199.918501  62573.611125  84091.194608   96474.255473
2022-12-27   95905.463882  62957.205236  83614.369866   97131.865621
2022-12-28   97623.066108  64875.170717  85317.311317   95932.705016
2022-12-29   97792.033014  64587.484018  85147.044132   94772.230976

                VALE3.SA          SELIC          saldo
Date
2022-09-16  67288.606531  343005.845538  793079.151805
2022-09-19  69467.479688  343005.845538  804309.790085
2022-09-20  68471.698856  343005.845538  810215.876661
2022-09-21  67485.794175  343005.845538  807201.358143
2022-09-22  69033.671064  343005.845538  817031.783971
...                  ...            ...            ...
2022-12-23  85393.727036  343005.845538  774765.011486
2022-12-26  86175.242366  343005.845538  771520.067609
2022-12-27  88232.927283  343005.845538  770847.677426
2022-12-28  88035.068933  343005.845538  774789.167629
2022-12-29  87926.238457  343005.845538  773230.876134

[72 rows x 7 columns]
92787.70513611719

In [68]:
#ENTRADA 22 E 23 etapa 1
inicio_2023_1 = '2023-01-01'
fim_2023_1 = '2023-07-21'

carteira_entrada_2023 = carteira.loc[inicio_2023_1:fim_2023_1]
carteira_normalizada_20231 = pd.DataFrame()
for coluna in carteira_entrada_2023.columns:
    carteira_normalizada_20231[coluna] = (carteira_entrada_2023[coluna] / carteira_entrada_2023[coluna].iloc[0])*valores_2022[coluna]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_20231['PETR4.SA'].iloc[-1] += acoes_num['PETR4.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[21]
carteira_normalizada_20231['BBAS3.SA'].iloc[-1] += acoes_num['BBAS3.SA'] * resultados_vendacoberta['ResultadosTotais'].iloc[22]
carteira_normalizada_20231['saldo'] = carteira_normalizada_20231.sum(axis=1)
print(carteira_normalizada_20231)

                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2023-01-02   92787.705136   92787.705136   92787.705136   92787.705136
2023-01-03   91058.044893   88401.128548   90855.396913   90439.665899
2023-01-04   92229.772285   89175.920772   91120.631462   93313.989054
2023-01-05   96442.311389   92063.939103   93962.253315   96674.087192
2023-01-06   97781.400097   94529.313703   95591.399158   96107.337208
...                   ...            ...            ...            ...
2023-07-17  148654.758607  109967.086181  111959.580802  140860.320775
2023-07-18  149149.139037  109517.957391  109784.870442  140082.881471
2023-07-19  146553.609817  109218.510888  108619.841683  141394.802929
2023-07-20  148160.352606  109892.241313  110639.244319  141540.570790
2023-07-21  150318.150467  113036.306700  112619.788478  144244.250843

                VALE3.SA          SELIC          saldo
Date
2023-01-02  92787.705136  309292.350454  773230.876134
2023-01-03  92621.638351  309292.350454  762668.225059
2023-01-04  92787.705136  309292.350454  767920.369163
2023-01-05  94344.537267  309292.350454  782779.478720
2023-01-06  95839.111944  309292.350454  789140.912564
...                  ...            ...            ...
2023-07-17  71967.605315  309292.350454  892701.702135
2023-07-18  71511.510982  309292.350454  889338.709777
2023-07-19  71320.591353  309292.350454  886399.707123
2023-07-20  71479.691777  309292.350454  891004.451259
2023-07-21  71914.574773  309292.350454  901425.421714

[139 rows x 7 columns]

In [69]:
#ENTRADA 22 E 23 etapa 2
inicio_2023_2 = '2023-07-21'
fim_2023 = '2023-12-31'

carteira_geral23 = carteira.loc[inicio_2023_2:fim_2023]
carteira_normalizada_2023 = carteira_geral23 / carteira_geral23.iloc[0]
for coluna in carteira_normalizada_2023.columns:
    if coluna != 'saldo':
        carteira_normalizada_2023[coluna] *= carteira_normalizada_20231[coluna].iloc[-1]
#                                                      acessando primeira linha/primeira operação
carteira_normalizada_2023['saldo'] = carteira_normalizada_2023.sum(axis=1)
valores_ult_2023 = (carteira_normalizada_2023['saldo'][-1] * 0.6) / 5
valores_ult_2023_selic = carteira_normalizada_2023['saldo'][-1] * 0.4
valores_2023 = {
    'BBAS3.SA': valores_ult_2023,
    'BBDC3.SA': valores_ult_2023,
    'ITUB4.SA': valores_ult_2023,
    'PETR4.SA': valores_ult_2023,
    'VALE3.SA': valores_ult_2023,
    'SELIC': valores_ult_2023_selic
}
print(carteira_normalizada_2023)
print(valores_ult_2023)

                 BBAS3.SA       BBDC3.SA       ITUB4.SA       PETR4.SA  \
Date
2023-07-21  150318.150467  113036.306700  112619.788478  144244.250843
2023-07-24  147374.994419  111089.982636  110833.402634  147257.450762
2023-07-25  146600.464151  110491.097079  111066.387880  150659.438568
2023-07-26  147839.710016  111389.406795  111687.752851  150659.438568
2023-07-27  144803.598030  108919.071833  109202.356062  142834.866613
...                   ...            ...            ...            ...
2023-12-21  178477.120932  116479.572807  130019.387863  190704.494509
2023-12-22  178970.219434  116769.091137  132081.284813  192538.703815
2023-12-26  180613.966574  117234.612956  133429.461854  195630.656033
2023-12-27  180350.982416  118088.078315  134341.449124  195787.860498
2023-12-28  182093.339000  118553.600135  134698.328795  195158.999761

                VALE3.SA          SELIC          saldo
Date
2023-07-21  71914.574773  309292.350454  901425.421714
2023-07-24  74088.980954  309292.350454  899937.161860
2023-07-25  76380.069282  309292.350454  904489.807415
2023-07-26  76114.898977  309292.350454  906983.557662
2023-07-27  74693.576639  309292.350454  889745.819631
...                  ...            ...            ...
2023-12-21  84939.044074  266364.852258  966984.472444
2023-12-22  84298.992075  266364.852258  971023.143533
2023-12-26  84596.953534  266364.852258  977870.503209
2023-12-27  85413.565839  266364.852258  980346.788450
2023-12-28  85192.850064  266364.852258  982061.970014

[110 rows x 7 columns]
117847.43640167922